<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增客户追踪')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-customertrack-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">客户名称：</label>
                <div class="col-sm-8">
                    <input type="hidden" name="customerId" id="customerId" th:value="${customerId}"/>
                    <input name="customerName" id="customerName" th:value="${customerName}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">成单状态：</label>
                <div class="col-sm-8">
                    <select name="singleState" class="form-control m-b" th:with="type=${@dict.getType('customer_single_state')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">报价状态：</label>
                <div class="col-sm-8">
                    <select name="reportpriceState" class="form-control m-b" th:with="type=${@dict.getType('customer_reportprice_state')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">合同待执行：</label>
                <div class="col-sm-8">
                    <input name="contractExecuted" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">报价待追踪：</label>
                <div class="col-sm-8">
                    <input name="offerTracked" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订货次数：</label>
                <div class="col-sm-8">
                    <input name="orderNumber" class="form-control" type="text" onkeyup="numberValidate(this)">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">追踪反馈：</label>
                <div class="col-sm-8">
                    <input name="feedback" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">email：</label>
                <div class="col-sm-8">
                    <input name="email" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">闭环时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="closedloopTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系人：</label>
                <div class="col-sm-8">
                    <input name="contacts" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">电话：</label>
                <div class="col-sm-8">
                    <input name="contactPhone" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">传真：</label>
                <div class="col-sm-8">
                    <input name="fax" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "fmis/customertrack"
        $("#form-customertrack-add").validate({
            focusCleanup: true
        });
        function numberValidate(value) {
            if (isNaN(value)) {
                return "必须是数字！";
            }
        }
        function selectCustomer() {
            var widthNum = this.innerWidth - 50;
            var heigthNum = this.innerHeight - 50;
            var url = prefix + "/selectCustomer";
            $.modal.open("关联客户", url,widthNum, heigthNum);
        }

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-customertrack-add').serialize());
            }
        }

        $("input[name='closedloopTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>