<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增借款管理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-data-add">
            <input type="hidden" name="bizId" value="borrowing"/>


            <div class="form-group">
                <label class="col-sm-3 control-label">借款单位：</label>
                <div class="col-sm-8">
                    <input name="string1" id="string1" class="form-control" type="hidden">
                    <div class="input-group">
                        <input name="deptName" onclick="selectDeptTree()" id="treeName" type="text" placeholder="请选择部门" class="form-control" required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">付款公司：</label>
                <div class="col-sm-8">
                    <input name="string10" id="string10" class="form-control" type="hidden">
                    <div class="input-group">
                        <input name="deptName1" onclick="selectDeptTree1()" id="treeName1" type="text" placeholder="请选择部门" class="form-control" required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">借款日期：</label>
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="datetime1" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">用   途：</label>
                <div class="col-sm-8">
                    <input name="string3" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">资金性质：</label>
                <div class="col-sm-8">
                    <select name="string4" class="form-control m-b" th:with="type=${@dict.getType('capital_property')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">户名：</label>
                <div class="col-sm-8">
                    <input name="string5" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">卡号：</label>
                <div class="col-sm-8">
                    <input name="string6" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">开户行：</label>
                <div class="col-sm-8">
                    <input name="string7" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">借款金额：</label>
                <div class="col-sm-8">
                    <input name="price1" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">预计还款日期：</label>
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="datetime2" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>

        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "fmis/borrowing"
        $("#form-data-add").validate({
            focusCleanup: true
        });


        function selectDeptTree() {
            var treeId = $("#string1").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#string1").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }
        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            var body = layer.getChildFrame('body', index);
            $("#string1").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }

        function selectDeptTree1() {
            var treeId = $("#string10").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#string10").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: url,
                callBack: doSubmit1
            };
            $.modal.openOptions(options);
        }
        function doSubmit1(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            var body = layer.getChildFrame('body', index);
            $("#string10").val(body.find('#treeId').val());
            $("#treeName1").val(body.find('#treeName').val());
            layer.close(index);
        }

        function submitHandler() {
            var vali = $.validate.form();
            console.log("vali=" + vali);
            if (vali) {
                var dataObj = $('#form-data-add').serializeArray();
                $.operate.save(prefix + "/add", dataObj);
            }
        }

        $("input[name='datetime1']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='datetime2']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

    </script>
</body>
</html>