<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改借款管理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-data-edit" th:object="${bizProcessData}">
            <input name="dataId" th:field="*{dataId}" type="hidden">
            <input type="hidden" name="bizId" value="borrowing"/>

            <div class="form-group">
                <label class="col-sm-3 control-label">借款单位：</label>
                <div class="col-sm-8">
                    <input name="string1" id="string1" th:field="*{string1}" class="form-control" type="hidden">
                    <div class="input-group">
                        <input class="form-control" type="text" name="deptName" readonly id="treeName" th:field="*{deptName}" required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">付款公司：</label>

                <div class="col-sm-8">
                    <input name="string10" id="string10" th:field="*{string10}" class="form-control" type="hidden">
                    <div class="input-group">
                        <input class="form-control" type="text" name="deptName1" readonly id="treeName1" th:field="*{deptName1}" required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">借款日期：</label>

                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="datetime1" th:value="${#dates.format(bizProcessData.datetime1, 'yyyy-MM-dd')}" readonly class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">用   途：</label>
                <div class="col-sm-8">
                    <input name="string3" th:field="*{string3}" readonly class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">资金性质：</label>
                <div class="col-sm-8">
                    <select name="string4" disabled class="form-control m-b" th:with="type=${@dict.getType('capital_property')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{string4}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">户名：</label>
                <div class="col-sm-8">
                    <input name="string5" th:field="*{string5}" readonly class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">卡号：</label>
                <div class="col-sm-8">
                    <input name="string6" th:field="*{string6}" readonly class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">开户行：</label>
                <div class="col-sm-8">
                    <input name="string7" th:field="*{string7}" readonly class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">借款金额：</label>
                <div class="col-sm-8">
                    <input name="price1" th:field="*{price1}" readonly class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">预计还款日期：</label>
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="datetime2" th:value="${#dates.format(bizProcessData.datetime2, 'yyyy-MM-dd')}" readonly class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>

            <div class="form-group has-success">
                <label class="col-sm-3 control-label">审批意见：</label>
                <div class="col-sm-8">
                    <select name="examineStatus" id="examineStatus" class="form-control m-b" th:with="type=${@dict.getType('examine_status')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>


            <div class="form-group has-success">
                <label class="col-sm-3 control-label" >审批备注：</label>
                <div class="col-sm-8">
                    <textarea name="examineRemark" class="form-control" id="examineRemark"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "fmis/borrowing";
        $("#form-data-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/doExamine", $('#form-data-edit').serialize());
            }
        }

        $("input[name='datetime1']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='datetime2']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='datetime3']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='datetime4']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='datetime5']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>