<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改合同管理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-data-edit" th:object="${bizProcessData}">
            <input name="dataId" th:field="*{dataId}" type="hidden">
            <input type="hidden" name="bizId" value="delivery"/>
            <div class="form-group">
                <label class="col-sm-3 control-label">价格1：</label>
                <div class="col-sm-8">
                    <input name="price1" th:field="*{price1}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">价格2：</label>
                <div class="col-sm-8">
                    <input name="price2" th:field="*{price2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">价格3：</label>
                <div class="col-sm-8">
                    <input name="price3" th:field="*{price3}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">价格4：</label>
                <div class="col-sm-8">
                    <input name="price4" th:field="*{price4}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">价格5：</label>
                <div class="col-sm-8">
                    <input name="price5" th:field="*{price5}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">价格6：</label>
                <div class="col-sm-8">
                    <input name="price6" th:field="*{price6}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">价格7：</label>
                <div class="col-sm-8">
                    <input name="price7" th:field="*{price7}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">价格8：</label>
                <div class="col-sm-8">
                    <input name="price8" th:field="*{price8}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">价格9：</label>
                <div class="col-sm-8">
                    <input name="price9" th:field="*{price9}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">价格10：</label>
                <div class="col-sm-8">
                    <input name="price10" th:field="*{price10}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用1：</label>
                <div class="col-sm-8">
                    <input name="string1" th:field="*{string1}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用2：</label>
                <div class="col-sm-8">
                    <input name="string2" th:field="*{string2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用3：</label>
                <div class="col-sm-8">
                    <input name="string3" th:field="*{string3}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用4：</label>
                <div class="col-sm-8">
                    <input name="string4" th:field="*{string4}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用5：</label>
                <div class="col-sm-8">
                    <input name="string5" th:field="*{string5}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用6：</label>
                <div class="col-sm-8">
                    <input name="string6" th:field="*{string6}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用7：</label>
                <div class="col-sm-8">
                    <input name="string7" th:field="*{string7}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用8：</label>
                <div class="col-sm-8">
                    <input name="string8" th:field="*{string8}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用9：</label>
                <div class="col-sm-8">
                    <input name="string9" th:field="*{string9}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用10：</label>
                <div class="col-sm-8">
                    <input name="string10" th:field="*{string10}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用11：</label>
                <div class="col-sm-8">
                    <input name="string11" th:field="*{string11}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用12：</label>
                <div class="col-sm-8">
                    <input name="string12" th:field="*{string12}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用13：</label>
                <div class="col-sm-8">
                    <input name="string13" th:field="*{string13}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用14：</label>
                <div class="col-sm-8">
                    <input name="string14" th:field="*{string14}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用15：</label>
                <div class="col-sm-8">
                    <input name="string15" th:field="*{string15}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用16：</label>
                <div class="col-sm-8">
                    <input name="string16" th:field="*{string16}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用17：</label>
                <div class="col-sm-8">
                    <input name="string17" th:field="*{string17}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用18：</label>
                <div class="col-sm-8">
                    <input name="string18" th:field="*{string18}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用19：</label>
                <div class="col-sm-8">
                    <input name="string19" th:field="*{string19}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用20：</label>
                <div class="col-sm-8">
                    <input name="string20" th:field="*{string20}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">时间1：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="datetime1" th:value="${#dates.format(bizProcessData.datetime1, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">时间2：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="datetime2" th:value="${#dates.format(bizProcessData.datetime2, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">时间3：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="datetime3" th:value="${#dates.format(bizProcessData.datetime3, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">时间4：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="datetime4" th:value="${#dates.format(bizProcessData.datetime4, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">时间5：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="datetime5" th:value="${#dates.format(bizProcessData.datetime5, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group has-success">
                <label class="col-sm-3 control-label">审批意见：</label>
                <div class="col-sm-8">
                    <select name="examineStatus" id="examineStatus" class="form-control m-b" th:with="type=${@dict.getType('examine_status')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>


            <div class="form-group has-success">
                <label class="col-sm-3 control-label" >审批备注：</label>
                <div class="col-sm-8">
                    <textarea name="examineRemark" class="form-control" id="examineRemark"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "fmis/delivery";
        $("#form-data-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/doExamine", $('#form-data-edit').serialize());
            }
        }

        $("input[name='datetime1']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='datetime2']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='datetime3']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='datetime4']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='datetime5']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>