<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('银行日记账列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <input type="hidden" name="type" value="2"/>
                        <!-- 收款类型=入账货款 需要分解 -->
                        <input type="hidden" name="collectionType" value="1"/>
                        <ul>
                            <li>
                                <p>凭证号：</p>
                                <input type="text" name="certificateNumber"/>
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('fmis:bill:edit')}]];
        var removeFlag = [[${@permission.hasPermi('fmis:bill:remove')}]];
        var collectionTypeDatas = [[${@dict.getType('collection_type2')}]];
        var paymentTypeDatas = [[${@dict.getType('payment_type2')}]];
        var prefix = ctx + "fmis/bill3";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                uniqueId: "billId",
                modalName: "现金日记账",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'billId', 
                    title : 'ID',
                    visible: false
                },
                {
                    field : 'xh', 
                    title : '序号'
                },
                {
                    field : 'd', 
                    title : '日期'
                },
                {
                    field : 'certificateNumber', 
                    title : '凭证号'
                },
                {
                    field : 'preMonthMoney', 
                    title : '上月结转'
                },
                {
                    field : 'collectionMoney', 
                    title : '收款'
                },
                {
                    field : 'collectionType', 
                    title : '收款类别',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(collectionTypeDatas, value);
                    }
                },
                {
                    field : 'payment', 
                    title : '付款'
                },
                {
                    field : 'paymentType', 
                    title : '付款类别',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(paymentTypeDatas, value);
                    }
                },
                {
                    field : 'balance', 
                    title : '余额'
                },
                {
                    field : 'dept.deptName',
                    title : '部门'
                },
                    {
                        field : 'createByName',
                        title : '经办人'
                    },
                    {
                        field : 'createTime',
                        title : '创建时间'
                    },
                {
                    field : 'remark', 
                    title : '备注'
                },

                {
                    title: '操作',
                    align: 'left',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="edit(\'' + row.billId + '\')"><i class="fa fa-edit"></i> 合同分解</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function edit(id) {
            if($.common.isEmpty(id) && $.table._option.type == table_type.bootstrapTreeTable) {
                var row = $.bttTable.bootstrapTreeTable('getSelections')[0];
                if ($.common.isEmpty(row)) {
                    $.modal.alertWarning("请至少选择一条记录");
                    return;
                }


                var url = $.table._option.updateUrl.replace("{id}", row[$.table._option.uniqueId]);
                $.modal.openFull("合同分解" + $.table._option.modalName, url);
            } else {
                var row = $('#bootstrap-table').bootstrapTable("getRowByUniqueId",id);
                if (row == null) {
                    row = $('#bootstrap-table').bootstrapTable('getSelections')[0];
                }

                $.modal.openFull("合同分解" + $.table._option.modalName, $.operate.editUrl(id));
            }
        }
    </script>
</body>
</html>