<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('采购列表')" />
    <style>
        .W60 .th-inner {
            width:120px !important;
        }
    </style>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <input type="hidden" id="pSessionId" name="pSessionId"/>
                    <div class="select-list">
                        <ul>
                            <input type="hidden" id="productsJsonParamter" value=""/>
                            <input type="hidden" id="bizEditFlag" value="-1"/>

                            <li>
                                <p>合同号：</p>
                                <input type="text" name="string1"/>
                            </li>
                            <!--
                            <li>
                                <p>客户名称：</p>
                                <input type="text" name="customerName"/>
                            </li>-->

                            <li>
                                <p>处理状态：</p>
                                <select name="dataStatus" id="dataStatus" class="form-control m-b" >
                                    <option value="">请选择</option>
                                    <option selected value="-1">未处理</option>
                                    <option value="1">已处理</option>
                                </select>
                            </li>

                            <li>
                                <p>采购状态：</p>
                                <select name="string23" id="string23" class="form-control m-b" >
                                    <option value="">请选择</option>
                                    <option value="0">未采购</option>
                                    <option value="1">采购中</option>
                                    <option value="2">处理完成</option>
                                    <option selected value="3">未完成采购</option>
                                </select>
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>

                        </ul>
                    </div>
                </form>
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" shiro:hasPermission="fmis:procurementpool:add" onclick="saveProcurement()" >
                    <i class="fa fa-plus"></i> 发起采购
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"  class="text-nowrap"></table>
            </div>
        </div>
         <input type="hidden" id="numJsonValue" name="numJsonValue"/>



         <input type="hidden" id="paramterSupplierId" name="paramterSupplierId"/>
         <input type="hidden" id="paramterContractNo" name="paramterContractNo"/>

         <input type="hidden" id="totalPrice" name="totalPrice"/>

         <input type="hidden" id="string3_parent" name="string3_parent"/>
         <input type="hidden" id="deptName_parent" name="deptName_parent"/>
         <input type="hidden" id="parentDataId" name="parentDataId"/>
    </div>
    <th:block th:include="include :: footer" />
     <th:block th:include="include :: bootstrap-editable-css" />
     <th:block th:include="include :: bootstrap-table-editable-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('fmis:data:edit')}]];
        var removeFlag = [[${@permission.hasPermi('fmis:data:remove')}]];
        var setupTypeData = [[${@dict.getType('actuator_setup_type')}]];
        var string2Datas = [[${@dict.getType('product_level')}]];
        var supplierTypeData = [[${@dict.getType('supplier_type')}]];


        var pSessionId = Math.random();
        console.log("data pSessionId=" + pSessionId);
        $("#pSessionId").val(pSessionId);
        function saveProcurement() {
            if (overAllIds.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }

            if (supplierMap.size != 1) {
                $.modal.alertWarning("请选择同一个供应商的数据");
                return;
            }
            var paramterSupplierId = "";
            supplierMap.forEach(function (value, key, map) {
                paramterSupplierId = key;
            })
            console.log("paramterSupplierId=" + paramterSupplierId);
            $("#paramterSupplierId").val(paramterSupplierId);
            $("#string3_parent").val(string3_parent);
            $("#deptName_parent").val(deptName_parent);
            console.log("string3_parent=" + string3_parent);
            console.log("deptName_parent=" + deptName_parent);
            var price1 = 0;
            priceMap.forEach(function (value, key, map) {
                price1 = FloatAdd(price1,value);
            });
            $("#totalPrice").val(price1);

            console.log("price1=" + price1);

            var datas = [];
            $.each(overAllIds,function(index,value){
                var num = numberMap.get(value);
                if (num == null) {
                    num = "-1";
                }
                var jsonData = {"id" : value,"num" : num};
                datas.push(jsonData);
            })
            var dataId = "";
            haoliMap.forEach(function (value, key, map) {
                dataId = key;
            })
            console.log("dataId=" + dataId);
            var url = ctx + "fmis/procurement/addpool/"+dataId;
            $("#numJsonValue").val(JSON.stringify(datas));

            $.modal.openFull("审批", url);
        }
    </script>
     <script th:src="@{/js/biz/procurementS.js}"></script>
</body>
</html>