<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('采购合同的汇总统计')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            供应商名称：<input type="text" name="supplierName"/>
                        </li>
                        <li class="select-time">
                            <label>时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="startTime"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">

    var prefix = ctx + "finance/procurement/summary";
    $(function () {
        var options = {
            url: prefix + "/list",
            modalName: "采购合同汇总",
            columns: [
                {
                    field: 'rowId', title: '序号', visible: true, formatter: function (value, row, index) {
                        row.rowId = index;
                        return index + 1;
                    }
                },
                {
                    field: 'supplierName',
                    title: '供应商'
                },
                {
                    field: 'contractAmount',
                    title: '合同额'
                },
                {
                    field: 'needPayAmount',
                    title: '应付款'
                },
                {
                    field: 'paidAmount',
                    title: '已付款'
                },
                {
                    field: 'invoicedAmount',
                    title: '已开票'
                },
                {
                    title: '操作',
                    align: 'left',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="viewDetail(\'' + row.supplierId + '\')"><i class="fa fa-remove"></i> 合同详情 </a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function viewDetail(dataId) {
        console.log(dataId)
        var url = ctx + "fmis/procurement?supplierId=" + dataId;
        $.modal.openTab("合同列表", url);
    }
</script>
</body>
</html>