<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fmis.actuatorref.mapper.BizActuatorRefMapper">
    
    <resultMap type="BizActuatorRef" id="BizActuatorRefResult">
        <result property="arId"    column="ar_id"    />
        <result property="brand"    column="brand"    />
        <result property="driveType"    column="drive_type"    />
        <result property="mediaType"    column="media_type"    />
        <result property="series"    column="series"    />
        <result property="valveType"    column="valve_type"    />
        <result property="topFlange"    column="top_flange"    />
        <result property="pressure"    column="pressure"    />
        <result property="torsion"    column="torsion"    />
        <result property="multiplyingPower"    column="multiplying_power"    />
        <result property="driveMode"    column="drive_mode"    />
        <result property="fitType"    column="fit_type"    />
        <result property="string1"    column="string1"    />
        <result property="string2"    column="string2"    />
        <result property="string3"    column="string3"    />
        <result property="string4"    column="string4"    />
        <result property="string5"    column="string5"    />
        <result property="string6"    column="string6"    />
        <result property="string7"    column="string7"    />
        <result property="string8"    column="string8"    />
        <result property="string9"    column="string9"    />
        <result property="string10"    column="string10"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBizActuatorRefVo">
        select ar_id, brand, drive_type, media_type,series, valve_type, top_flange, pressure, torsion, multiplying_power, drive_mode, fit_type, string1, string2, string3, string4, string5, string6, string7, string8, string9, string10, remark, status, del_flag, create_by, create_time, update_by, update_time from biz_actuator_ref
    </sql>

    <sql id="selectBizActuatorRefDictVo">
      select ar.ar_id, ar.brand, ar.drive_type, ar.media_type, d3.NAME AS series,d1.name as valve_type, ar.top_flange, d2.name as pressure, ar.torsion, ar.multiplying_power, ar.drive_mode, ar.fit_type, ar.string1, ar.string2, ar.string3, ar.string4, ar.string5, ar.string6, ar.string7, ar.string8, ar.string9, ar.string10, ar.remark, ar.status, ar.del_flag, ar.create_by, ar.create_time, ar.update_by, ar.update_time from biz_actuator_ref ar
        left join biz_dict d1 on d1.dict_id=ar.valve_type
	    left join biz_dict d2 on d2.dict_id=ar.pressure
        LEFT JOIN biz_dict d3 ON d3.dict_id = ar.series
    </sql>

    <select id="selectBizActuatorRefList" parameterType="BizActuatorRef" resultMap="BizActuatorRefResult">
        <include refid="selectBizActuatorRefDictVo"/>
        <where>  
            <if test="brand != null  and brand != ''"> and ar.brand like concat('%', #{brand}, '%')</if>

            <if test="driveType != null  and driveType != ''"> and ar.drive_type = #{driveType} </if>
            <if test="valveType != null  and valveType != ''"> and ar.valve_type = #{valveType}</if>
        </where>
        order by ar.create_time desc
    </select>
    
    <select id="selectBizActuatorRefById" parameterType="Long" resultMap="BizActuatorRefResult">
        <include refid="selectBizActuatorRefVo"/>
        where ar_id = #{arId}
    </select>
        
    <insert id="insertBizActuatorRef" parameterType="BizActuatorRef" useGeneratedKeys="true" keyProperty="arId">
        insert into biz_actuator_ref
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="brand != null  and brand != ''">brand,</if>
            <if test="driveType != null  and driveType != ''">drive_type,</if>
            <if test="mediaType != null  and mediaType != ''">media_type,</if>
            <if test="series != null  and series != ''">series,</if>
            <if test="valveType != null  and valveType != ''">valve_type,</if>
            <if test="topFlange != null  and topFlange != ''">top_flange,</if>
            <if test="pressure != null  and pressure != ''">pressure,</if>
            <if test="torsion != null  and torsion != ''">torsion,</if>
            <if test="multiplyingPower != null  and multiplyingPower != ''">multiplying_power,</if>
            <if test="driveMode != null  and driveMode != ''">drive_mode,</if>
            <if test="fitType != null  and fitType != ''">fit_type,</if>
            <if test="string1 != null  and string1 != ''">string1,</if>
            <if test="string2 != null  and string2 != ''">string2,</if>
            <if test="string3 != null  and string3 != ''">string3,</if>
            <if test="string4 != null  and string4 != ''">string4,</if>
            <if test="string5 != null  and string5 != ''">string5,</if>
            <if test="string6 != null  and string6 != ''">string6,</if>
            <if test="string7 != null  and string7 != ''">string7,</if>
            <if test="string8 != null  and string8 != ''">string8,</if>
            <if test="string9 != null  and string9 != ''">string9,</if>
            <if test="string10 != null  and string10 != ''">string10,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="brand != null  and brand != ''">#{brand},</if>
            <if test="driveType != null  and driveType != ''">#{driveType},</if>
            <if test="mediaType != null  and mediaType != ''">#{mediaType},</if>
            <if test="series != null  and series != ''">#{series},</if>
            <if test="valveType != null  and valveType != ''">#{valveType},</if>
            <if test="topFlange != null  and topFlange != ''">#{topFlange},</if>
            <if test="pressure != null  and pressure != ''">#{pressure},</if>
            <if test="torsion != null  and torsion != ''">#{torsion},</if>
            <if test="multiplyingPower != null  and multiplyingPower != ''">#{multiplyingPower},</if>
            <if test="driveMode != null  and driveMode != ''">#{driveMode},</if>
            <if test="fitType != null  and fitType != ''">#{fitType},</if>
            <if test="string1 != null  and string1 != ''">#{string1},</if>
            <if test="string2 != null  and string2 != ''">#{string2},</if>
            <if test="string3 != null  and string3 != ''">#{string3},</if>
            <if test="string4 != null  and string4 != ''">#{string4},</if>
            <if test="string5 != null  and string5 != ''">#{string5},</if>
            <if test="string6 != null  and string6 != ''">#{string6},</if>
            <if test="string7 != null  and string7 != ''">#{string7},</if>
            <if test="string8 != null  and string8 != ''">#{string8},</if>
            <if test="string9 != null  and string9 != ''">#{string9},</if>
            <if test="string10 != null  and string10 != ''">#{string10},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBizActuatorRef" parameterType="BizActuatorRef">
        update biz_actuator_ref
        <trim prefix="SET" suffixOverrides=",">
            <if test="brand != null  and brand != ''">brand = #{brand},</if>
            <if test="driveType != null  and driveType != ''">drive_type = #{driveType},</if>
            <if test="mediaType != null  and mediaType != ''">media_type = #{mediaType},</if>
            <if test="series != null  and series != ''">series = #{series},</if>
            <if test="valveType != null  and valveType != ''">valve_type = #{valveType},</if>
            <if test="topFlange != null  and topFlange != ''">top_flange = #{topFlange},</if>
            <if test="pressure != null  and pressure != ''">pressure = #{pressure},</if>
            <if test="torsion != null  and torsion != ''">torsion = #{torsion},</if>
            <if test="multiplyingPower != null  and multiplyingPower != ''">multiplying_power = #{multiplyingPower},</if>
            <if test="driveMode != null  and driveMode != ''">drive_mode = #{driveMode},</if>
            <if test="fitType != null  and fitType != ''">fit_type = #{fitType},</if>
            <if test="string1 != null  and string1 != ''">string1 = #{string1},</if>
            <if test="string2 != null  and string2 != ''">string2 = #{string2},</if>
            <if test="string3 != null  and string3 != ''">string3 = #{string3},</if>
            <if test="string4 != null  and string4 != ''">string4 = #{string4},</if>
            <if test="string5 != null  and string5 != ''">string5 = #{string5},</if>
            <if test="string6 != null  and string6 != ''">string6 = #{string6},</if>
            <if test="string7 != null  and string7 != ''">string7 = #{string7},</if>
            <if test="string8 != null  and string8 != ''">string8 = #{string8},</if>
            <if test="string9 != null  and string9 != ''">string9 = #{string9},</if>
            <if test="string10 != null  and string10 != ''">string10 = #{string10},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where ar_id = #{arId}
    </update>

    <delete id="deleteBizActuatorRefById" parameterType="Long">
        delete from biz_actuator_ref where ar_id = #{arId}
    </delete>

    <delete id="deleteBizActuatorRefByIds" parameterType="String">
        delete from biz_actuator_ref where ar_id in 
        <foreach item="arId" collection="array" open="(" separator="," close=")">
            #{arId}
        </foreach>
    </delete>
    
</mapper>