<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fmis.finance.mapper.BizBillMapper">
    
    <resultMap type="BizBill" id="BizBillResult">
        <result property="billId"    column="bill_id"    />
        <result property="serialNo"    column="serial_no"    />
        <result property="operateDate"    column="operate_date"    />
        <result property="certificateNumber"    column="certificate_number"    />
        <result property="payWay"    column="pay_way"    />
        <result property="payAccount"    column="pay_account"    />
        <result property="payCompany"    column="pay_company"    />
        <result property="preMonthMoney"    column="pre_month_money"    />
        <result property="collectionMoney"    column="collection_money"    />
        <result property="collectionType"    column="collection_type"    />
        <result property="payment"    column="payment"    />
        <result property="paymentType"    column="payment_type"    />
        <result property="balance"    column="balance"    />
        <result property="type"    column="type"    />
        <result property="deptId"    column="dept_id"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createByName"    column="createByName"    />
        <result property="billAmount"    column="billAmount"    />
        <association property="dept"    column="dept_id" javaType="SysDept" resultMap="deptResult" />
    </resultMap>
    <resultMap id="deptResult" type="SysDept">
        <id     property="deptId"   column="dept_id"     />
        <result property="parentId" column="parent_id"   />
        <result property="deptName" column="dept_name"   />
        <result property="orderNum" column="order_num"   />
        <result property="leader"   column="leader"      />
        <result property="status"   column="dept_status" />
    </resultMap>

    <sql id="selectBizBillVo">
        select b.bill_id, b.serial_no, b.operate_date, b.certificate_number, b.pay_way, b.pay_account,b.pay_company, b.pre_month_money, b.collection_money, b.collection_type, b.payment, b.payment_type, b.balance,
        b.type, b.dept_id,  b.remark, b.del_flag, b.create_by, b.create_time, b.update_by, b.update_time,
        d.parent_id, d.dept_name, d.order_num, d.leader, d.status as dept_status,
         u.user_name as createByName,sum(bc.amount) as billAmount
        from biz_bill b
        left join sys_dept d on d.dept_id = b.dept_id
        left join sys_user u on u.user_id=b.create_by
        left join biz_bill_contract bc on bc.bill_id=b.bill_id
    </sql>

    <select id="selectBizBillList" parameterType="BizBill" resultMap="BizBillResult">
        <include refid="selectBizBillVo"/>
        <where>  
            <if test="serial_no != null  and serial_no != ''"> and b.serial_no like concat('%', #{serial_no}, '%')</if>
            <if test="certificateNumber != null  and certificateNumber != ''"> and b.certificate_number = #{certificateNumber}</if>
            <if test="paymentType != null  and paymentType != ''"> and b.payment_type = #{paymentType}</if>
            <if test="collectionType != null  and collectionType != ''"> and b.collection_type = #{collectionType}</if>
            <if test="balance != null "> and b.balance = #{balance}</if>
            <if test="type != null "> and b.type = #{type}</if>
            <if test="payAccount != null and payAccount != ''"> and b.pay_account = #{payAccount}</if>
            <if test="billId != null  and billId != ''"> and b.bill_id = #{billId}</if>
        </where>
    </select>
    
    <select id="selectBizBillById" parameterType="Long" resultMap="BizBillResult">
        <include refid="selectBizBillVo"/>
        where b.bill_id = #{billId}
    </select>
    
</mapper>