<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fmis.finance.mapper.BizBillContractMapper">
    
    <resultMap type="BizBillContract" id="BizBillContractResult">
        <result property="bcId"    column="bc_id"    />
        <result property="billId"    column="bill_id"    />
        <result property="dataId"    column="data_id"    />
        <result property="amount"    column="amount"    />
        <result property="bookKeeper"    column="book_keeper"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBizBillContractVo">
        select bc_id, bill_id, data_id, amount, book_keeper, remark, create_by, create_time, update_by, update_time from biz_bill_contract
    </sql>

    <select id="selectBizBillContractList" parameterType="BizBillContract" resultMap="BizBillContractResult">
        <include refid="selectBizBillContractVo"/>
        <where>  
            <if test="billId != null "> and bill_id = #{billId}</if>
            <if test="dataId != null "> and data_id = #{dataId}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="bookKeeper != null  and bookKeeper != ''"> and book_keeper = #{bookKeeper}</if>
        </where>
    </select>
    
    <select id="selectBizBillContractById" parameterType="Long" resultMap="BizBillContractResult">
        <include refid="selectBizBillContractVo"/>
        where bc_id = #{bcId}
    </select>
        
    <insert id="insertBizBillContract" parameterType="BizBillContract" useGeneratedKeys="true" keyProperty="bcId">
        insert into biz_bill_contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="billId != null ">bill_id,</if>
            <if test="dataId != null ">data_id,</if>
            <if test="amount != null ">amount,</if>
            <if test="bookKeeper != null  and bookKeeper != ''">book_keeper,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="billId != null ">#{billId},</if>
            <if test="dataId != null ">#{dataId},</if>
            <if test="amount != null ">#{amount},</if>
            <if test="bookKeeper != null  and bookKeeper != ''">#{bookKeeper},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBizBillContract" parameterType="BizBillContract">
        update biz_bill_contract
        <trim prefix="SET" suffixOverrides=",">
            <if test="billId != null ">bill_id = #{billId},</if>
            <if test="dataId != null ">data_id = #{dataId},</if>
            <if test="amount != null ">amount = #{amount},</if>
            <if test="bookKeeper != null  and bookKeeper != ''">book_keeper = #{bookKeeper},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where bc_id = #{bcId}
    </update>

    <delete id="deleteBizBillContractById" parameterType="Long">
        delete from biz_bill_contract where bc_id = #{bcId}
    </delete>

    <delete id="deleteBizBillContractByIds" parameterType="String">
        delete from biz_bill_contract where bc_id in 
        <foreach item="bcId" collection="array" open="(" separator="," close=")">
            #{bcId}
        </foreach>
    </delete>
    
</mapper>