<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fmis.customer.mapper.BizCustomerMapper">
    
    <resultMap type="BizCustomer" id="BizCustomerResult">
        <result property="customerId"    column="customer_id"    />
        <result property="recordDate"    column="record_date"    />
        <result property="companyCode"    column="company_code"    />
        <result property="area"    column="area"    />
        <result property="recordCode"    column="record_code"    />
        <result property="ownerUserId"    column="owner_user_id"    />
        <result property="name"    column="name"    />
        <result property="projectAme"    column="project_ame"    />
        <result property="contactName"    column="contact_name"    />
        <result property="contactPosition"    column="contact_position"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="contactEmail"    column="contact_email"    />
        <result property="brand"    column="brand"    />
        <result property="info"    column="info"    />
        <result property="productInfo"    column="product_info"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />

        <result property="areaCode"    column="area_code"    />
        <result property="source"    column="source"    />
        <result property="recordType"    column="record_type"    />
        <result property="recordNum"    column="record_num"    />
        <result property="telephone"    column="telephone"    />
        <result property="fax"    column="fax"    />
        <result property="companyAddress"    column="company_address"    />
        <result property="deptId"    column="dept_id"    />

        <result property="customerLevel"    column="customer_level"    />
        <result property="codeName"    column="code_name"    />
        <result property="industryDivision"    column="industry_division"    />
        <result property="allocationDate"    column="allocation_date"    />
        <result property="assignNumber"    column="assign_number"    />
        <result property="fileNumber"    column="file_number"    />
        <result property="filePaths"    column="file_paths"    />

        <result property="newStatus"    column="new_status"    />
    </resultMap>

    <sql id="selectBizCustomerVo">
        select customer_id, record_date, company_code, area, record_code, owner_user_id, name, project_ame, contact_name, contact_position, contact_phone, contact_email, brand, info, product_info, remark, status, del_flag, create_by, create_time, update_by, update_time,area_code,source,record_type,record_num,telephone,fax,company_address,dept_id,
         customer_level,code_name,industry_division,allocation_date,assign_number,file_number,file_paths,new_status
         from biz_customer
    </sql>

    <sql id="selectBizCustomerDictVo">
        select c.customer_id, c.record_date, c.company_code, c.area, c.record_code, u.user_name as owner_user_id, c.name, c.project_ame, c.contact_name, c.contact_position, c.contact_phone, c.contact_email, c.brand, c.info, c.product_info, c.remark, c.status, c.del_flag, c.create_by, c.create_time, c.update_by, c.update_time,
        c.area_code,c.source,c.record_type,c.record_num,c.telephone,c.fax,c.company_address,c.dept_id,dt.dept_name deptName,
        c.customer_level,c.code_name,c.industry_division,c.allocation_date,c.assign_number,c.file_number,c.file_paths,c.new_status
        from biz_customer c
        left join sys_user u on c.owner_user_id=u.user_id

        left join sys_dept dt on u.dept_id=dt.dept_id

        where c.del_flag = '0'
        <!-- 数据范围过滤 -->
        ${params.dataScope}

    </sql>

    <select id="selectBizCustomerList" parameterType="BizCustomer" resultMap="BizCustomerResult">
        <include refid="selectBizCustomerDictVo"/>
            <if test="recordDate != null "> and c.record_date = #{recordDate}</if>
            <if test="companyCode != null  and companyCode != ''"> and c.company_code like concat('%', #{companyCode}, '%')</if>
            <if test="area != null  and area != ''"> and c.area = #{area}</if>
            <if test="recordCode != null  and recordCode != ''"> and c.record_code = #{recordCode}</if>
            <if test="ownerUserId != null and ownerUserId != ''"> and c.owner_user_id = #{ownerUserId}</if>
            <if test="name != null  and name != ''"> and c.name like concat('%', #{name}, '%')</if>
            <if test="projectAme != null  and projectAme != ''"> and c.project_ame like concat('%', #{projectAme}, '%') </if>
            <if test="contactName != null  and contactName != ''"> and c.contact_name like concat('%', #{contactName}, '%')</if>
            <if test="contactPosition != null  and contactPosition != ''"> and c.contact_position = #{contactPosition}</if>
            <if test="contactPhone != null  and contactPhone != ''"> and c.contact_phone = #{contactPhone}</if>
            <if test="contactEmail != null  and contactEmail != ''"> and c.contact_email = #{contactEmail}</if>
            <if test="brand != null  and brand != ''"> and c.brand = #{brand}</if>
            <if test="info != null  and info != ''"> and c.info = #{info}</if>
            <if test="productInfo != null  and productInfo != ''"> and c.product_info = #{productInfo}</if>
            <if test="status != null  and status != ''"> and c.status = #{status}</if>
        order by c.create_time desc
    </select>
    
    <select id="selectBizCustomerById" parameterType="Long" resultMap="BizCustomerResult">
        <include refid="selectBizCustomerVo"/>
        where customer_id = #{customerId}
    </select>
        
    <insert id="insertBizCustomer" parameterType="BizCustomer" useGeneratedKeys="true" keyProperty="customerId">
        insert into biz_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordDate != null ">record_date,</if>
            <if test="companyCode != null  and companyCode != ''">company_code,</if>
            <if test="area != null  and area != ''">area,</if>
            <if test="recordCode != null  and recordCode != ''">record_code,</if>
            <if test="ownerUserId != null and ownerUserId != ''">owner_user_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="projectAme != null  and projectAme != ''">project_ame,</if>
            <if test="contactName != null  and contactName != ''">contact_name,</if>
            <if test="contactPosition != null  and contactPosition != ''">contact_position,</if>
            <if test="contactPhone != null  and contactPhone != ''">contact_phone,</if>
            <if test="contactEmail != null  and contactEmail != ''">contact_email,</if>
            <if test="brand != null  and brand != ''">brand,</if>
            <if test="info != null  and info != ''">info,</if>
            <if test="productInfo != null  and productInfo != ''">product_info,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>

            <if test="areaCode != null ">area_code,</if>
            <if test="source != null ">source,</if>
            <if test="recordType != null ">record_type,</if>
            <if test="recordNum != null ">record_num,</if>
            <if test="telephone != null ">telephone,</if>
            <if test="fax != null ">fax,</if>
            <if test="companyAddress != null ">company_address,</if>
            <if test="deptId != null ">dept_id,</if>

            <if test="customerLevel != null ">customer_level,</if>
            <if test="codeName != null ">code_name,</if>
            <if test="industryDivision != null ">industry_division,</if>
            <if test="allocationDate != null ">allocation_date,</if>
            <if test="assignNumber != null ">assign_number,</if>
            <if test="fileNumber != null ">file_number,</if>
            <if test="filePaths != null ">file_paths,</if>
            <if test="newStatus != null ">new_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordDate != null ">#{recordDate},</if>
            <if test="companyCode != null  and companyCode != ''">#{companyCode},</if>
            <if test="area != null  and area != ''">#{area},</if>
            <if test="recordCode != null  and recordCode != ''">#{recordCode},</if>
            <if test="ownerUserId != null and ownerUserId != ''">#{ownerUserId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="projectAme != null  and projectAme != ''">#{projectAme},</if>
            <if test="contactName != null  and contactName != ''">#{contactName},</if>
            <if test="contactPosition != null  and contactPosition != ''">#{contactPosition},</if>
            <if test="contactPhone != null  and contactPhone != ''">#{contactPhone},</if>
            <if test="contactEmail != null  and contactEmail != ''">#{contactEmail},</if>
            <if test="brand != null  and brand != ''">#{brand},</if>
            <if test="info != null  and info != ''">#{info},</if>
            <if test="productInfo != null  and productInfo != ''">#{productInfo},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>

            <if test="areaCode != null ">#{areaCode},</if>
            <if test="source != null ">#{source},</if>
            <if test="recordType != null ">#{recordType},</if>
            <if test="recordNum != null ">#{recordNum},</if>
            <if test="telephone != null ">#{telephone},</if>
            <if test="fax != null ">#{fax},</if>
            <if test="companyAddress != null ">#{companyAddress},</if>
            <if test="deptId != null ">#{deptId},</if>

            <if test="customerLevel != null ">#{customerLevel},</if>
            <if test="codeName != null ">#{codeName},</if>
            <if test="industryDivision != null ">#{industryDivision},</if>
            <if test="allocationDate != null ">#{allocationDate},</if>
            <if test="assignNumber != null ">#{assignNumber},</if>
            <if test="fileNumber != null ">#{fileNumber},</if>
            <if test="filePaths != null ">#{filePaths},</if>
            <if test="newStatus != null ">#{newStatus},</if>
         </trim>
    </insert>

    <update id="updateBizCustomer" parameterType="BizCustomer">
        update biz_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordDate != null ">record_date = #{recordDate},</if>
            <if test="companyCode != null  and companyCode != ''">company_code = #{companyCode},</if>
            <if test="area != null  and area != ''">area = #{area},</if>
            <if test="recordCode != null  and recordCode != ''">record_code = #{recordCode},</if>
            <if test="ownerUserId != null and ownerUserId != ''">owner_user_id = #{ownerUserId},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="projectAme != null  and projectAme != ''">project_ame = #{projectAme},</if>
            <if test="contactName != null  and contactName != ''">contact_name = #{contactName},</if>
            <if test="contactPosition != null  and contactPosition != ''">contact_position = #{contactPosition},</if>
            <if test="contactPhone != null  and contactPhone != ''">contact_phone = #{contactPhone},</if>
            <if test="contactEmail != null  and contactEmail != ''">contact_email = #{contactEmail},</if>
            <if test="brand != null  and brand != ''">brand = #{brand},</if>
            <if test="info != null  and info != ''">info = #{info},</if>
            <if test="productInfo != null  and productInfo != ''">product_info = #{productInfo},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>

            <if test="areaCode != null ">area_code = #{areaCode},</if>
            <if test="source != null ">source = #{source},</if>
            <if test="recordType != null ">record_type = #{recordType},</if>
            <if test="recordNum != null ">record_num = #{recordNum},</if>
            <if test="telephone != null ">telephone = #{telephone},</if>
            <if test="fax != null ">fax = #{fax},</if>
            <if test="companyAddress != null ">company_address = #{companyAddress},</if>
            <if test="deptId != null ">dept_id = #{deptId},</if>

            <if test="customerLevel != null ">customer_level = #{customerLevel},</if>
            <if test="codeName != null ">code_name = #{codeName},</if>
            <if test="industryDivision != null ">industry_division = #{industryDivision},</if>
            <if test="allocationDate != null ">allocation_date = #{allocationDate},</if>
            <if test="assignNumber != null ">assign_number = #{assignNumber},</if>
            <if test="fileNumber != null ">file_number = #{fileNumber},</if>
            <if test="filePaths != null ">file_paths = #{filePaths},</if>
            <if test="newStatus != null ">new_status = #{newStatus},</if>
        </trim>
        where customer_id = #{customerId}
    </update>

    <delete id="deleteBizCustomerById" parameterType="Long">
        delete from biz_customer where customer_id = #{customerId}
    </delete>

    <delete id="deleteBizCustomerByIds" parameterType="String">
        delete from biz_customer where customer_id in 
        <foreach item="customerId" collection="array" open="(" separator="," close=")">
            #{customerId}
        </foreach>
    </delete>
    
</mapper>