<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fmis.productref.mapper.BizProductRefMapper">
    
    <resultMap type="BizProductRef" id="BizProductRefResult">
        <result property="productRefId"    column="product_ref_id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="model"    column="model"    />
        <result property="specifications"    column="specifications"    />
        <result property="valvebodyMaterial"    column="valvebody_material"    />
        <result property="materialRequire"    column="material_require"    />
        <result property="price"    column="price"    />
        <result property="remark"    column="remark"    />
        <result property="suppliersId"    column="suppliers_id"    />
        <result property="string1"    column="string1"    />
        <result property="string2"    column="string2"    />
        <result property="string3"    column="string3"    />
        <result property="string4"    column="string4"    />
        <result property="string5"    column="string5"    />
        <result property="string6"    column="string6"    />
        <result property="string7"    column="string7"    />
        <result property="string8"    column="string8"    />
        <result property="string9"    column="string9"    />
        <result property="string10"    column="string10"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBizProductRefVo">
        select product_ref_id, name, type, model, specifications, valvebody_material, material_require, price, remark, suppliers_id, string1, string2, string3, string4, string5, string6, string7, string8, string9, string10, status, del_flag, create_by, create_time, update_by, update_time from biz_product_ref
    </sql>


    <sql id="selectBizProductRefDictVo">
      select distinct pr.product_ref_id, pr.name, pr.type, pr.model, d1.name as specifications, d2.name as valvebody_material, pr.material_require, pr.price,
	    pr.remark, pr.suppliers_id, pr.string1, pr.string2, pr.string3, pr.string4, pr.string5, pr.string6, pr.string7, pr.string8,
	    pr.string9, pr.string10, pr.status, pr.del_flag, pr.create_by, pr.create_time, pr.update_by, pr.update_time,s.name as  suppliersName
	 from biz_product_ref pr
	 left join biz_dict d1 on d1.dict_id=pr.specifications
	 left join biz_dict d2 on d2.dict_id=pr.valvebody_material
	 left join biz_suppliers s on s.suppliers_id=pr.suppliers_id
    </sql>

    <select id="selectBizProductRefList" parameterType="BizProductRef" resultMap="BizProductRefResult">
        <include refid="selectBizProductRefDictVo"/>
        <where>
            <if test="productRefId != null  and productRefId != ''"> and pr.product_ref_id = #{productRefId}</if>
            <if test="name != null  and name != ''"> and pr.name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and pr.type = #{type}</if>
            <if test="specifications != null  and specifications != ''"> and d1.name=#{specifications}</if>
            <if test="valvebodyMaterial != null  and valvebodyMaterial != ''"> and d2.name=#{valvebodyMaterial}</if>
        </where>
        order by pr.create_time desc
    </select>
    
    <select id="selectBizProductRefById" parameterType="Long" resultMap="BizProductRefResult">
        <include refid="selectBizProductRefVo"/>
        where product_ref_id = #{productRefId}
    </select>
        
    <insert id="insertBizProductRef" parameterType="BizProductRef" useGeneratedKeys="true" keyProperty="productRefId">
        insert into biz_product_ref
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="model != null  and model != ''">model,</if>
            <if test="specifications != null  and specifications != ''">specifications,</if>
            <if test="valvebodyMaterial != null  and valvebodyMaterial != ''">valvebody_material,</if>
            <if test="materialRequire != null  and materialRequire != ''">material_require,</if>
            <if test="price != null ">price,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="suppliersId != null ">suppliers_id,</if>
            <if test="string1 != null  and string1 != ''">string1,</if>
            <if test="string2 != null  and string2 != ''">string2,</if>
            <if test="string3 != null  and string3 != ''">string3,</if>
            <if test="string4 != null  and string4 != ''">string4,</if>
            <if test="string5 != null  and string5 != ''">string5,</if>
            <if test="string6 != null  and string6 != ''">string6,</if>
            <if test="string7 != null  and string7 != ''">string7,</if>
            <if test="string8 != null  and string8 != ''">string8,</if>
            <if test="string9 != null  and string9 != ''">string9,</if>
            <if test="string10 != null  and string10 != ''">string10,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="model != null  and model != ''">#{model},</if>
            <if test="specifications != null  and specifications != ''">#{specifications},</if>
            <if test="valvebodyMaterial != null  and valvebodyMaterial != ''">#{valvebodyMaterial},</if>
            <if test="materialRequire != null  and materialRequire != ''">#{materialRequire},</if>
            <if test="price != null ">#{price},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="suppliersId != null ">#{suppliersId},</if>
            <if test="string1 != null  and string1 != ''">#{string1},</if>
            <if test="string2 != null  and string2 != ''">#{string2},</if>
            <if test="string3 != null  and string3 != ''">#{string3},</if>
            <if test="string4 != null  and string4 != ''">#{string4},</if>
            <if test="string5 != null  and string5 != ''">#{string5},</if>
            <if test="string6 != null  and string6 != ''">#{string6},</if>
            <if test="string7 != null  and string7 != ''">#{string7},</if>
            <if test="string8 != null  and string8 != ''">#{string8},</if>
            <if test="string9 != null  and string9 != ''">#{string9},</if>
            <if test="string10 != null  and string10 != ''">#{string10},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBizProductRef" parameterType="BizProductRef">
        update biz_product_ref
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="model != null  and model != ''">model = #{model},</if>
            <if test="specifications != null  and specifications != ''">specifications = #{specifications},</if>
            <if test="valvebodyMaterial != null  and valvebodyMaterial != ''">valvebody_material = #{valvebodyMaterial},</if>
            <if test="materialRequire != null  and materialRequire != ''">material_require = #{materialRequire},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="suppliersId != null ">suppliers_id = #{suppliersId},</if>
            <if test="string1 != null  and string1 != ''">string1 = #{string1},</if>
            <if test="string2 != null  and string2 != ''">string2 = #{string2},</if>
            <if test="string3 != null  and string3 != ''">string3 = #{string3},</if>
            <if test="string4 != null  and string4 != ''">string4 = #{string4},</if>
            <if test="string5 != null  and string5 != ''">string5 = #{string5},</if>
            <if test="string6 != null  and string6 != ''">string6 = #{string6},</if>
            <if test="string7 != null  and string7 != ''">string7 = #{string7},</if>
            <if test="string8 != null  and string8 != ''">string8 = #{string8},</if>
            <if test="string9 != null  and string9 != ''">string9 = #{string9},</if>
            <if test="string10 != null  and string10 != ''">string10 = #{string10},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where product_ref_id = #{productRefId}
    </update>

    <delete id="deleteBizProductRefById" parameterType="Long">
        delete from biz_product_ref where product_ref_id = #{productRefId}
    </delete>

    <delete id="deleteBizProductRefByIds" parameterType="String">
        delete from biz_product_ref where product_ref_id in 
        <foreach item="productRefId" collection="array" open="(" separator="," close=")">
            #{productRefId}
        </foreach>
    </delete>
    
</mapper>