<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fmis.finance.mapper.BizPayPlanMapper">

    <resultMap type="BizPayPlan" id="BizPayPlanResult">
        <result property="payPlanId"    column="pay_plan_id"    />
        <result property="payDataId"    column="pay_data_id"    />
        <result property="applyNo"    column="apply_no"    />
        <result property="applyDate"    column="apply_date"    />
        <result property="contractId"    column="contract_id"    />
        <result property="contractNo"    column="contract_no"    />
        <result property="contractPayWay"    column="contract_pay_way"    />
        <result property="applyPayCompany"    column="apply_pay_company"    />
        <result property="applyCollectionCompany"    column="apply_collection_company"    />
        <result property="applyAmount"    column="apply_amount"    />
        <result property="applyRemark"    column="apply_remark"    />
        <result property="payWay"    column="pay_way"    />
        <result property="paymentType"    column="payment_type"    />
        <result property="status"    column="status"    />
        <result property="payDate"    column="pay_date"    />
        <result property="bookingType"    column="booking_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBizPayPlanVo">
        select pay_plan_id, pay_data_id, apply_no, apply_date, contract_id, contract_no, contract_pay_way, apply_pay_company, apply_collection_company, apply_amount, apply_remark, pay_way, payment_type, status, pay_date, booking_type, create_by, create_time, update_by, update_time from biz_pay_plan
    </sql>

    <select id="selectBizPayPlanList" parameterType="BizPayPlan" resultMap="BizPayPlanResult">
        <include refid="selectBizPayPlanVo"/>
        <where>
            <if test="payDataId != null "> and pay_data_id = #{payDataId}</if>
            <if test="applyNo != null  and applyNo != ''"> and apply_no = #{applyNo}</if>
            <if test="applyDate != null "> and apply_date = #{applyDate}</if>
            <if test="contractId != null  and contractId != ''"> and contract_id = #{contractId}</if>
            <if test="contractNo != null  and contractNo != ''"> and contract_no = #{contractNo}</if>
            <if test="contractPayWay != null  and contractPayWay != ''"> and contract_pay_way = #{contractPayWay}</if>
            <if test="applyPayCompany != null  and applyPayCompany != ''"> and apply_pay_company = #{applyPayCompany}</if>
            <if test="applyCollectionCompany != null  and applyCollectionCompany != ''"> and apply_collection_company = #{applyCollectionCompany}</if>
            <if test="applyAmount != null "> and apply_amount = #{applyAmount}</if>
            <if test="applyRemark != null  and applyRemark != ''"> and apply_remark = #{applyRemark}</if>
            <if test="payWay != null  and payWay != ''"> and pay_way = #{payWay}</if>
            <if test="paymentType != null  and paymentType != ''"> and payment_type = #{paymentType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="payDate != null "> and pay_date = #{payDate}</if>
            <if test="bookingType != null  and bookingType != ''"> and booking_type = #{bookingType}</if>
        </where>
    </select>

    <select id="selectBizPayPlanById" parameterType="Long" resultMap="BizPayPlanResult">
        <include refid="selectBizPayPlanVo"/>
        where pay_plan_id = #{payPlanId}
    </select>

    <insert id="insertBizPayPlan" parameterType="BizPayPlan" useGeneratedKeys="true" keyProperty="payPlanId">
        insert into biz_pay_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="payDataId != null ">pay_data_id,</if>
            <if test="applyNo != null  and applyNo != ''">apply_no,</if>
            <if test="applyDate != null ">apply_date,</if>
            <if test="contractId != null  and contractId != ''">contract_id,</if>
            <if test="contractNo != null  and contractNo != ''">contract_no,</if>
            <if test="contractPayWay != null  and contractPayWay != ''">contract_pay_way,</if>
            <if test="applyPayCompany != null  and applyPayCompany != ''">apply_pay_company,</if>
            <if test="applyCollectionCompany != null  and applyCollectionCompany != ''">apply_collection_company,</if>
            <if test="applyAmount != null ">apply_amount,</if>
            <if test="applyRemark != null  and applyRemark != ''">apply_remark,</if>
            <if test="payWay != null  and payWay != ''">pay_way,</if>
            <if test="paymentType != null  and paymentType != ''">payment_type,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="payDate != null ">pay_date,</if>
            <if test="bookingType != null  and bookingType != ''">booking_type,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="payDataId != null ">#{payDataId},</if>
            <if test="applyNo != null  and applyNo != ''">#{applyNo},</if>
            <if test="applyDate != null ">#{applyDate},</if>
            <if test="contractId != null  and contractId != ''">#{contractId},</if>
            <if test="contractNo != null  and contractNo != ''">#{contractNo},</if>
            <if test="contractPayWay != null  and contractPayWay != ''">#{contractPayWay},</if>
            <if test="applyPayCompany != null  and applyPayCompany != ''">#{applyPayCompany},</if>
            <if test="applyCollectionCompany != null  and applyCollectionCompany != ''">#{applyCollectionCompany},</if>
            <if test="applyAmount != null ">#{applyAmount},</if>
            <if test="applyRemark != null  and applyRemark != ''">#{applyRemark},</if>
            <if test="payWay != null  and payWay != ''">#{payWay},</if>
            <if test="paymentType != null  and paymentType != ''">#{paymentType},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="payDate != null ">#{payDate},</if>
            <if test="bookingType != null  and bookingType != ''">#{bookingType},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateBizPayPlan" parameterType="BizPayPlan">
        update biz_pay_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="payDataId != null ">pay_data_id = #{payDataId},</if>
            <if test="applyNo != null  and applyNo != ''">apply_no = #{applyNo},</if>
            <if test="applyDate != null ">apply_date = #{applyDate},</if>
            <if test="contractId != null  and contractId != ''">contract_id = #{contractId},</if>
            <if test="contractNo != null  and contractNo != ''">contract_no = #{contractNo},</if>
            <if test="contractPayWay != null  and contractPayWay != ''">contract_pay_way = #{contractPayWay},</if>
            <if test="applyPayCompany != null  and applyPayCompany != ''">apply_pay_company = #{applyPayCompany},</if>
            <if test="applyCollectionCompany != null  and applyCollectionCompany != ''">apply_collection_company = #{applyCollectionCompany},</if>
            <if test="applyAmount != null ">apply_amount = #{applyAmount},</if>
            <if test="applyRemark != null  and applyRemark != ''">apply_remark = #{applyRemark},</if>
            <if test="payWay != null  and payWay != ''">pay_way = #{payWay},</if>
            <if test="paymentType != null  and paymentType != ''">payment_type = #{paymentType},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="payDate != null ">pay_date = #{payDate},</if>
            <if test="bookingType != null  and bookingType != ''">booking_type = #{bookingType},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where pay_plan_id = #{payPlanId}
    </update>

    <delete id="deleteBizPayPlanById" parameterType="Long">
        delete from biz_pay_plan where pay_plan_id = #{payPlanId}
    </delete>

    <delete id="deleteBizPayPlanByIds" parameterType="String">
        delete from biz_pay_plan where pay_plan_id in
        <foreach item="payPlanId" collection="array" open="(" separator="," close=")">
            #{payPlanId}
        </foreach>
    </delete>

</mapper>