<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fmis.suppliers.mapper.BizSuppliersMapper">
    
    <resultMap type="BizSuppliers" id="BizSuppliersResult">
        <result property="suppliersId"    column="suppliers_id"    />
        <result property="name"    column="name"    />
        <result property="address"    column="address"    />
        <result property="telphone"    column="telphone"    />
        <result property="fax"    column="fax"    />
        <result property="email"    column="email"    />
        <result property="siteUrl"    column="site_url"    />
        <result property="ownerId"    column="owner_id"    />
        <result property="contact"    column="contact"    />
        <result property="manageState"    column="manage_state"    />
        <result property="marketDistribution"    column="market_distribution"    />
        <result property="targetCustomer"    column="target_customer"    />
        <result property="humanCapitalMeasure"    column="human_capital_measure"    />
        <result property="taxpayer"    column="taxpayer"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="nickName"    column="nick_name"    />
        <result property="bankNo"    column="bank_no"    />
        <result property="bank"    column="bank"    />
        <result property="taxNumber"    column="tax_number"    />
    </resultMap>

    <sql id="selectBizSuppliersVo">
        select suppliers_id, name, address, telphone, fax, email, site_url, owner_id, contact, manage_state, market_distribution, target_customer, human_capital_measure, taxpayer, remark, status, del_flag, create_by, create_time, update_by, update_time,nick_name,bank,bank_no,tax_number from biz_suppliers
    </sql>

    <sql id="selectBizSuppliersDictVo">
        select s.suppliers_id, s.name, s.address, s.telphone, s.fax, s.email, s.site_url, u.user_name as owner_id, s.contact, s.manage_state, s.market_distribution, s.target_customer, s.human_capital_measure, s.taxpayer, s.remark, s.status, s.del_flag, s.create_by, s.create_time, s.update_by, s.update_time,s.nick_name,s.bank,s.bank_no,s.tax_number from biz_suppliers s
        join sys_user u on s.owner_id=u.user_id
        left join sys_dept dt on u.dept_id=dt.dept_id


    </sql>

    <select id="selectBizSuppliersList" parameterType="BizSuppliers" resultMap="BizSuppliersResult">
        <include refid="selectBizSuppliersDictVo"/>
        <where>  
            <if test="name != null  and name != ''"> and s.name like concat('%', #{name}, '%')</if>
            <if test="telphone != null  and telphone != ''"> and s.telphone = #{telphone}</if>
            <if test="email != null  and email != ''"> and s.email = #{email}</if>
            <if test="ownerId != null  and ownerId != ''"> and s.owner_id = #{ownerId}</if>
            <if test="contact != null  and contact != ''"> and s.contact = #{contact}</if>
            <if test="manageState != null  and manageState != ''"> and s.manage_state = #{manageState}</if>
            <if test="marketDistribution != null  and marketDistribution != ''"> and s.market_distribution = #{marketDistribution}</if>
            <if test="targetCustomer != null  and targetCustomer != ''"> and s.target_customer = #{targetCustomer}</if>
            <if test="humanCapitalMeasure != null  and humanCapitalMeasure != ''"> and s.human_capital_measure = #{humanCapitalMeasure}</if>
            <if test="taxpayer != null  and taxpayer != ''"> and s.taxpayer = #{taxpayer}</if>
            <if test="status != null  and status != ''"> and s.status = #{status}</if>
            <if test="nickName != null  and nickName != ''"> and s.nick_name like concat('%', #{nickName}, '%')</if>
        </where>
        order by s.create_time desc
    </select>
    <select id="selectBizSuppliersListByName" parameterType="BizSuppliers" resultMap="BizSuppliersResult">
        <include refid="selectBizSuppliersVo"/>
        where name like concat('%', #{name}, '%')
    </select>
    <select id="selectBizSuppliersById" parameterType="Long" resultMap="BizSuppliersResult">
        <include refid="selectBizSuppliersVo"/>
        where suppliers_id = #{suppliersId}
    </select>
        
    <insert id="insertBizSuppliers" parameterType="BizSuppliers" useGeneratedKeys="true" keyProperty="suppliersId">
        insert into biz_suppliers
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="telphone != null  and telphone != ''">telphone,</if>
            <if test="fax != null  and fax != ''">fax,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="siteUrl != null  and siteUrl != ''">site_url,</if>
            <if test="ownerId != null  and ownerId != ''">owner_id,</if>
            <if test="contact != null  and contact != ''">contact,</if>
            <if test="manageState != null  and manageState != ''">manage_state,</if>
            <if test="marketDistribution != null  and marketDistribution != ''">market_distribution,</if>
            <if test="targetCustomer != null  and targetCustomer != ''">target_customer,</if>
            <if test="humanCapitalMeasure != null  and humanCapitalMeasure != ''">human_capital_measure,</if>
            <if test="taxpayer != null  and taxpayer != ''">taxpayer,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="nickName != null  and nickName != ''">nick_name,</if>
            <if test="bank != null  and bank != ''">bank,</if>
            <if test="bankNo != null  and bankNo != ''">bank_no,</if>
            <if test="taxNumber != null  and taxNumber != ''">tax_number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="telphone != null  and telphone != ''">#{telphone},</if>
            <if test="fax != null  and fax != ''">#{fax},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="siteUrl != null  and siteUrl != ''">#{siteUrl},</if>
            <if test="ownerId != null  and ownerId != ''">#{ownerId},</if>
            <if test="contact != null  and contact != ''">#{contact},</if>
            <if test="manageState != null  and manageState != ''">#{manageState},</if>
            <if test="marketDistribution != null  and marketDistribution != ''">#{marketDistribution},</if>
            <if test="targetCustomer != null  and targetCustomer != ''">#{targetCustomer},</if>
            <if test="humanCapitalMeasure != null  and humanCapitalMeasure != ''">#{humanCapitalMeasure},</if>
            <if test="taxpayer != null  and taxpayer != ''">#{taxpayer},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="nickName != null  and nickName != ''">#{nickName},</if>
            <if test="bank != null  and bank != ''">#{bank},</if>
            <if test="bankNo != null  and bankNo != ''">#{bankNo},</if>
            <if test="taxNumber != null  and taxNumber != ''"> #{taxNumber},</if>
         </trim>
    </insert>

    <update id="updateBizSuppliers" parameterType="BizSuppliers">
        update biz_suppliers
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="telphone != null  and telphone != ''">telphone = #{telphone},</if>
            <if test="fax != null  and fax != ''">fax = #{fax},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="siteUrl != null  and siteUrl != ''">site_url = #{siteUrl},</if>
            <if test="ownerId != null  and ownerId != ''">owner_id = #{ownerId},</if>
            <if test="contact != null  and contact != ''">contact = #{contact},</if>
            <if test="manageState != null  and manageState != ''">manage_state = #{manageState},</if>
            <if test="marketDistribution != null  and marketDistribution != ''">market_distribution = #{marketDistribution},</if>
            <if test="targetCustomer != null  and targetCustomer != ''">target_customer = #{targetCustomer},</if>
            <if test="humanCapitalMeasure != null  and humanCapitalMeasure != ''">human_capital_measure = #{humanCapitalMeasure},</if>
            <if test="taxpayer != null  and taxpayer != ''">taxpayer = #{taxpayer},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="nickName != null  and nickName != ''">nick_name = #{nickName},</if>
            <if test="bank != null  and bank != ''">bank = #{bank},</if>
            <if test="bankNo != null  and bankNo != ''">bank_no = #{bankNo},</if>
            <if test="taxNumber != null  and taxNumber != ''">tax_number = #{taxNumber},</if>
        </trim>
        where suppliers_id = #{suppliersId}
    </update>

    <delete id="deleteBizSuppliersById" parameterType="Long">
        delete from biz_suppliers where suppliers_id = #{suppliersId}
    </delete>

    <delete id="deleteBizSuppliersByIds" parameterType="String">
        delete from biz_suppliers where suppliers_id in 
        <foreach item="suppliersId" collection="array" open="(" separator="," close=")">
            #{suppliersId}
        </foreach>
    </delete>
    
</mapper>