<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('客户列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>

                        <li>
                            <p>公司代码：</p>
                            <input type="text" name="companyCode"/>
                        </li>

                        <li>
                            <p>所属区域：</p>
                            <select name="area" class="form-control m-b"
                                    th:with="type=${@dict.getType('customer_area')}">
                                <option value="">全部</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>

                        <li>
                            <p>客户名称：</p>
                            <input name="name" class="form-control" type="text">
                        </li>

                        <li>
                            <p>客户类别：</p>
                            <select name="customerLevel" class="form-control m-b"
                                    th:with="type=${@dict.getType('customer_level')}">
                                <option value="">全部</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>

                        <li>
                            <p>客户代号：</p>
                            <input name="codeName" class="form-control" type="text">
                        </li>

                        <li>
                            <p>行业划分：</p>
                            <select name="industryDivision" class="form-control m-b"
                                    th:with="type=${@dict.getType('industry_division')}">
                                <option value="">全部</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>

                        <li>
                            <p>分配次数：</p>
                            <select name="assignNumber" class="form-control m-b"
                                    th:with="type=${@dict.getType('assign_number')}">
                                <option value="">全部</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>


                        <li>
                            <p>备案类别：</p>
                            <select name="recordType" class="form-control m-b"
                                    th:with="type=${@dict.getType('customer_record_type')}">
                                <option value="">全部</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>

                        <li>
                            <p>档案编号：</p>
                            <input name="fileNumber" class="form-control" type="text">
                        </li>

                        <li>
                            <p>客户来源：</p>
                            <input name="source" class="form-control" type="text">
                        </li>

                        <li>
                            <p>项目名称：</p>
                            <input name="projectAme" class="form-control" type="text">
                        </li>

                        <li>
                            <p>品牌：</p>
                            <input name="brand" class="form-control" type="text">
                        </li>

                        <li>
                            <p>品牌：</p>
                            <input name="brand" class="form-control" type="text">
                        </li>

                        <li>
                            <p>主要产品：</p>
                            <input name="productInfo" class="form-control" type="text">
                        </li>

                        <li>
                            <p>客户联系人：</p>
                            <input name="contactName" class="form-control" type="text">
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>


        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('fmis:customer:edit')}]];
    var removeFlag = [[${@permission.hasPermi('fmis:customer:remove')}]];
    var areaDatas = [[${@dict.getType('customer_area')}]];
    var prefix = ctx + "fmis/customer";

    $(function () {
        var options = {
            url: prefix + "/listSelf",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "客户",
            columns: [{
                checkbox: true
            },
                {
                    field: 'customerId',
                    title: '客户ID',
                    visible: false
                },
                {
                    field: 'name',
                    title: '客户名称'
                },
                {
                    field: 'string13',
                    title: '税号'
                },
                {
                    field: 'string11',
                    title: '开户行'
                },
                {
                    field: 'string12',
                    title: '账号'
                },
                {
                    field: 'companyAddress',
                    title: '公司地址'
                },
                {
                    field: 'telephone',
                    title: '电话'
                }]
        };
        $.table.init(options);
    });


    /* 添加用户-选择用户-提交 */
    function submitHandler() {
        var rows = $.table.selectFirstColumns();
        if (rows.length == 0) {
            $.modal.alertWarning("请选择一条记录");
            return;
        }
        if (rows.length > 1) {
            $.modal.alertWarning("请只选择一条记录");
            return;
        }
        //$.modal.confirm('确定要关联该客户吗？',
        //    function() {

        var customerId = $.table.selectColumns("customerId");
        console.log("----" + customerId + "--" + $.table.selectColumns("name"));
        parent.$('#form-data-add input[name=string4]').val(customerId);
        parent.$('#form-data-add input[name=string5]').val($.table.selectColumns("name"));
        parent.$('#form-data-add input[name=string6]').val($.table.selectColumns("codeName"));
        parent.$('#form-data-add input[name=string7]').val($.table.selectColumns("string13"));
        parent.$('#form-data-add input[name=string8]').val($.table.selectColumns("string11") + "|" + $.table.selectColumns("string12"));
        parent.$('#form-data-add input[name=string9]').val($.table.selectColumns("companyAddress")+"|"+$.table.selectColumns("telephone"));

        $.modal.close();
        //   }
        //);
    }
</script>
</body>
</html>