<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增采购管理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg" onload="initExpandRow()">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-data-add">
            <input type="hidden" name="bizId" value="procurement"/>
            <input type="hidden" name="bizEditFlag" id="bizEditFlag" value="0"/>
            <div class="form-group">
                <label class="col-sm-1 control-label">结算单位：</label>
                <div class="col-sm-2">
                    <input name="string1" class="form-control" type="text">
                </div>
                <label class="col-sm-1 control-label">归属单位：</label>
                <div class="col-sm-2">
                    <input name="string2" class="form-control" type="text">
                </div>
                <label class="col-sm-1 control-label">订货日期：</label>
                <div class="col-sm-2">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="datetime1" id="datetime1" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
                <label class="col-sm-1 control-label">生产单号：</label>
                <div class="col-sm-2">
                    <input name="string3" class="form-control" type="text">
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">类别：</label>
                <div class="col-sm-2">
                    <input name="string5" class="form-control" type="text">
                </div>



                <label class="col-sm-1 control-label">供应商：</label>
                <div class="col-sm-2">
                    <select name="string6" style="pointer-events: none;" id="string6" class="form-control select2-multiple" > <!--multiple-->
                        <option value="">请选择</option>
                        <option th:each="supplier:${suppliers}" th:value="${supplier.suppliersId}" th:text="${supplier.name}"></option>
                    </select>
                </div>


                <label class="col-sm-1 control-label">订货产品：</label>
                <div class="col-sm-2">
                    <input name="string7" class="form-control" type="text">
                </div>

                <label class="col-sm-1 control-label">生产单要求交期：</label>
                <div class="col-sm-2">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="datetime2" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">回传：</label>
                <div class="col-sm-2">
                    <input name="string8" class="form-control" type="text">
                </div>
                <label class="col-sm-1 control-label">供应商发货日期：</label>
                <div class="col-sm-2">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="datetime3" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
                <label class="col-sm-1 control-label">运输方式：</label>
                <div class="col-sm-2">
                    <input name="string9" class="form-control" type="text">
                </div>

            </div>

            <div class="form-group">


                <label class="col-sm-1 control-label">合同金额：</label>
                <div class="col-sm-2">
                    <input name="price1" id="price1" readonly class="form-control" type="text" onkeyup="AmountKeyUp(this)">
                </div>
            </div>
        </form>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"  class="text-nowrap"></table>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-editable-css" />
    <th:block th:include="include :: bootstrap-table-editable-js" />
    <script th:inline="javascript">
        var prefix = ctx + "fmis/procurement";


        $("#form-data-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            var vali = $.validate.form();
            if (overAllIds.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }

            console.log("vali=" + vali);
            if (vali) {

                var url = ctx + "fmis/procurement/add";
                $("#numJsonValue").val(JSON.stringify(datas));


                var dataObj = $('#form-data-add').serializeArray();
                var datas = [];
                var productArray = [];
                $.each(overAllIds,function(index,value){
                    var num = numberMap.get(value);
                    if (num == null) {
                        num = "-1";
                    }
                    var productObj = new Object();
                    var values = value.split("_");
                    var type = values[0];
                    var childId = values[1];
                    var dataId = values[2];
                    var procurementId = values[3];
                    var levelValue = values[4];

                    productObj["type"] = type;
                    productObj["childId"] = childId;
                    productObj["string1"] = num;
                    productObj["string2"] = dataId;
                    productObj["string3"] = procurementId;
                    productObj["string5"] = levelValue;
                    productObj["dataStatus"] = "1";
                    productArray.push(productObj);
                })

                dataObj.push({"name": "productParmters", "value": JSON.stringify(productArray)});
                $.operate.save(prefix + "/add", dataObj);
            }
        }

        $("input[name='datetime1']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        var d = new Date();
        var month = (d.getMonth()+1).toString().padStart(2,'0');
        var day = d.getDate().toString().padStart(2,'0');
        var year = d.getFullYear();
        $("#datetime1").val(year + "-" + month + "-" + day);

        $("input[name='datetime2']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='datetime3']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        function isEmpty(v) {
            return $.common.isEmpty(v);
        }
        function selectCustomer() {
            var widthNum = this.innerWidth - 50;
            var heigthNum = this.innerHeight - 50;
            var url = prefix + "/selectCustomer";
            $.modal.open("关联客户", url,widthNum, heigthNum);
        }

        var setupTypeData = [[${@dict.getType('actuator_setup_type')}]];
        var string2Datas = [[${@dict.getType('product_level')}]];
        var supplierTypeData = [[${@dict.getType('supplier_type')}]];
    </script>
    <script th:src="@{/js/biz/procurement.js}"></script>

</body>
</html>