<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增合同追踪')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-track-add">
        <input type="hidden" name="dataId" id="dataId" th:value="${dataId}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label">追踪反馈：</label>
            <div class="col-sm-8">
                <input name="feedback" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = ctx + "fmis/procurement";
    $("#form-track-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/addTrack", $('#form-track-add').serialize());
        }
    }
</script>
</body>
</html>