<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('采购管理列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>

                        <li>
                            <p>状态：</p>
                            <select name="queryStatus" class="form-control m-b">
                                <option value="0">全部</option>
                                <option value="1">待办</option>
                                <option value="2">已办</option>
                            </select>
                            <input type="hidden" name="bizId" id="bizId" value="procurement"/>
                        </li>

                        <li>
                            <p>供应商：</p>
                            <input type="text" name="string6" value=""/>
                        </li>
                        <li>
                            <p>销售合同号：</p>
                            <input type="text" name="string10" value=""/>
                        </li>
                        <li>
                            <p>采购合同号：</p>
                            <input type="text" name="string12" value=""/>
                        </li>
                        <li>
                            <p>归属单位：</p>
                            <input type="text" name="string2" value=""/>
                        </li>

                        <li>
                            <p>采购状态：</p>
                            <select name="status" th:with="type=${@dict.getType('procurement_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">

        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var trackListFlag = [[${@permission.hasPermi('fmis:processDataTrack:trackList')}]];
    var addFlag = [[${@permission.hasPermi('fmis:processDataTrack:add')}]];
    var prefix = ctx + "fmis/processDataTrack";
    var supplierTypeData = [[${@dict.getType('supplier_type')}]];
    var procurementStatusData = [[${@dict.getType('procurement_status')}]];

    $(function () {
        var options = {
            url: prefix + "/process-data-list",
            uniqueId: "dataId",
            modalName: "采购管理",
            columns: [{
                checkbox: true
            },
                {
                    field: 'dataId',
                    title: 'ID',
                    visible: false
                },

                {
                    field: 'string1',
                    title: '结算单位'
                },
                {
                    field: 'string12',
                    title: '采购合同号',
                    formatter: function (value, row, index) {
                        return '<a href="javascript:void(0)" onclick="viewExamineDetail(\'' + row.dataId + '\')">'+value+'</a>';
                    }
                },
                {
                    field: 'string10',
                    title: '销售合同号'
                },
                {
                    field: 'string2',
                    title: '归属单位'
                },
                {
                    field: 'datetime1',
                    title: '订货日期'
                },
                /*{
                    field: 'string3',
                    title: '生产单号'
                },*/

                {
                    field: 'string5',
                    title: '类别'
                },
                {
                    field: 'supplierName',
                    title: '供应商'
                },
                {
                   field: 'detailNum',
                   title: "数量"
                },
                /*,
                {
                    field : 'string7',
                    title : '订货产品'
                },
                {
                    field : 'string8',
                    title : '回传'
                }*/
                {
                    field: 'datetime2',
                    title: '销售合同交付日期'
                },
                {
                    field: 'datetime3',
                    title: '供应商发货日期'
                },
                {
                    field: 'string9',
                    title: '运输方式'
                },
                /*{
                    field: 'price1',
                    title: '合计'
                },*/
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    field: 'status',
                    title: '采购状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(procurementStatusData, value);
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var createBy = row.createBy;
                        var roleType = row.roleType;
                        var loginUserId = row.loginUserId;
                        console.log(createBy)
                        console.log(loginUserId)
                        var actions = [];
                        if (roleType == "5") {
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="viewExamineDetail(\'' + row.dataId + '\')"><i class="fa fa-remove"></i> 详情 </a>');
                        }
                       /* actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="viewExamineDetail(\'' + row.dataId + '\')"><i class="fa fa-remove"></i> 详情 </a>');*/
                        if (createBy === loginUserId) {
                            actions.push('<a class="btn btn-success btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="addTrack(\'' + row.dataId + '\')"><i class="fa fa-remove"></i> 添加追踪 </a>');
                        }
                        actions.push('<a class="btn btn-success btn-xs ' + trackListFlag + '"" href="javascript:void(0)" onclick="viewTrackList(\'' + row.dataId + '\')"><i class="fa fa-remove"></i> 追踪详情 </a>');

                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });


    function addTrack(dataId) {
        var url = prefix + "/addTrack/" + dataId;
        $.modal.open("新增追踪", url);
    }

    function viewTrackList(dataId) {
        var url = prefix + "/trackList/" + dataId;
        $.modal.openTab("追踪列表", url);
    }

    function viewExamineDetail(dataId) {
        var url = ctx + "fmis/procurement/viewDetail?dataId=" + dataId;
        $.modal.openNoEnter("详情", url, $(window).width(), $(window).height(), function () {
            $.modal.closeAll();
        });
    }
</script>
</body>
</html>