<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('采购合同追踪详情列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <input type="hidden" name="dataId" id="dataId" th:value="${dataId}"/>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('fmis:processDataTrack:edit')}]];
    var removeFlag = [[${@permission.hasPermi('fmis:processDataTrack:remove')}]];
    var prefix = ctx + "fmis/processDataTrack";

    $(function () {
        var dataID= $("#dataId").val();
        var options = {
            url: prefix + "/trackList/"+dataID,
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            modalName: "采购合同追踪",
            columns: [
                {
                    field: 'trackId',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'feedback',
                    title: '追踪反馈'
                },
                {
                    field: 'updateTime',
                    title: '追踪时间'
                }
                // ,
                // {
                //     title: '操作',
                //     align: 'left',
                //     formatter: function (value, row, index) {
                //         var actions = [];
                //         actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.trackId + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
                //         actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.trackId + '\')"><i class="fa fa-remove"></i> 删除</a>');
                //         return actions.join('');
                //     }
                // }
                ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>