<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改付款计划')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-payPlan-edit" th:object="${bizPayPlan}">
            <input name="payPlanId" th:field="*{payPlanId}" type="hidden">
            <input name="contractId" th:field="*{contractId}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">申请编号：</label>
                <div class="col-sm-8">
                    <input name="applyNo" th:field="*{applyNo}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">申请日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="applyDate" th:value="${#dates.format(bizPayPlan.applyDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">合同号：</label>
                <div class="col-sm-8">
                    <input name="contractNo" th:field="*{contractNo}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">合同付款方式：</label>
                <div class="col-sm-8">
                    <input name="contractPayWay" th:field="*{contractPayWay}" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">收款单位：</label>
                <div class="col-sm-8">
                    <input name="applyCollectionCompany" th:field="*{applyCollectionCompany}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">付款金额：</label>
                <div class="col-sm-8">
                    <input name="applyAmount" th:field="*{applyAmount}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">付款备注：</label>
                <div class="col-sm-8">
                    <input name="applyRemark" th:field="*{applyRemark}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">付款类型：</label>
                <div class="col-sm-8">
                    <select name="paymentType" class="form-control m-b"
                            th:with="type=${@dict.getType('payment_type1')}" readonly>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:field="*{paymentType}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">付款单位：</label>
                <div class="col-sm-8">
                    <select name="payCompany" class="form-control m-b" th:with="type=${@dict.getType('pay_company')}" required>
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:field="*{payCompany}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">付款账户：</label>
                <div class="col-sm-8">
                    <select name="payAccount" class="form-control m-b" th:with="type=${@dict.getType('pay_account')}" required>
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{payAccount}"></option>
                    </select>
                </div>
            </div>
            <div style="margin-left: 108px;">付款方式：</div>
            <div class="form-group">
                <label class="col-sm-3 control-label" >电汇金额:</label>
                <div class="col-sm-3">
                    <input name="wireAmount" class="form-control" type="text" value="0">
                </div>元
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" >支票金额:</label>
                <div class="col-sm-3">
                    <input name="chequeAmount" class="form-control" type="text"  value="0">
                </div>元
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" >承兑金额:</label>
                <div class="col-sm-3">
                    <input name="acceptAmount" class="form-control" type="text"  value="0">
                </div>元
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">付款状态</label>
                <div class="col-sm-8">
                    <select name="status" class="form-control m-b" th:with="type=${@dict.getType('pay_status')}">
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{status}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">付款日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="payDate" th:value="${#dates.format(bizPayPlan.payDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">记账类型：</label>
                <div class="col-sm-8">
                    <select name="bookingType" class="form-control m-b" th:with="type=${@dict.getType('booking_type')}" required>
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{bookingType}"></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">

        var applyAmount = [[${bizPayPlan.applyAmount}]];
        var prefix = ctx + "finance/payPlan";
        $("#form-payPlan-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var acceptAmount = Number($("input[name='acceptAmount']").val());
                var chequeAmount = Number($("input[name='chequeAmount']").val());
                var wireAmount = Number($("input[name='wireAmount']").val());
                console.log(acceptAmount, chequeAmount, wireAmount);
                var total = acceptAmount+chequeAmount+wireAmount;
                if(total != applyAmount){
                    $.modal.alertWarning("支付总金额与申请金额不一致，请先完善！");
                    return;
                }
                $.operate.save(prefix + "/edit", $('#form-payPlan-edit').serialize());
            }
        }

        $("input[name='applyDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='payDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>