<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('差旅报销放款')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-data-edit" th:object="${bizProcessData}">
            <input name="dataId" th:field="*{dataId}" type="hidden">
            <input type="hidden" name="bizId" value="payment"/>
            <input type="hidden" name="string1" value="1"/>
            <input type="hidden" name="string2" th:field="*{string2}"/>


            <div class="form-group">
                <label class="col-sm-3 control-label">报销日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="datetime1" class="form-control" readonly placeholder="yyyy-MM-dd" th:value="${#dates.format(bizProcessData.datetime1,'yyyy-MM-dd')}"  type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">收款账户：</label>
                <div class="col-sm-8">
                    <input name="string3" class="form-control" readonly th:field="*{string3}" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">收款账号：</label>
                <div class="col-sm-8">
                    <input name="string4" class="form-control" readonly th:field="*{string4}" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">开户行：</label>
                <div class="col-sm-8">
                    <input name="string5" class="form-control" readonly th:field="*{string5}" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">报销部门：</label>
                <div class="col-sm-8">
                    <input name="string6" id="string6" th:field="*{string6}" readonly class="form-control" type="hidden">
                    <div class="input-group">
                        <input class="form-control" type="text" name="deptName" onclick="selectDeptTree()" id="treeName" th:field="*{deptName}" readonly required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">报销金额：</label>
                <div class="col-sm-8">
                    <input name="price1" class="form-control" readonly th:field="*{price1}" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">报销方式：</label>
                <input name="paymentType" hidden th:field="*{paymentType}">
                <div class="form-check col-sm-1">
                    <input class="form-check-input" type="radio" name="paymentType" id="flexRadioDefault1" checked
                           value="0" th:field="*{paymentType}" disabled>
                    <label class="form-check-label" for="flexRadioDefault1">
                        普通报销
                    </label>
                </div>
                <div class="form-check col-sm-1">
                    <input class="form-check-input" type="radio" name="paymentType" id="flexRadioDefault2" value="1"
                           th:field="*{paymentType}" disabled>
                    <label class="form-check-label" for="flexRadioDefault2">
                        借款冲抵
                    </label>
                </div>
                <div class="col-sm-6" hidden id="borrowingList">
                    <input name="balanceBorrowNo" hidden th:field="*{balanceBorrowNo}">
                    <label class="col-sm-2 control-label">借款单：</label>
                    <select name="balanceBorrowNo" class="form-control m-b col-sm-1" style="width: auto;" required disabled
                            th:with="type=${borrowingNoList}"
                            onchange="changeAmount(this)">
                        <option value="">请选择</option>
                        <option th:each="value : ${type}" th:text="${value}" th:value="${value}"
                                th:field="*{balanceBorrowNo}"></option>
                    </select>
                    <label class="col-sm-2 control-label">金额：</label>
                    <input class="form-control col-sm-1" type="text" style="width: auto;" required id="applyAmount" readonly
                           value="0" name="balanceAmount" th:field="*{balanceAmount}">

                </div>

            </div>



            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remark" class="form-control" readonly th:field="*{remark}" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>付款单位：</label>
                <div class="col-sm-8">
                    <select name="string10" class="form-control m-b" th:with="type=${@dict.getType('pay_company')}" required>
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:field="*{string10}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>付款账户：</label>
                <div class="col-sm-8">
                    <select name="string12" class="form-control m-b"
                            th:with="type=${@dict.getType('pay_account')}" required>
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{string12}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>付款状态</label>
                <div class="col-sm-8">
                    <select name="string11" class="form-control m-b" th:with="type=${@dict.getType('pay_status')}" required>
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{string11}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">付款日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="datetime3" th:value="${#dates.format(bizProcessData.datetime3, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>记账类型：</label>
                <div class="col-sm-8">
                    <select name="string13" class="form-control m-b" th:with="type=${@dict.getType('booking_type')}" required>
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{string13}"></option>
                    </select>
                </div>
            </div>
        </form>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"  class="text-nowrap"></table>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "fmis/paymentpay";
        $("#form-data-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-data-edit').serialize());
            }
        }

        var paymentType = [[${bizProcessData.paymentType}]]

        var paymentProjectDatas = [[${@dict.getType('payment_project')}]];

        var paymentTrafficDatas = [[${@dict.getType('payment_traffic')}]];

        var paymentProjectArray = [];
        $.each(paymentProjectDatas, function(index, dict) {
            var dictLabel = dict.dictLabel;
            var dictValue = dict.dictValue;
            paymentProjectArray.push({value: dictValue,text: dictLabel});
        });


        var paymentTrafficArray = [];
        $.each(paymentTrafficDatas, function(index, dict) {
            var dictLabel = dict.dictLabel;
            var dictValue = dict.dictValue;
            paymentTrafficArray.push({value: dictValue,text: dictLabel});
        });


        $(function() {
            var options = {
                url: prefix + "/listChild",
                modalName: "差旅费报销",
                uniqueId: "childId",
                detailView: false,
                cache: true,
                async: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showHeader: false,
                showFooter: false,
                showColumns: false,
                pageSize: 10000,
                id: "bootstrap-table",
                pagination: false,
                rowStyle: function(row, index) {
                    return {classes:'success'};
                },
                expandFirst: true,
                columns: [
                    {field : 'rowId',title : '序号',width: 50,visible: true,formatter:function(value,row,index){row.rowId = index;return index+1;}},
                    {field : 'childId',title : 'childId',visible:false},
                    {field : 'datetime1',title : '出发日期',editable: {type: "date",title: "出发日期",placement: "center",datepicker: {language: "zh-CN"}},width: 100,
                        formatter: function (value, row, index) {
                            if ($.common.isEmpty(value)) {
                                return "";
                            }
                            var date = value.substr(0,10);
                            return date;
                        }},
                    {field : 'string1',title : '出发地',editable: true,width: 100},
                    {field : 'datetime2',title : '到达日期',editable: {type: "date",title: "出发日期",placement: "center",datepicker: {language: "zh-CN"}},width: 100,
                        formatter: function (value, row, index) {
                            if ($.common.isEmpty(value)) {
                                return "";
                            }
                            var date = value.substr(0,10);
                            return date;
                        }},
                    {field : 'string2',title : '到达地',visible: true,editable: true,width: 100},
                    {field : 'string3',title : '交通工具',visible: true,editable: {type: 'select',title: '项目',source:paymentTrafficArray},width: 200},
                    {field : 'string4',title : '交通单据张数',visible: true,editable: true,width: 100},
                    {field : 'price1',title : '交通金额',visible: true,editable: true,width:100},
                    {field : 'string5',title : '出差天数',visible: true,editable: true,width:100},
                    {field : 'price2',title : '出差补贴金额',visible: true,editable: true},
                    {field : 'string6',title : '项目',editable: {type: 'select',title: '项目',source:paymentProjectArray},width: 100},
                    {field : 'string7',title : '项目单据张数',editable: true,width: 100},
                    {field : 'price3',title : '项目金额',editable: true,width: 100},
                    {field : 'remark',title : '摘要',editable: true,width: 200}
                ]
            };
            $.table.init(options);
            hideOrShow(paymentType)
        });

        function hideOrShow(value) {
            if (value == '0') {
                $("#borrowingList").hide()
            } else {
                $("#borrowingList").show()

            }
        }



        var selValue = "";
        function initAddProduct () {

            $.each(paymentProjectDatas, function(index, dict) {
                var dictLabel = dict.dictLabel;
                var dictValue = dict.dictValue;

                var rowData = {
                    childId: 0,
                    datetime1: "",
                    datetime2: "",
                    string1: "",
                    string2: "",
                    string3: "",
                    string4: "",
                    string5: "",
                    string7: "",
                    string6: dictValue,
                    price1: 0,
                    price2: 0,
                    price3: 0
                };
                console.log("dictLabel=" + dictLabel + " dictValue=" + dictValue);
                $("#bootstrap-table").bootstrapTable('append', rowData);
            });
        }



        function selectDeptTree() {
            var treeId = $("#string6").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#string6").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }
        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            var body = layer.getChildFrame('body', index);
            $("#string6").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }


        $("input[name='datetime1']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='datetime2']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        $("input[name='datetime3']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>