<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('费用预算列表')"/>
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p>名称：</p>
                            <input type="text" name="name"/>
                        </li>
                        <li>
                            <p>年：</p>
                            <input name="y" class="form-control" placeholder="yyyy" type="text">
                        </li>
                        <li>
                            <p>月：</p>
                            <input name="m" class="form-control" placeholder="MM" type="text">
                        </li>
                        <li>
                            <p>费用科目：</p>
                            <select name="subjectsId" id="subjectsId" class="form-control select2-multiple"> <!--multiple-->
                                <option value="">请选择</option>
                                <option th:each="subject:${subjects}" th:value="${subject.subjectsId}" th:text="${subject.name}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="fmis:budget:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="fmis:budget:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="fmis:budget:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js" />

<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('fmis:budget:edit')}]];
    var removeFlag = [[${@permission.hasPermi('fmis:budget:remove')}]];
    var prefix = ctx + "fmis/budget";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "费用预算",
            columns: [{
                checkbox: true
            },
                {
                    field: 'budgetId',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'name',
                    title: '名称'
                },
                {
                    field: 'y',
                    title: '年'
                },
                {
                    field: 'm',
                    title: '月'
                },
                {
                    field: 'dept.deptName',
                    title: '部门'
                },
                {
                    field: 'subjectsName',
                    title: '费用科目'
                },
                {
                    field: 'amount',
                    title: '费用'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.budgetId + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.budgetId + '\')"><i class="fa fa-remove"></i> 删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    $("input[name='y']").datetimepicker({
        format: "yyyy",
        weekStart: 1,
        autoclose: true,
        startView: 4,
        minView: 4,
        forceParse: false,
        autoclose: true
    });

    $("input[name='m']").datetimepicker({
        format: "mm",
        weekStart: 1,
        autoclose: true,
        startView: 3,
        minView: 3,
        forceParse: false,
        autoclose: true
    });
</script>
</body>
</html>