<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('应付汇总')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p>需求方：</p>
                            <input type="text" name="needCompany"/>
                        </li>
                        <li>
                            <p>供应商：</p>
                            <input type="text" name="supplierName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">

    var prefix = ctx + "finance/standAccount/summary";
    $(function () {
        var options = {
            url: prefix + "/list",
            modalName: "应付汇总",
            uniqueId: "purchaseContractId",
            columns: [{
                checkbox: false
            },
                {
                    field: 'needCompany',
                    title: '需求方'
                },
                {
                    field: 'supplierName',
                    title: '供应商'
                },
                {
                    field: 'totalArrearsAmount',
                    title: '累计欠款额'
                },
                {
                    field: 'totalContractAmount',
                    title: '累计订货额'
                },

                {
                    field: 'totalAccountAmount',
                    title: '累计入账额'
                },
                {
                    field: 'paidAmount',
                    title: '已付货款'
                },
                {
                    field: 'planPayAmount',
                    title: '计划付款额'
                },
                {
                    title: '操作',
                    align: 'left',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="viewDetail(\'' + row.needCompany + '\',\'' + row.supplierName + '\')"><i class="fa fa-remove"></i>详情 </a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function viewDetail(needCompany, supplierName) {
        var url = ctx + "finance/payPlan/view?needCompany=" + needCompany + "&supplierName=" + supplierName;
        $.modal.openTab("详情", url);
    }

</script>
</body>
</html>