<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('合同收款(合同分解)列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p>凭证号：</p>
                            <input type="text" name="certificateNumber"/>
                        </li>
                        <li>
                            <p>收款银行：</p>
                            <select name="payAccount" th:with="type=${@dict.getType('pay_account')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <p>分解状态：</p>
                            <select name="contractStatus">
                                <option value="">所有</option>
                                <option value="0">未完成</option>
                                <option value="1">完成</option>

                            </select>
                        </li>
                        <li class="select-time">
                            <p>日期：</p>
                            <input type="text" class="time-input" style="width: 80px;" id="startOperateDate"
                                   placeholder="开始时间" name="startOperateDate"/>
                            <span>-</span>
                            <input type="text" class="time-input" style="width: 80px;" id="endOperateDate"
                                   placeholder="结束时间" name="endOperateDate"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('finance:bill:edit')}]];
    var removeFlag = [[${@permission.hasPermi('finance:bill:remove')}]];
    var billTypeDatas = [[${@dict.getType('bill_type')}]];
    var payCompanyDatas = [[${@dict.getType('pay_company')}]];
    var payAccountDatas = [[${@dict.getType('pay_account')}]];
    var payWayDatas = [[${@dict.getType('pay_way')}]];
    var collectionTypeDatas = [[${@dict.getType('collection_type1')}]];
    var paymentTypeDatas = [[${@dict.getType('payment_type1')}]];
    var prefix = ctx + "finance/billContract";

    $(function () {
        var options = {
            url: prefix + "/list",
            updateUrl: prefix + "/edit/{id}",
            modalName: "回款分解",
            columns: [{
                checkbox: true
            },
                {
                    field: 'billId',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'serialNo',
                    title: '序号'
                },
                {
                    field: 'operateDate',
                    title: '日期'
                },
                {
                    field: 'certificateNumber',
                    title: '凭证号'
                },
                {
                    field: 'type',
                    title: '记账类别',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(billTypeDatas, value);
                    }
                },
                {
                    field: 'collectCompany',
                    title: '收款单位'
                },
                {
                    field: 'payCompany',
                    title: '付款单位'
                },
                {
                    field: 'payAccount',
                    title: '收款账户',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(payAccountDatas, value);
                    }
                },
                {
                    field: 'payWay',
                    title: '收款方式',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(payWayDatas, value);
                    }
                },
                {
                    field: 'collectionType',
                    title: '收款类别',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(collectionTypeDatas, value);
                    }
                },
                {
                    field: 'collectionMoney',
                    title: '收款'
                },
                {
                    field: 'contractStatus',
                    title: '分解状态',
                    formatter: function (value, row, index) {
                        var actions = '';
                        var contractStatus = row.contractStatus;
                        if (contractStatus == "1") {
                            actions = "完成";
                        } else if (contractStatus == "0") {
                            actions = "未完成";
                        }
                        return actions;
                    }

                },
                {
                    field: 'deptName',
                    title: '部门'
                },
                {
                    field: 'updateByName',
                    title: '经办人'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'left',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.billId + '\')"><i class="fa fa-edit"></i> 合同分解</a> ');
                        // actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="edit(\'' + row.billId + '\')"><i class="fa fa-edit"></i> 合同分解</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>