<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('分解详情列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <input type="hidden" name="billId" id="billId" th:value="${billId}"/>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "finance/billContract";
    var auditFlag = [[${@permission.hasPermi('finance:billContract:audit')}]];
    var auditStatusDatas = [[${@dict.getType('audit_status')}]];

    $(function () {
        var billId = $("#billId").val();
        var options = {
            url: prefix + "/detailList/" + billId,
            modalName: "合同分解详情",
            columns: [
                {
                    field: 'bcId',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'saleContractNo',
                    title: '销售合同号'
                },
                {
                    field: 'amount',
                    title: '金额'
                },
                {
                    field: 'createByName',
                    title: '分解人'
                },
                {
                    field: 'auditStatus',
                    title: '财务审批状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(auditStatusDatas, value);
                    }
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    title: '操作',
                    align: 'left',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var auditStatus = row.auditStatus;
                        if (auditStatus === 0 || auditStatus === 2) {
                            actions.push('<a class="btn btn-success btn-xs ' + auditFlag + '" href="javascript:void(0)" onclick="audit(\'' + row.bcId + '\')"><i class="fa fa-edit"></i> 审批</a> ');
                        }
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="viewExamineDetail(\'' + row.dataId + '\')"><i class="fa fa-remove"></i> 查看合同 </a>');
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
    });

    function audit(bcId) {
        var url = prefix + "/audit/" + bcId;
        $.modal.openFull("审批", url);
    }
    function viewExamineDetail(dataId) {
        var url = ctx + "fmis/data/viewDetail?dataId=" + dataId ;
        $.modal.openNoEnter("详情", url, $(window).width(), $(window).height(), function () {
            $.modal.closeAll();
        });
    }
</script>
</body>
</html>