<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增客户')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-customer-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">备案日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="recordDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">客户所属商务公司代码：</label>
                <div class="col-sm-8">
                    <input name="areaCode" class="form-control" type="text" th:value="${areaCode}" readonly>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">客户所属区域：</label>
                <div class="col-sm-8">
                    <select name="area" class="form-control m-b" th:with="type=${@dict.getType('customer_area')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">客户类别：</label>
                <div class="col-sm-8">
                    <select name="customerLevel" class="form-control m-b" th:with="type=${@dict.getType('customer_level')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">客户代号：</label>
                <div class="col-sm-8">
                    <input name="codeName" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">行业划分：</label>
                <div class="col-sm-8">
                    <select name="industryDivision" class="form-control m-b" th:with="type=${@dict.getType('industry_division')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">分配日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="allocationDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">分配次数：</label>
                <div class="col-sm-8">
                    <select name="assignNumber" class="form-control m-b" th:with="type=${@dict.getType('assign_number')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">档案编号：</label>
                <div class="col-sm-8">
                    <input name="fileNumber" class="form-control" type="text">
                </div>
            </div>



            <div class="form-group">    
                <label class="col-sm-3 control-label">项目备案号：</label>
                <div class="col-sm-8">
                    <input name="recordCode" class="form-control" type="text">
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">业务负责人：</label>
                <div class="col-sm-8">
                    <select id="user" class="form-control select2-multiple" > <!--multiple-->
                        <option th:each="user:${users}" th:value="${user.userId}" th:text="${user.userName} + ' ' + ${user.loginName}" ></option>
                    </select>
                </div>
            </div>
            <!--
            <div class="form-group">    
                <label class="col-sm-3 control-label">业务负责人：</label>
                <div class="col-sm-8">
                    <input name="ownerUserId" class="form-control" type="text">
                </div>
            </div>
            -->
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户名称：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text" id="name"  required>
                </div>
            </div>

            <!-- 新添加字段 start -->
            <div class="form-group">
                <label class="col-sm-3 control-label">客户来源：</label>
                <div class="col-sm-8">
                    <input name="source" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备案类别：</label>
                <div class="col-sm-8">
                    <select name="recordType" class="form-control m-b" th:with="type=${@dict.getType('customer_record_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <!-- 重复了
            <div class="form-group">
                <label class="col-sm-3 control-label">备案号：</label>
                <div class="col-sm-8">
                    <input name="recordNum" class="form-control" type="text">
                </div>
            </div>
            -->
            <div class="form-group">
                <label class="col-sm-3 control-label">座机电话：</label>
                <div class="col-sm-8">
                    <input name="telephone" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">联系传真：</label>
                <div class="col-sm-8">
                    <input name="fax" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">公司地址：</label>
                <div class="col-sm-8">
                    <input name="companyAddress" class="form-control" type="text">
                </div>
            </div>

            <!-- 新添加字段 end -->


            <div class="form-group">    
                <label class="col-sm-3 control-label">项目名称：</label>
                <div class="col-sm-8">
                    <input name="projectAme" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系人姓名：</label>
                <div class="col-sm-8">
                    <input name="contactName" class="form-control" id="contactName" type="text" required>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">联系人电话：</label>
                <div class="col-sm-8">
                    <input name="contactPhone" class="form-control" id="contactPhone" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系人邮箱：</label>
                <div class="col-sm-8">
                    <input name="contactEmail" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">品牌：</label>
                <div class="col-sm-8">
                    <input name="brand" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">主要产品：</label>
                <div class="col-sm-8">
                    <input name="productInfo" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <input id="filePaths" name="filePaths" type="hidden">
                <label class="font-noraml">开票资料上传</label>
                <div class="file-loading">
                    <input id="file_paths_" type="file" name="file" class="imgFile form-control">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: select2-js" />
    <script type="text/javascript">
        var prefix = ctx + "fmis/customer";
        var icon = "<i class='fa fa-times-circle'></i> ";

        $(document).ready(function () {
            $("#file_paths_").fileinput({
                'theme': 'fas',
                'uploadUrl': ctx + 'fmis/file/upload',
                dropZoneTitle: "请通过拖拽图片文件放到这里",
                allowedFileExtensions: ['pdf', 'jpg','word'],
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                maxFileCount:1,
                showUpload: false,
                overwriteInitial: false,
                initialPreviewAsData: true
            }).on("filebatchselected", function(event, files) {
                $(this).fileinput("upload");
            }).on("fileuploaded", function(event, data) {
                console.log("data.data=" + data.response.data);
                $("#filePaths").val(data.response.data);
            });
        });

        $("#form-customer-add").validate({
            onkeyup: false,
            rules: {
                name:{
                    required: true,
                    remote: {
                        url: prefix + "/checkCustomerName",
                        type: "post",
                        dataType: "json",
                        async: false,
                        data: {
                            name : function() {
                                return $.common.trim($("#name").val());
                            },
                            status : 0,
                            customerId : 0
                        },
                        dataFilter: function(data, type) {
                            var validateUnique = $.validate.unique(data);
                            return validateUnique;
                        }
                    }
                },
                contactName:{
                    required: true,
                    remote: {
                        url: prefix + "/checkContactName",
                        type: "post",
                        dataType: "json",
                        async: false,
                        data: {
                            contactName : function() {
                                return $.common.trim($("#contactName").val());
                            },
                            status : 0,
                            customerId : 0
                        },
                        dataFilter: function(data, type) {
                            var validateUnique = $.validate.unique(data);
                            return validateUnique;
                        }
                    }
                },
                contactPhone:{
                    required: true,
                    remote: {
                        url: prefix + "/checkContactPhone",
                        type: "post",
                        dataType: "json",
                        async: false,
                        data: {
                            contactPhone : function() {
                                return $.common.trim($("#contactPhone").val());
                            },
                            status : 0,
                            customerId : 0
                        },
                        dataFilter: function(data, type) {
                            var validateUnique = $.validate.unique(data);
                            return validateUnique;
                        }
                    }
                },
            },
            messages: {
                "name": {
                    required: icon + "请填写客户",
                    remote: icon + "客户名称重复"
                },"contactName": {
                    required: icon + "请填写联系人姓名",
                    remote: icon + "联系人姓名重复"
                },"contactPhone": {
                    required: icon + "请填写联系人电话",
                    remote: icon + "联系人电话重复"
                }
            },
            focusCleanup: true
        });

        function submitHandler() {
            var vali = $.validate.form();
            if (vali) {
                var data = $('#form-customer-add').serializeArray();
                var userIds = $.form.selectSelects("user");
                data.push({"name": "ownerUserId", "value": userIds});
                $.operate.save(prefix + "/add", data);
            }
        }

        $("input[name='recordDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        $("input[name='allocationDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>