<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('客户列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>

                            <li>
                                <p>公司代码：</p>
                                <input type="text" name="companyCode"/>
                            </li>

                            <li>
                                <p>所属区域：</p>
                                <select name="area" class="form-control m-b" th:with="type=${@dict.getType('customer_area')}">
                                    <option value="">全部</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>

                            <li>
                                <p>客户名称：</p>
                                <input name="name" class="form-control" type="text">
                            </li>

                            <li>
                                <p>客户类别：</p>
                                <select name="customerLevel" class="form-control m-b" th:with="type=${@dict.getType('customer_level')}">
                                    <option value="">全部</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>

                            <li>
                                <p>客户代号：</p>
                                <input name="codeName" class="form-control" type="text">
                            </li>

                            <li>
                                <p>行业划分：</p>
                                <select name="industryDivision" class="form-control m-b" th:with="type=${@dict.getType('industry_division')}">
                                    <option value="">全部</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>

                            <li>
                                <p>分配次数：</p>
                                <select name="assignNumber" class="form-control m-b" th:with="type=${@dict.getType('assign_number')}">
                                    <option value="">全部</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>


                            <li>
                                <p>备案类别：</p>
                                <select name="recordType" class="form-control m-b" th:with="type=${@dict.getType('customer_record_type')}">
                                    <option value="">全部</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>

                            <li>
                                <p>档案编号：</p>
                                <input name="fileNumber" class="form-control" type="text">
                            </li>

                            <li>
                                <p>客户来源：</p>
                                <input name="source" class="form-control" type="text">
                            </li>

                            <li>
                                <p>项目名称：</p>
                                <input name="projectAme" class="form-control" type="text">
                            </li>

                            <li>
                                <p>品牌：</p>
                                <input name="brand" class="form-control" type="text">
                            </li>

                            <li>
                                <p>品牌：</p>
                                <input name="brand" class="form-control" type="text">
                            </li>

                            <li>
                                <p>主要产品：</p>
                                <input name="productInfo" class="form-control" type="text">
                            </li>

                            <li>
                                <p>客户联系人：</p>
                                <input name="contactName" class="form-control" type="text">
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="fmis:customer:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="fmis:customer:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="fmis:customer:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <!--
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="fmis:customer:export">
                    <i class="fa fa-download"></i> 导出
                 </a> -->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('fmis:customer:edit')}]];
        var removeFlag = [[${@permission.hasPermi('fmis:customer:remove')}]];
        var areaDatas = [[${@dict.getType('customer_area')}]];
        var customerLevelDatas = [[${@dict.getType('customer_level')}]];
        var industryDivisionDatas = [[${@dict.getType('industry_division')}]];
        var assignNumberDatas = [[${@dict.getType('assign_number')}]];
        var recordTypeDatas = [[${@dict.getType('customer_record_type')}]];
        var prefix = ctx + "fmis/customer";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "客户",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'customerId', 
                    title : '客户ID',
                    visible: false
                },
                {
                    field : 'recordDate', 
                    title : '备案日期'
                },
                {
                    field : 'areaCode',
                    title : '客户所属商务公司代码'
                },
                {
                    field : 'area',
                    title : '客户所属区域',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(areaDatas, value);
                    }
                },
                {
                    field : 'customerLevel',
                    title : '客户类别',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(customerLevelDatas, value);
                    }
                },
                {
                    field : 'codeName',
                    title : '客户代号'
                },
                {
                    field : 'industryDivision',
                    title : '行业划分',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(industryDivisionDatas, value);
                    }
                },
                {
                    field : 'allocationDate',
                    title : '分配日期'
                },
                {
                    field : 'assignNumber',
                    title : '分配次数',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(assignNumberDatas, value);
                    }
                },
                {
                    field : 'fileNumber',
                    title : '档案编号'
                },
                {
                    field : 'companyAddress',
                    title : '公司地址'
                },
                {
                    field : 'recordCode', 
                    title : '项目备案号'
                },
                {
                    field : 'ownerUserId', 
                    title : '业务负责人'
                },
                {
                    field : 'name', 
                    title : '客户名称'
                },
                {
                    field : 'source',
                    title : '客户来源'
                },
                {
                    field : 'recordType',
                    title : '备案类别',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(recordTypeDatas, value);
                    }
                },
                    /*
                {
                    field : 'recordNum',
                    title : '备案号'
                },*/
                {
                    field : 'telephone',
                    title : '座机电话'
                },
                {
                    field : 'fax',
                    title : '联系传真'
                },
                {
                    field : 'deptName',
                    title : '隶属部门'
                },
                {
                    field : 'projectAme',
                    title : '项目名称'
                },
                {
                    field : 'contactName', 
                    title : '联系人姓名'
                },
                {
                    field : 'contactPhone', 
                    title : '联系人电话'
                },
                {
                    field : 'contactEmail', 
                    title : '联系人邮箱'
                },
                {
                    field : 'brand', 
                    title : '品牌'
                },
                {
                    field : 'productInfo', 
                    title : '主要产品'
                },
                {
                    field : 'remark', 
                    title : '备注'
                },
                {
                    field : 'createTime',
                    title : '创建时间'
                },{
                    field : 'updateTime',
                    title : '修改时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.customerId + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.customerId + '\')"><i class="fa fa-remove"></i> 删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>