<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('可离合减速器列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <input type="hidden" name="type" value="5"/>
                        <ul>
                            <li>
                                <p>商品编号：</p>
                                <input type="text" name="bh"/>
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="fmis:pattachment:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="fmis:pattachment:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="fmis:pattachment:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>

            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('fmis:pattachment:edit')}]];
        var removeFlag = [[${@permission.hasPermi('fmis:pattachment:remove')}]];
        var prefix = ctx + "fmis/pattachment4";
        var string2Datas = [[${@dict.getType('product_level')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "可离合减速器",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'attachmentId', 
                    title : 'ID',
                    visible: false
                },
                {
                    field : 'bh', 
                    title : '商品编号'
                },
                {
                    field : 'chineseName', 
                    title : '中文品名'
                },
                {
                    field : 'chineseSpecifications', 
                    title : '中文规格'
                },
                {
                    field : 'englishName', 
                    title : '英文品名'
                },
                {
                    field : 'englishSpecifications', 
                    title : '英文规格'
                },
                {
                    field : 'chinesePackaging', 
                    title : '中文包装'
                },
                {
                    field : 'englishPackaging', 
                    title : '英文包装'
                },
                {
                    field : 'chineseUnit', 
                    title : '中文单位'
                },
                {
                    field : 'englishUnit', 
                    title : '英文单位'
                },
                {
                    field : 'pressure', 
                    title : '压力'
                },
                {
                    field : 'material', 
                    title : '材质'
                },
                {
                    field : 'barCode', 
                    title : '条形码'
                },
                {
                    field : 'customsBh', 
                    title : '海关编码'
                },
                {
                    field : 'handlingFee', 
                    title : '操作费'
                },
                {
                    field : 'color', 
                    title : '颜色'
                },
                {
                    field : 'developer', 
                    title : '开发人员'
                },
                {
                    field : 'goodsCategory', 
                    title : '商品分类'
                },
                {
                    field : 'supplierName',
                    title : '供应商'
                },
                    {
                        field : 'string1',
                        title : '等级',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(string2Datas, value);
                        }
                    },
                {
                    field : 'costPrice', 
                    title : '成本价'
                },
                {
                    field : 'settlementPrice', 
                    title : '结算价'
                },
                {
                    field : 'basePrice', 
                    title : '销售底价'
                }/*,
                {
                    field : 'price', 
                    title : '销售价'
                }*/,
                {
                    field : 'remark', 
                    title : '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.attachmentId + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.attachmentId + '\')"><i class="fa fa-remove"></i> 删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>