<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增进项发票')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-invoice-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">序号：</label>
                <div class="col-sm-8">
                    <input name="serialNo" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">发票代码：</label>
                <div class="col-sm-8">
                    <input name="invoiceCode" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">发票号码：</label>
                <div class="col-sm-8">
                    <input name="invoiceNo" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">开票日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="billDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">确认/认证日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="authDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">纳税人识别号：</label>
                <div class="col-sm-8">
                    <input name="taxpayerIdNo" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供应商名称：</label>
                <div class="col-sm-8">
                    <input name="supplierId" id="supplierId" class="form-control" type="hidden">
                    <input name="supplierName" id="supplierName" class="form-control" type="text" readonly onclick="selectSuppliers()">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">发票金额：</label>
                <div class="col-sm-8">
                    <input name="amount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">税率：</label>
                <div class="col-sm-8">
                    <input name="taxRate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">采购合同号：</label>
                <div class="col-sm-8">
<!--                    <select id="contractNo" name="contractNo"  class="form-control">-->
<!--                        <option value="">请选择</option>-->
<!--                    </select>-->
                    <input name="contractNo" id="contractNo" class="form-control" type="text" readonly
                           onclick="selectContract()" required>
                </div>
            </div>


            <div class="form-group">    
                <label class="col-sm-3 control-label">发票类型：</label>
                <div class="col-sm-8">
                    <select name="invoiceType" class="form-control m-b" th:with="type=${@dict.getType('invoice_classify')}"
                            required>
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">发票状态：</label>
                <div class="col-sm-8">
                    <select name="status" class="form-control m-b" th:with="type=${@dict.getType('biz_invoice_status')}"
                            required>
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea id="remark" name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "fmis/bizInvoice"
        $("#form-invoice-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-invoice-add').serialize());
            }
        }
        $('#supplierId').on('change', function (e) {
            var supplierId = $('#supplierId').val();
            $.ajax({
                url: prefix + "/selectContract/"+supplierId,
                type: "post",
                success: function(data) {
                    <!--清空下拉框中的缓存-->
                    $("#contractNo").empty();
                    <!--避免下拉框的值不变-->
                    $("#contractNo").append("<option value=''>请选择</option>");
                    <!--使用循环解析后端传来的数据，并用使用js动态拼接html语言-->
                    for (var i = 0; i < data.length; i++){
                        $("#contractNo").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                    }
                }
            });
        });

        function selectSuppliers() {
            var widthNum = this.innerWidth;
            var heigthNum = this.innerHeight;
            var url = prefix + "/selectSuppliers";
            $.modal.open("关联供应商", url,widthNum, heigthNum);
        }

        function selectContract() {
            var supplierName = $("#supplierName").val();
            if ($.common.isEmpty(supplierName)) {
                $.modal.alertWarning("请先选择供应商");
                return;
            }
            var url = prefix + "/selectContract?supplierName=" + supplierName;
            var widthNum = this.innerWidth;
            var heigthNum = this.innerHeight;

            $.modal.open("关联合同", url, widthNum, heigthNum);
        }

        $("input[name='billDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        $("input[name='authDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>