<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>北京好利</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <link href="../static/ruoyi/css/ry-ui.css" th:href="@{/ruoyi/css/ry-ui.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ruoyi/js/ry-ui.js}"></script>

</head>

<body class="gray-bg">

<div class="row  border-bottom white-bg dashboard-header">
    欢迎访问 北京好利信息化管控平台

    <div style="margin-top: 10px;">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            工单类型：
                            <select id="search-orderTypes" name="orderType">
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="refresh()">
                                   <i class="fa fa-search">查询</i>&nbsp;</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#todo" data-toggle="tab">
                    待办任务
                </a>
            </li>
            <li><a href="#done" data-toggle="tab">已办任务</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="todo">
                <table  id="todo-table"></table>
            </div>
            <div class="tab-pane fade" id="done">
                <table  id="done-table"></table>
            </div>
        </div>
    </div>


    <div class="form-horizontal">
        <div class="form-group">
        </div>

    </div>
</div>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<div th:include="include :: footer"></div>
<script th:inline="javascript">

    function getOrderType(orderType) {
        if(orderType == 'biz_quotation') {
            return "报价审批工单";
        }
        if(orderType == 'contract') {
            return "销售合同工单";
        }
        if(orderType == 'procurement') {
            return "采购合同工单";
        }
        if(orderType == 'cpayment') {
            return "付款审批工单";
        }
        if(orderType == 'newdelivery') {
            return "发货审批工单";
        }
        if(orderType == 'borrowing') {
            return "借款审批工单";
        }
        if(orderType == 'payment') {
            return "报销审批工单";
        }
        if(orderType == 'invoice') {
            return "发票审批工单";
        }
    }

    // 定义列名
    var todo_columns =  [
        {
            field: 'orderNo',
            title: '工单编号'
        },
        {
            field: 'orderType',
            title: '工单类型',
            formatter:function (value, row) {
                var orderType = row.orderType;
                return getOrderType(orderType);
            }
        },
        {
            field: 'applyUser',
            title: '发起人'
        },
        {
            field: 'applyTime',
            title: '发起时间'
        },
        {
            field: '',
            title: '操作', formatter:function (value, row) {
                var orderType = row.orderType;
                return '<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="subExamine(\'' + row.id +'\',\''+orderType + '\')"><i class="fa fa-remove"></i> 审批</a>';
            }

        }];

    var done_columns =  [
        {
            field: 'orderNo',
            title: '工单编号'
        },
        {
            field: 'orderType',
            title: '工单类型',
            formatter:function (value, row) {
                var orderType = row.orderType;
                return getOrderType(orderType);
            }
        },
        {
            field: 'approvalUser',
            title: '发起人'
        },
        {
            field: 'createTime',
            title: '发起时间'
        },
        {
            field: 'auditTime',
            title: '审批时间'
        },
        {
            field: '',
            title: '操作', formatter:function (value, row ) {
                var orderType = row.orderType;
                return '<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="viewExamineHistory(\'' + row.id+'\',\''+orderType + '\')"><i class="fa fa-remove"></i> 审批记录 </a>';
            }

        }];


    var prefix = "/fmis/quotation/";

    function refresh() {
        // 获取待办列表，已办列表
        $.table.search('formId','todo-table');
        $.table.search('formId','done-table');
    }

    function getPrefix(orderType) {
        if(orderType == 'contract') {
            return "/fmis/data";
        }
        if(orderType == 'procurement') {
            return "/fmis/procurement";
        }
        if(orderType == 'cpayment') {
            return "/fmis/cpayment";
        }
        if(orderType == 'newdelivery') {
            return "/fmis/newdelivery";
        }
        if(orderType == 'borrowing') {
            return "/fmis/borrowing";
        }
        if(orderType == 'payment') {
            return "/fmis/payment";
        }
        if(orderType == 'invoice') {
            return "/fmis/invoice";
        }
    }


    function viewExamineHistory(dataId, orderType) {

        var url = getPrefix(orderType) + "/viewExamineHistory?dataId=" + dataId + "&&bizId=" + orderType;
        $.modal.openNoEnter("审批记录", url,'','',function(){
            $.modal.closeAll();
        });
    }

    function subExamine(dataId, orderType) {
        var url = getPrefix(orderType) + "/examineEdit?dataId=" + dataId;
        $.modal.open("审批", url,'','',function(index, layero) {
            var iframeWin = layero.find('iframe')[0];
            iframeWin.contentWindow.submitHandler(index, layero);
            $('#myTab li:eq(1) a').tab('show')
            refresh()
        });
    }
    
    function searchList() {
        // $.table.search('formId','todo-table',{'orderType': $("#search-orderTypes").val(), "orderByColumn":'create_time', "isAsc":'desc'});
        // $.table.search('formId','done-table',{'orderType': $("#search-orderTypes").val(), "orderByColumn":'create_time', "isAsc":'desc'});
    }

    $(function () {
        // 获取工单类型
        $.ajax({
            type: 'GET',
            contentType: "application/json;charset=UTF-8",
            //请求地址
            url: "/fmis/orderAudit/orderTypes",
            //请求成功
            success: function (result) {
                var optionHtml = '';
                var i =0;
                $.each(result,function(key, value){
                    if(key == '-1') {
                        optionHtml += '<option value="'+key+'" selected>'+value+'</option>'
                    } else {
                        optionHtml += '<option value="'+key+'">'+value+'</option>'
                    }
                    i++;
                })
                $("#search-orderTypes").html(optionHtml);

                // 获取待办列表，已办列表
                getTodoList($("#search-orderTypes").val());
                getDoneList($("#search-orderTypes").val());
            }

        });


        //请求参数
        var list = {};
        //
        $.ajax({
            //请求方式
            type: "POST",
            //请求的媒体类型
            contentType: "application/json;charset=UTF-8",
            //请求地址
            url: prefix + "todoView",
            dataType: 'json',
            //请求成功
            success: function (result) {
                var quotationNum = result.data.quotationNum;
                var contractNum = result.data.contractNum;
                $("#quotationNum").text(quotationNum);
                $("#contractNum").text(contractNum);
                console.log("result=" + result.data.quotationNum);
                if (quotationNum > 0 || contractNum > 0) {
                    parent.$('#todoListFlag').text("*");
                }
            },
            //请求失败，包含具体的错误信息
            error: function (e) {
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    });

    function getDoneList(orderType) {
        var options = {
            url: "/fmis/orderAudit/done",
            modalName: "待办",
            uniqueId: "done",
            id: "done-table",
            classes: "table table-bordered table-sm",
            // queryParams: {
            //     "orderType": orderType,
            //     "pageSize":10,
            //     "pageNum":1,
            //     "orderByColumn":'create_time',
            //     "isAsc":'desc'
            // },
            showFooter: true,
            columns: done_columns
        };
        $.table.init(options);
    }

    function getTodoList(orderType) {
        var options = {
            url: "/fmis/orderAudit/todo",
            modalName: "待办",
            uniqueId: "todo",
            id: "todo-table",
            classes: "table table-bordered table-sm",
            // queryParams: {
            //     "orderType": orderType,
            //     "pageSize":10,
            //     "pageNum":1,
            //     "orderByColumn":'create_time',
            //     "isAsc":'desc'
            // },
            showFooter: true,
            columns: todo_columns
        };
        $.table.init(options);
    }


    $('#pay-qrcode').click(function () {
        var html = $(this).html();
        parent.layer.open({
            title: false,
            type: 1,
            closeBtn: false,
            shadeClose: true,
            area: ['600px', 'auto'],
            content: html
        });
    });

    function goQuotation() {
        $.modal.openTab("报价单审批", "/fmis/quotation/todoQuotation");
    }

    $(function () {
        var options = {
            url: "/fmis/quotation/list",
            modalName: "报价单",
            uniqueId: "quotationId",
            id: "bootstrap-table1",
            classes: "table table-bordered table-sm",
            queryParams: {
                "string6": 1
            },
            showFooter: true,
            columns: [
                {
                    field: 'quotationId',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'createBy',
                    title: '申请人',
                    footerFormatter: function (value) {

                        return "<a onclick='goQuotation()' href='#'>更多报价单...</a>";
                    }
                },
                {
                    field: 'string9',
                    title: '总金额'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                }]
        };
        $.table.init(options);
    });

    $(function () {
        //请求参数
        var list = {};
        //
        $.ajax({
            //请求方式
            type: "POST",
            //请求的媒体类型
            contentType: "application/json;charset=UTF-8",
            //请求地址
            url: prefix + "todoView",
            dataType: 'json',
            //请求成功
            success: function (result) {
                var quotationNum = result.data.quotationNum;
                var contractNum = result.data.contractNum;
                $("#quotationNum").text(quotationNum);
                $("#contractNum").text(contractNum);
                console.log("result=" + result.data.quotationNum);
                if (quotationNum > 0 || contractNum > 0) {
                    parent.$('#todoListFlag').text("*");
                }
            },
            //请求失败，包含具体的错误信息
            error: function (e) {
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    });


    $('#pay-qrcode').click(function () {
        var html = $(this).html();
        parent.layer.open({
            title: false,
            type: 1,
            closeBtn: false,
            shadeClose: true,
            area: ['600px', 'auto'],
            content: html
        });
    });

    function goContract() {
        $.modal.openTab("合同审批", "/fmis/data?todo=1");
    }

    $(function () {
        var options = {
            url: "/fmis/data/list",
            id: "bootstrap-table2",
            classes: "table table-bordered table-sm",
            modalName: "合同管理",
            queryParams: {
                "queryStatus": 1
            },
            showFooter: true,
            uniqueId: "dataId",
            columns: [
                {
                    field: 'dataId',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'createByName',
                    title: '申请人',
                    footerFormatter: function (value) {
                        return "<a onclick='goContract()' href='#'>更多合同...</a>";
                    }
                },
                {
                    field: 'price1',
                    title: '总价'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                }]
        };
        $.table.init(options);
    });

</script>
</body>
</html>
