<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>北京好利</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <link href="../static/ruoyi/css/ry-ui.css" th:href="@{/ruoyi/css/ry-ui.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ruoyi/js/ry-ui.js?v=4.0.0}"></script>

</head>

<body class="gray-bg">

<div class="row  border-bottom white-bg dashboard-header">
    欢迎访问 北京好利信息化管控平台

    <div style="margin-top: 10px;">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            工单类型：
                            <select id="search-orderTypes">
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="searchList()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#todo" data-toggle="tab">
                    待办任务
                </a>
            </li>
            <li><a href="#done" data-toggle="tab">已办任务</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="todo">
                <table  id="todo-table"></table>
            </div>
            <div class="tab-pane fade" id="done">
                <table  id="done-table"></table>
            </div>
        </div>
    </div>


    <!--  <ul class="m-b">-->

    <!--    <li style="display: none"><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 报价单 <a id="quotationNum" style="color: red;" onclick="todoQuotation(1)"></a> </li>-->
    <!--    <li style="display: none"><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 合同 <a id="contractNum" style="color: red;" onclick="todoContract(1)"></a> </li>-->

    <!--  </ul>-->

    <div class="form-horizontal">
        <div class="form-group">

            <!--      <div class="col-sm-5">-->
            <!--        <table  id="bootstrap-table1"></table>-->
            <!--      </div>-->
            <!--      <div class="col-sm-5">-->
            <!--        <table  id="bootstrap-table2"></table>-->
            <!--      </div>-->
        </div>

    </div>
</div>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<div th:include="include :: footer"></div>
<script th:inline="javascript">


    function openMenu(orderType) {
        if(orderType == 'biz_quotation') {
            $.modal.openTab("报价单审批", "/fmis/quotation/todoQuotation");
        }
        if(orderType == 'contract') {
            $.modal.openTab("合同列表", "/fmis/data");
        }
        if(orderType == 'procurement') {
            $.modal.openTab("采购列表", "/fmis/procurement");
        }
        if(orderType == 'cpayment') {
            $.modal.openTab("付款列表", "/fmis/cpayment");
        }
        if(orderType == 'newdelivery') {
            $.modal.openTab("发货列表", "/fmis/newdelivery");
        }
        if(orderType == 'borrowing') {
            $.modal.openTab("借款列表", "/fmis/borrowing");
        }
        if(orderType == 'payment') {
            $.modal.openTab("报销列表", "/fmis/payment");
        }
        if(orderType == 'invoice') {
            $.modal.openTab("发票列表", "/fmis/invoice");
        }


    }

    // 定义列名
    var todo_columns =  [
        {
            field: 'orderNo',
            title: '工单编号'
        },
        {
            field: 'applyUser',
            title: '发起人'
        },
        {
            field: 'applyTime',
            title: '发起时间'
        },
        {
            field: '',
            title: '操作', formatter:function (value, row) {
                var orderType = row.orderType;
                return "<a onclick=openMenu('"+orderType+"')>去审批</a>";
            }

        }];

    var done_columns =  [
        {
            field: 'orderNo',
            title: '工单编号'
        },
        {
            field: 'approvalUser',
            title: '发起人'
        },
        {
            field: 'createTime',
            title: '发起时间'
        },
        {
            field: 'auditTime',
            title: '审批时间'
        },
        {
            field: '',
            title: '操作', formatter:function (value, row ) {
                var orderType = row.orderType;
                return "<a onclick=openMenu('"+orderType+"')>去查看</a>";
            }

        }];


    var prefix = "/fmis/quotation/";

    function todoQuotation(type) {
        if (type == 1) {
            var url = "/fmis/quotation/todoQuotation";
            location.href = url;
            //$.modal.openTab("待办列表", url);
        }
    }

    function todoContract(type) {
        if (type == 1) {
            var url = "/fmis/data?todo=1";
            location.href = url;
            //parent.modal.open("aaa", url);
            //$.modal.open("aaa", url);
            //$.modal.alertError("1111");
        }
    }
    
    function searchList() {
        $.table.search('formId','todo-table',{'orderType': $("#search-orderTypes").val(), "orderByColumn":'create_time', "isAsc":'desc'});
        $.table.search('formId','done-table',{'orderType': $("#search-orderTypes").val(), "orderByColumn":'create_time', "isAsc":'desc'});
    }

    $(function () {
        // 获取工单类型
        $.ajax({
            type: 'GET',
            contentType: "application/json;charset=UTF-8",
            //请求地址
            url: "/fmis/orderAudit/orderTypes",
            //请求成功
            success: function (result) {
                var optionHtml = '';
                var i =0;
                $.each(result,function(key, value){
                    if(i == 0) {
                        optionHtml += '<option value="'+key+'" selected>'+value+'</option>'
                    } else {
                        optionHtml += '<option value="'+key+'">'+value+'</option>'
                    }
                    i++;
                })
                $("#search-orderTypes").html(optionHtml);

                // 获取待办列表，已办列表
                getTodoList($("#search-orderTypes").val());
                getDoneList($("#search-orderTypes").val());
            }

        });


        //请求参数
        var list = {};
        //
        $.ajax({
            //请求方式
            type: "POST",
            //请求的媒体类型
            contentType: "application/json;charset=UTF-8",
            //请求地址
            url: prefix + "todoView",
            dataType: 'json',
            //请求成功
            success: function (result) {
                var quotationNum = result.data.quotationNum;
                var contractNum = result.data.contractNum;
                $("#quotationNum").text(quotationNum);
                $("#contractNum").text(contractNum);
                console.log("result=" + result.data.quotationNum);
                if (quotationNum > 0 || contractNum > 0) {
                    parent.$('#todoListFlag').text("*");
                }
            },
            //请求失败，包含具体的错误信息
            error: function (e) {
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    });

    function getDoneList(orderType) {
        var options = {
            url: "/fmis/orderAudit/done",
            modalName: "待办",
            uniqueId: "done",
            id: "done-table",
            classes: "table table-bordered table-sm",
            queryParams: {
                "orderType": orderType,
                "pageSize":10,
                "pageNum":1,
                "orderByColumn":'create_time',
                "isAsc":'desc'
            },
            showFooter: true,
            columns: done_columns
        };
        $.table.init(options);
    }

    function getTodoList(orderType) {
        var options = {
            url: "/fmis/orderAudit/todo",
            modalName: "待办",
            uniqueId: "todo",
            id: "todo-table",
            classes: "table table-bordered table-sm",
            queryParams: {
                "orderType": orderType,
                "pageSize":10,
                "pageNum":1,
                "orderByColumn":'create_time',
                "isAsc":'desc'
            },
            showFooter: true,
            columns: todo_columns
        };
        $.table.init(options);
    }


    $('#pay-qrcode').click(function () {
        var html = $(this).html();
        parent.layer.open({
            title: false,
            type: 1,
            closeBtn: false,
            shadeClose: true,
            area: ['600px', 'auto'],
            content: html
        });
    });

    function goQuotation() {
        $.modal.openTab("报价单审批", "/fmis/quotation/todoQuotation");
    }

    $(function () {
        var options = {
            url: "/fmis/quotation/list",
            modalName: "报价单",
            uniqueId: "quotationId",
            id: "bootstrap-table1",
            classes: "table table-bordered table-sm",
            queryParams: {
                "string6": 1
            },
            showFooter: true,
            columns: [
                {
                    field: 'quotationId',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'createBy',
                    title: '申请人',
                    footerFormatter: function (value) {

                        return "<a onclick='goQuotation()' href='#'>更多报价单...</a>";
                    }
                },
                {
                    field: 'string9',
                    title: '总金额'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                }]
        };
        $.table.init(options);
    });

    $(function () {
        //请求参数
        var list = {};
        //
        $.ajax({
            //请求方式
            type: "POST",
            //请求的媒体类型
            contentType: "application/json;charset=UTF-8",
            //请求地址
            url: prefix + "todoView",
            dataType: 'json',
            //请求成功
            success: function (result) {
                var quotationNum = result.data.quotationNum;
                var contractNum = result.data.contractNum;
                $("#quotationNum").text(quotationNum);
                $("#contractNum").text(contractNum);
                console.log("result=" + result.data.quotationNum);
                if (quotationNum > 0 || contractNum > 0) {
                    parent.$('#todoListFlag').text("*");
                }
            },
            //请求失败，包含具体的错误信息
            error: function (e) {
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    });


    $('#pay-qrcode').click(function () {
        var html = $(this).html();
        parent.layer.open({
            title: false,
            type: 1,
            closeBtn: false,
            shadeClose: true,
            area: ['600px', 'auto'],
            content: html
        });
    });

    function goContract() {
        $.modal.openTab("合同审批", "/fmis/data?todo=1");
    }

    $(function () {
        var options = {
            url: "/fmis/data/list",
            id: "bootstrap-table2",
            classes: "table table-bordered table-sm",
            modalName: "合同管理",
            queryParams: {
                "queryStatus": 1
            },
            showFooter: true,
            uniqueId: "dataId",
            columns: [
                {
                    field: 'dataId',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'createByName',
                    title: '申请人',
                    footerFormatter: function (value) {
                        return "<a onclick='goContract()' href='#'>更多合同...</a>";
                    }
                },
                {
                    field: 'price1',
                    title: '总价'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                }]
        };
        $.table.init(options);
    });

</script>
</body>
</html>
