<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增业务产品')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-product-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">产品名称：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">系列：</label>
                <div class="col-sm-8">
                    <select name="series" id="series" class="form-control select2-multiple" > <!--multiple-->
                        <option>请选择</option>
                        <option th:each="series:${seriesSelect}" th:value="${series.dictId}" th:text="${series.name} + ' ' + ${series.code}"></option>
                    </select>
                    <!--
                    <input name="series" class="form-control" type="text">
                    -->
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">产品型号：</label>
                <div class="col-sm-8">
                    <input name="model" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">规格：</label>
                <div class="col-sm-8">
                    <select name="specifications" id="specifications" class="form-control select2-multiple" ><option>请选择</option></select>
                    <!--
                    <input name="specifications" class="form-control" type="text">
                    -->
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公称压力：</label>
                <div class="col-sm-8">
                    <select name="nominalPressure" id="nominalPressure" class="form-control select2-multiple" ><option>请选择</option></select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">连接方式：</label>
                <div class="col-sm-8">
                    <select name="connectionType" id="connectionType" class="form-control select2-multiple" ><option>请选择</option></select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">阀体材质：</label>
                <div class="col-sm-8">
                    <select name="valvebodyMaterial" id="valvebodyMaterial" class="form-control select2-multiple" ><option>请选择</option></select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">阀板材质：</label>
                <div class="col-sm-8">
                    <input id="valveMaterial" name="valveMaterial" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">密封材质：</label>
                <div class="col-sm-8">
                    <select name="sealingMaterial" id="sealingMaterial" class="form-control select2-multiple" ><option>请选择</option></select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">阀芯材质：</label>
                <div class="col-sm-8">
                    <select name="valveElement" id="valveElement" class="form-control select2-multiple" ><option>请选择</option></select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">驱动形式：</label>
                <div class="col-sm-8">
                    <select name="driveForm" id="driveForm" class="form-control select2-multiple" ><option>请选择</option></select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">产品单价：</label>
                <div class="col-sm-8">
                    <input name="price" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供应商名称：</label>
                <div class="col-sm-8">
                    <input name="supplier" class="form-control" type="text">
                </div>
            </div>

        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "fmis/product"
        $("#form-product-add").validate({
            focusCleanup: true
        });

        $("#series").change(function (){
            var series = $("#series").val();
            console.log("series=" + series);
            if (series == null || series == "请选择") {
                $("#specifications").html("")
                return;
            }
            $.ajax({
              url:prefix + "/findProductTypeDict",
              type : "post",
              data : {"dictId" : series},
              success : function (data) {
                  var specificationArray = data["specification"];
                  setDataToOption(specificationArray,"specifications");
                  //nominalPressure
                  var nominalPressures = data["nominalPressure"];
                  setDataToOption(nominalPressures,"nominalPressure");

                  var linkTypes = data["linkType"];
                  setDataToOption(linkTypes,"connectionType");

                  var sealingMaterials = data["sealingMaterial"];
                  setDataToOption(sealingMaterials,"sealingMaterial");

                  var spoolMaterials = data["spoolMaterial"];//valveElement
                  setDataToOption(spoolMaterials,"valveElement");

                  var driveModes = data["driveMode"];
                  setDataToOption(driveModes,"driveForm");

                  //bodyMaterial
                  var bodyMaterials = data["bodyMaterial"];
                  setDataToOption(bodyMaterials,"valvebodyMaterial");
              }
            })
        });

        function setDataToOption(dataArray,selectId) {
            $("#" + selectId).html("");
            $("#" + selectId).append("<option>请选择</option>")
            for (var i = 0; i < dataArray.length; i++) {
                var specificationObj = dataArray[i];
                $("#" + selectId).append("<option value='" + specificationObj.dictId + "'>" + specificationObj.name + "</option>")
            }
        }

        function submitHandler() {
            if ($.validate.form()) {
                console.log($('#form-product-add').serialize());
                $.operate.save(prefix + "/add", $('#form-product-add').serialize());
            }
        }
    </script>
</body>
</html>