<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改业务产品')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-product-edit" th:object="${bizProduct}">
            <input name="productId" th:field="*{productId}" type="hidden">


            <div class="form-group">    
                <label class="col-sm-3 control-label">产品名称：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" type="text">
                </div>
            </div>

            <!--
            <div class="form-group">    
                <label class="col-sm-3 control-label">系列 数据字典：</label>
                <div class="col-sm-8">
                    <input name="series" th:field="*{series}" class="form-control" type="text">
                </div>
            </div>-->

            <div class="form-group">
                <label class="col-sm-3 control-label">类别：</label>
                <div class="col-sm-8">
                    <select name="series" id="series" class="form-control select2-multiple" > <!--multiple-->
                        <option>请选择</option>
                        <option th:each="series:${seriesSelect}" th:value="${series.dictId}" th:text="${series.name} + '_' + ${series.code}" ></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">系列：</label>
                <div class="col-sm-8">
                    <input type="hidden" id="string1Text" th:value="*{string1}">
                    <select name="string1" id="string1" class="form-control select2-multiple"> <!--multiple-->
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">产品型号：</label>
                <div class="col-sm-8">
                    <input name="model" th:field="*{model}" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">好利型号：</label>
                <div class="col-sm-8">
                    <input name="string4" id="string4" th:field="*{string4}" class="form-control"  type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">规格：</label>
                <div class="col-sm-8">
                    <select name="specifications" onchange="generateProductModel()" id="specifications" class="form-control select2-multiple" ><option value="">请选择</option></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">公称压力：</label>
                <div class="col-sm-8">
                    <select name="nominalPressure" onchange="generateProductModel()" id="nominalPressure" class="form-control select2-multiple" ><option value="">请选择</option></select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">连接方式：</label>
                <div class="col-sm-8">
                    <select name="connectionType" onchange="generateProductModel()" id="connectionType" class="form-control select2-multiple" ><option value="">请选择</option></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">结构形式：</label>
                <div class="col-sm-8">
                    <select name="structuralStyle" onchange="generateProductModel()" id="structuralStyle" class="form-control select2-multiple" ><option value="">请选择</option></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">阀体材质：</label>
                <div class="col-sm-8">
                    <select name="valvebodyMaterial" onchange="generateProductModel()" id="valvebodyMaterial" class="form-control select2-multiple" ><option value="">请选择</option></select>
                </div>
            </div>

            <!--

            <div class="form-group">
                <label class="col-sm-3 control-label">阀板材质：</label>
                <div class="col-sm-8">
                    <input id="valveMaterial" name="valveMaterial" class="form-control" th:field="*{valveMaterial}" type="text">
                </div>
            </div>
            -->
            <div class="form-group">
                <label class="col-sm-3 control-label">密封材质：</label>
                <div class="col-sm-8">
                    <select name="sealingMaterial" onchange="generateProductModel()" id="sealingMaterial" class="form-control select2-multiple" ><option value="">请选择</option></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">阀芯材质：</label>
                <div class="col-sm-8">
                    <select name="valveElement" onchange="generateProductModel()" id="valveElement" class="form-control select2-multiple" ><option value="">请选择</option></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">阀轴：</label>
                <div class="col-sm-8">
                    <select name="string3" class="form-control m-b" th:with="type=${@dict.getType('valve_shaft')}">
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}" th:field="*{string3}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">驱动形式：</label>
                <div class="col-sm-8">
                    <select name="driveForm" onchange="generateProductModel()" id="driveForm" class="form-control select2-multiple" ><option value="">请选择</option></select>
                </div>
            </div>




            <div class="form-group">
                <label class="col-sm-3 control-label">产品等级：</label>
                <div class="col-sm-8">
                    <select name="string2" class="form-control m-b" th:with="type=${@dict.getType('product_level')}">
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{string2}"></option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">产品采购价：</label>
                <div class="col-sm-8">
                    <input name="procurementPrice" id="procurementPrice" th:field="*{procurementPrice}"  class="form-control" type="text">
                   <!-- <input name="procurementPrice" id="procurementPrice" th:field="*{procurementPrice}" onblur="sumPrice()" onkeyup="AmountKeyUp(this)" class="form-control" type="text">-->
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">产品成本价：</label>
                <div class="col-sm-8">
                    <input name="costPrice" id="costPrice" th:field="*{costPrice}"  class="form-control" type="text">
                    <!--<input name="costPrice" id="costPrice" th:field="*{costPrice}" onkeyup="AmountKeyUp(this)" class="form-control" type="text">-->
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">产品单价：</label>
                <div class="col-sm-8">
                    <input name="price" id="price" th:field="*{price}" class="form-control" type="text">
                    <!--<input name="price" id="price" onkeyup="AmountKeyUp(this)" th:field="*{price}" class="form-control" type="text">-->
                </div>
            </div>




            <div class="form-group">
                <label class="col-sm-3 control-label">供应商名称：</label>
                <div class="col-sm-8">
                    <select name="supplier" id="supplier" class="form-control select2-multiple" > <!--multiple-->
                        <option value="">请选择</option>
                        <option th:each="supplier:${suppliers}" th:value="${supplier.suppliersId}" th:text="${supplier.name}" th:selected="${supplier.flag}"></option>
                    </select>
                    <input name="newSupplier" class="form-control" th:field="*{newSupplier}" type="text" placeholder="新供应商输入">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">供应商颜色：</label>
                <div class="col-sm-8">
                    <select name="color" class="form-control m-b" th:with="type=${@dict.getType('color')}">
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{color}"></option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">介质：</label>
                <div class="col-sm-8">
                    <input name="medium" class="form-control" th:field="*{medium}" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">温度：</label>
                <div class="col-sm-8">
                    <input name="temperature" class="form-control" th:field="*{temperature}" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">其他：</label>
                <div class="col-sm-8">
                    <input name="other" class="form-control" th:field="*{other}" type="text">
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remark" class="form-control" type="text" th:field="*{remark}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">标准产品：</label>
                <div class="col-sm-8">
                    <select name="string5" class="form-control m-b" th:with="type=${@dict.getType('is_standard-product')}">
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"  th:field="*{string5}"></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <script type="text/javascript">
        var prefix = ctx + "fmis/product";
        $("#form-product-edit").validate({
            focusCleanup: true
        });

        function string1AddOptions(v){
            var string1Value = $("#string1Text").val();
            $("#string1").html("");
            $("#string1").append("<option value=''>请选择</option>");
            var string1Obj = $("#string1");
            if (v == "D") {
                string1Obj.append("<option value='D220'>D220</option>");
                string1Obj.append("<option value='D240'>D240</option>");
                string1Obj.append("<option value='D260'>D260</option>");
                string1Obj.append("<option value='D261'>D261</option>");
                string1Obj.append("<option value='D270'>D270</option>");
                string1Obj.append("<option value='D271'>D271</option>");
                string1Obj.append("<option value='D310'>D310</option>");
                string1Obj.append("<option value='D370'>D370</option>");
            } else {
                string1Obj.append("<option value='" + v + "'>" + v + "</option>");
            }
            if (!$.common.isEmpty(string1Value)) {
                $("#string1 option").each(function() {
                    if($(this).val() == string1Value) {
                        $(this).attr("selected","selected");
                    }
                })
            }
        }
        //根据 采购价 计算 成本价 结算价 销售低价都四舍五入取整数
        function sumPrice () {
            var procurementPrice = $("#procurementPrice").val();
            if (!$.common.isEmpty(procurementPrice)) {
                var procurementPriceF = parseFloat(procurementPrice);
                var procurementPriceF_ = parseFloat(procurementPriceF * 1.08).toFixed(0);
                $("#costPrice").val(procurementPriceF_);
                $("#price").val(parseFloat((procurementPriceF_ * 1.3) * 1.1).toFixed(0));
            }

        }

        var specificationArrayDict = null;
        /**
         * 生成产品型号ID
         * 系列(D或者字典)+驱动形式+连接方式+结构形式+密封材质+阀芯材质-公称压力+阀体材质-
         * @param obj
         */
        function generateProductModel () {
            var modelId = "";
            var string1 = $("#string1").find("option:selected").text();
            if ($.common.startWith(string1,"D")) {
                string1 = "D";
            }
            modelId += string1;
            if ($.common.isEmpty(string1)) {
                return;
            }
            var driveForm = $("#driveForm").val();
            if ($.common.isEmpty(driveForm)) {
                return;
            }
            if (specificationArrayDict == null) {
                return;
            }
            modelId += getDictCode("driveMode",driveForm);

            var connectionType = $("#connectionType").val();
            if ($.common.isEmpty(connectionType)) {
                return;
            }
            modelId += getDictCode("linkType",connectionType);

            var structuralStyle = $("#structuralStyle").val();
            if ($.common.isEmpty(structuralStyle)) {
                return;
            }
            modelId += getDictCode("structuralStyle",structuralStyle);

            var sealingMaterial = $("#sealingMaterial").val();
            if ($.common.isEmpty(sealingMaterial)) {
                return;
            }
            modelId += getDictCode("sealingMaterial",sealingMaterial);

            var valveElement = $("#valveElement").val();
            if ($.common.isEmpty(valveElement)) {
                return;
            }
            modelId += getDictCode("spoolMaterial",valveElement);


            modelId += "-";

            var nominalPressure = $("#nominalPressure").val();
            if ($.common.isEmpty(nominalPressure)) {
                return;
            }
            modelId += getDictCode("nominalPressure",nominalPressure);

            var valvebodyMaterial = $("#valvebodyMaterial").val();
            if ($.common.isEmpty(valvebodyMaterial)) {
                return;
            }
            modelId += getDictCode("bodyMaterial",valvebodyMaterial);

            modelId += "-";

            var specifications = $("#specifications").val();
            if ($.common.isEmpty(specifications)) {
                return;
            }
            modelId += getDictCode("specification",specifications);

            $("#model").val(modelId);
        }
        function getDictCode (dictType,dataId) {
            var datas = specificationArrayDict[dictType];
            for (var i = 0; i < datas.length; i++) {
                var selObj = datas[i];
                if (dataId == selObj.dictId) {
                    return selObj.code;
                }
            }
            return "";
        }

        $("#series").change(function (){
            var series = $("#series").val();
            console.log("series=" + series);
            specificationArrayDict = null;
            if (series == null || series == "请选择" || series == "") {
                $("#specifications").html("");
                $("#nominalPressure").html("");
                $("#connectionType").html("");
                $("#sealingMaterial").html("");
                $("#valveElement").html("");
                $("#driveForm").html("");
                $("#valvebodyMaterial").html("");
                $("#structuralStyle").html("");
                $("#string1").html("");
                return;
            }
            var string1All = $("#series").find("option:selected").text();
            var string1 = string1All.split("_")[1];
            //string1AddOptions(string1);
            generateProductModel();
            $.ajax({
                url:prefix + "/findProductTypeDict",
                type : "post",
                data : {"dictId" : series},
                success : function (data) {
                    specificationArrayDict = data;
                    var specificationArray = data["specification"];
                    setDataToOption(specificationArray,"specifications");

                    //nominalPressure
                    var nominalPressures = data["nominalPressure"];
                    setDataToOption(nominalPressures,"nominalPressure");

                    var linkTypes = data["linkType"];
                    setDataToOption(linkTypes,"connectionType");

                    var sealingMaterials = data["sealingMaterial"];
                    setDataToOption(sealingMaterials,"sealingMaterial");

                    var spoolMaterials = data["spoolMaterial"];//valveElement
                    setDataToOption(spoolMaterials,"valveElement");

                    var driveModes = data["driveMode"];
                    setDataToOption(driveModes,"driveForm");

                    //bodyMaterial
                    var bodyMaterials = data["bodyMaterial"];
                    setDataToOption(bodyMaterials,"valvebodyMaterial");

                    var structuralStyles = data["structuralStyle"];
                    setDataToOption(structuralStyles,"structuralStyle");

                    var seriesTypes = data["seriesType"];
                    setDataToOption(seriesTypes,"string1");
                }
            })
        });
        var specificationProduct = "[[${bizProduct.specifications}]]";
        var nominalPressureProduct = "[[${bizProduct.nominalPressure}]]";

        var connectionTypeProduct = "[[${bizProduct.connectionType}]]";
        var valvebodyMaterialProduct = "[[${bizProduct.valvebodyMaterial}]]";
        var sealingMaterialProduct = "[[${bizProduct.sealingMaterial}]]";
        var valveElementProduct = "[[${bizProduct.valveElement}]]";
        var driveFormProduct = "[[${bizProduct.driveForm}]]";

        var structuralStyleProduct = "[[${bizProduct.structuralStyle}]]";
        var seriesTypeProduct = "[[${bizProduct.string1}]]";

        function setDataToOption(dataArray,selectId) {
            $("#" + selectId).html("");
            $("#" + selectId).append("<option value=''>请选择</option>")
            for (var i = 0; i < dataArray.length; i++) {
                var specificationObj = dataArray[i];
                var selectStr = "";
                if (nominalPressureProduct.toString() == specificationObj.dictId.toString()) {
                    selectStr = "selected";
                } else if (specificationProduct.toString() == specificationObj.dictId.toString()) {
                    selectStr = "selected";
                } else if (connectionTypeProduct.toString() == specificationObj.dictId.toString()) {
                    selectStr = "selected";
                } else if (valvebodyMaterialProduct.toString() == specificationObj.dictId.toString()) {
                    selectStr = "selected";
                } else if (sealingMaterialProduct.toString() == specificationObj.dictId.toString()) {
                    selectStr = "selected";
                } else if (valveElementProduct.toString() == specificationObj.dictId.toString()) {
                    selectStr = "selected";
                } else if (driveFormProduct.toString() == specificationObj.dictId.toString()) {
                    selectStr = "selected";
                } else if (structuralStyleProduct.toString() == specificationObj.dictId.toString()) {
                    selectStr = "selected";
                }else if (seriesTypeProduct.toString() == specificationObj.dictId.toString()) {
                    selectStr = "selected";
                }
                $("#" + selectId).append("<option value='" + specificationObj.dictId + "' " + selectStr + ">" + specificationObj.name + "</option>")
            }
        }


        var seriesObj = "[[${bizProduct.series}]]";

        $("#series option").each(function () {
            var val = $(this).val();
            var text = $(this).text();
            if (val.toString() == seriesObj.toString()) {
                $("#series").val(val);
                $("#series").trigger("change");
            }
        });


        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-product-edit').serialize());
            }
        }
    </script>
</body>
</html>