<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改报价单')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-quotation-edit" th:object="${bizQuotation}">
            <input name="quotationId" th:field="*{quotationId}" type="hidden">


            <div class="form-group">
                <label class="col-sm-3 control-label">报价单号：</label>
                <div class="col-sm-8">
                    <input name="string1" class="form-control" type="text" th:field="*{string1}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">客户名称：</label>
                <div class="col-sm-8">
                    <input name="customerName" id="customerName" th:field="*{customerName}" class="form-control" type="text" readonly onclick="selectCustomer()">
                    <input name="string2" id="string2" class="form-control" type="hidden" th:field="*{string2}">
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">产品：</label>
                <div class="col-sm-8">
                    <input name="productIds" id="productIds" th:value="${productIds}" class="form-control" type="hidden" >
                    <input name="productNames" id="productNames" th:value="${productNames}" class="form-control" type="text" readonly onclick="selectProduct()">
                </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-horizontal" id="productDiv" >

                <div class="ibox float-e-margins" th:each="qp:${bizQuotation.quotationProductList}">
                    <h5 th:text="${qp.productName}"></h5>

                    <div class='form-group'>
                        <label class='control-label col-sm-3'>产品：</label>
                        <div class='col-sm-2'>
                            <input th:id="'qpId_' + ${qp.qpId}" class='form-control' type='hidden' th:value="${qp.qpId}">
                            <input th:id="'productId_' + ${qp.productId}" class='form-control' type='hidden' th:value="${qp.productId}">
                            <input name='productName' id="productName" th:value="${qp.productName}" value="productShowText" class='form-control' type='text' readonly >
                        </div>
                        <div class='col-sm-2'>
                            <input class='form-control' type='text' th:id="'productNum_' + ${qp.productId}" th:value="${qp.productNum}" name='productNum' placeholder='数量' />
                        </div>
                        <div class='col-sm-2'>
                            <input class='form-control' type='text' th:id="'productCoefficient_' + ${qp.productId}"  th:value="${qp.productCoefficient}" placeholder='系数' />
                        </div>
                    </div>

                    <div class='form-group'>
                        <label class='control-label col-sm-3'>产品配件法兰：</label>
                        <div class='col-sm-2'>
                            <input th:id="'productRef1Id_' + ${qp.productId}"  class='form-control' type='hidden' th:value="${qp.productRef1Id}">
                            <input th:id="'productRef1Name_' + ${qp.productId}" class='form-control' type='text' th:onclick="selectProductRef1([[${qp.productId}]]);" th:value="${qp.productRef1Name}" readonly>
                        </div>
                        <div class='col-sm-2'>
                            <input class='form-control' type='text' th:id="'productRef1Num_' + ${qp.productId}" th:value="${qp.productRef1Num}" placeholder='数量' />
                        </div>
                        <div class='col-sm-2'>
                            <input th:id="'productRef1Coefficient_' + ${qp.productId}"  class='form-control' th:value="${qp.productRef1Coefficient}" type='text' placeholder='系数'>
                        </div>
                    </div>

                    <div class='form-group'>
                        <label class='control-label col-sm-3'>产品配件螺栓：</label>
                        <div class='col-sm-2'>
                            <input th:id="'productRef2Id_' + ${qp.productId}" class='form-control' type='hidden' th:value="${qp.productRef2Id}">
                            <input th:id="'productRef2Name_' + ${qp.productId}" class='form-control' type='text' th:value="${qp.productRef2Name}" readonly th:onclick="selectProductRef2([[${qp.productId}]]);" >
                        </div>
                        <div class='col-sm-2'>
                            <input th:id="'productRef2Num_' + ${qp.productId}"   class='form-control' type='text' th:value="${qp.productRef2Num}" placeholder='数量' />
                        </div>
                        <div class='col-sm-2'>
                            <input th:id="'productRef2Coefficient_' + ${qp.productId}" class='form-control' th:value="${qp.productRef2Coefficient}" type='text' placeholder='系数'>
                        </div>
                    </div>

                    <div class='form-group'>
                        <label class='control-label col-sm-3'>执行器：</label>
                        <div class='col-sm-2'>
                            <input th:id="'actuatorId_' + ${qp.productId}" class='form-control' type='hidden' th:value="${qp.actuatorId}">
                            <input th:id="'actuatorName_' + ${qp.productId}"  class='form-control' th:value="${qp.actuatorName}" type='text' readonly th:onclick="selectActuator([[${qp.productId}]]);" >
                        </div>
                        <div class='col-sm-2'>
                            <input class='form-control' type='text' th:id="'actuatorNum_' + ${qp.productId}" th:value="${qp.actuatorNum}" placeholder='数量' />
                        </div>
                        <div class='col-sm-2'>
                            <input th:id="'actuatorCoefficient_' + ${qp.productId}"  class='form-control' th:value="${qp.actuatorCoefficient}" type='text' placeholder='系数'>
                        </div>
                    </div>

                </div>

            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">特殊费用：</label>
                <div class="col-sm-8">
                    <input name="specialExpenses" th:field="*{specialExpenses}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">付款方式：</label>
                <div class="col-sm-8">
                    <select name="paymentMethod" class="form-control m-b" th:with="type=${@dict.getType('payment_method')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{paymentMethod}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">运费价格：</label>
                <div class="col-sm-8">
                    <input name="freight" th:field="*{freight}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供货周期：</label>
                <div class="col-sm-8">
                    <input name="leadTime" th:field="*{leadTime}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">报备项目 默认非项目：</label>
                <div class="col-sm-8">
                    <input name="reportProject" th:field="*{reportProject}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remark" th:field="*{remark}" class="form-control" type="text" >
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "fmis/quotation";
        $("#form-quotation-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {


                var dataObj = $('#form-quotation-edit').serializeArray();
                //计算是否正常
                //特殊费用
                var specialExpenses = $("#specialExpenses").val();
                if (specialExpenses != null && specialExpenses.length > 0) {
                    dataObj.push({"normalFlag": "1"});
                } else {
                    dataObj.push({"normalFlag": "0"});
                }

                var productIds = $("#productIds").val();
                var productArray = new Array();
                var productIdsStrs = productIds.split(",");
                for (var i = 0; i < productIdsStrs.length; i++) {
                    var productObj = new Object();
                    var productId = productIdsStrs[i];
                    productObj["productId"] = productId;
                    productObj["qpId"] = $("#qpId_" + productId).val();
                    productObj["productRef1Id"] = $("#productRef1Id_" + productId).val();
                    productObj["productRef1Num"] = $("#productRef1Num_" + productId).val();
                    productObj["productRef2Id"] = $("#productRef2Id_" + productId).val();
                    productObj["productRef2Num"] = $("#productRef2Num_" + productId).val();
                    productObj["actuatorId"] = $("#actuatorId_" + productId).val();

                    productObj["productNum"] = $("#productNum_" + productId).val();
                    productObj["productCoefficient"] = $("#productCoefficient_" + productId).val();
                    productObj["productRef1Coefficient"] = $("#productRef1Coefficient_" + productId).val();
                    productObj["productRef2Coefficient"] = $("#productRef2Coefficient_" + productId).val();
                    productObj["actuatorNum"] = $("#actuatorNum_" + productId).val();
                    productObj["actuatorCoefficient"] = $("#actuatorCoefficient_" + productId).val();

                    productArray.push(productObj);
                }
                dataObj.push({"name": "string10", "value": JSON.stringify(productArray)});
                $.operate.save(prefix + "/edit", dataObj);
            }
        }


        function selectProduct() {
            var url = prefix + "/selectProduct";
            $.modal.open("关联产品", url);
        }

        function selectActuator(productId) {
            var url = prefix + "/selectActuator?productId=" + productId;
            $.modal.open("关联执行器", url);
        }

        function selectProductRef1(productId) {
            if (productId == null || productId == "") {
                $.modal.alertWarning('请选择产品');
                return;
            }
            var url = prefix + "/selectProductRef1?productId=" + productId;
            $.modal.open("关联产品配件法兰", url);
        }
        function selectProductRef2(productId) {
            if (productId == null || productId == "") {
                $.modal.alertWarning('请选择产品');
                return;
            }
            var url = prefix + "/selectProductRef2?productId=" + productId;
            $.modal.open("关联产品配件螺栓", url);
        }

        function selectCustomer() {
            var url = prefix + "/selectCustomer";
            $.modal.open("关联客户", url);
        }
    </script>
</body>
</html>