<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('审核报价单')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">

    <div class="form-horizontal" id="productDiv">
        <div class="row">
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" ></table>
            </div>
        </div>
    </div>

    <form class="form-horizontal m" id="form-quotation-edit" th:object="${bizQuotation}">
        <input name="quotationId" id="quotationId" th:field="*{quotationId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">客户名称：</label>
            <div class="col-sm-3">
                <input name="customerName" id="customerName" class="form-control" th:field="*{customerName}"  type="text" readonly required>
                <input name="string2" id="string2" class="form-control" type="hidden" >
            </div>
            <label class="col-sm-1 control-label">报价单号：</label>
            <div class="col-sm-4">
                <input name="string1" id="string1" class="form-control" type="text" th:field="*{string1}" readonly  required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">特殊费用：</label>
            <div class="col-sm-3">
                <input name="specialExpenses" th:field="*{specialExpenses}" readonly class="form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">费用说明：</label>
            <div class="col-sm-4">
                <input name="string4" id="string4" th:field="*{string4}" readonly  class="form-control" type="text" placeholder="特殊费用说明">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label">付款方式：</label>
            <div class="col-sm-2">
                <select name="paymentMethod" class="form-control m-b" th:with="type=${@dict.getType('payment_method')}" disabled>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{paymentMethod}"></option>
                </select>
            </div>
            <div class="col-sm-2 form-inline" id="string6Div" >
                <input name="string6" id="string6" class="form-control"  th:field="*{string6}" type="text" placeholder="付款备注">
            </div>
            <label class="col-sm-1 control-label">运费价格：</label>
            <div class="col-sm-2 ">
                <input name="freight" th:field="*{freight}" readonly class="form-control" type="text">
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-2 form-inline">
                &nbsp;供货周期 <input name="leadTime" th:field="*{leadTime}" readonly style="width: 50px;" class="form-control" type="text"> 天
            </div>
            <label class="col-sm-1 control-label">报备项目：</label>
            <div class="col-sm-2">
                <input name="reportProject" th:field="*{reportProject}" readonly class="form-control" type="text" >
            </div>

            <label class="col-sm-1 control-label">含税运费：</label>
            <div class="col-sm-2">
                <select name="string11" id="string11"  class="form-control" disabled  th:with="type=${@dict.getType('included_freight')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:field="*{string11}"  th:value="${dict.dictValue}"></option>
                </select>
            </div>


            <div class="col-sm-2 form-inline">
                &nbsp;价格有效期：&nbsp;&nbsp;&nbsp; <input name="string12" style="width: 50px;" readonly th:field="*{string12}"   class="form-control" type="text"> 天
            </div>


        </div>


        <!--
        <div class="form-group">
            <label class="col-sm-3 control-label">项目名称：</label>
            <div class="col-sm-8">
                <input name="string5" th:field="*{string5}" class="form-control" type="text" >
            </div>
        </div>-->




        <div class="form-group">
            <label class="col-sm-3 control-label">产品金额：</label>
            <div class="col-sm-2">
                <input name="productTotalPrice" id="productTotalPrice" class="form-control" type="text" readonly>
            </div>

            <label class="col-sm-3 control-label">报价金额：</label>
            <div class="col-sm-2">
                <input name="totalPrice" id="totalPrice" class="form-control" type="text" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">毛利：</label>
            <div class="col-sm-2">
                <input name="grossPrice" id="grossPrice" class="form-control" type="text"  readonly>
            </div>
            <label class="col-sm-1 control-label">备注：</label>
            <div class="col-sm-6">
                <input name="remark" th:field="*{remark}" readonly class="form-control" type="text" >
            </div>
        </div>

        <!-- 选择产品传参 -->
        <input type="hidden" id="productsJsonParamter" value=""/>
        <!-- 选择法兰传参 -->
        <input type="hidden" id="ref1JsonParamter" value=""/>
        <!-- 选择螺栓传参 -->
        <input type="hidden" id="ref2JsonParamter" value=""/>
        <!-- 选择执行器传参 -->
        <input type="hidden" id="actuatorJsonParamter" value=""/>

        <input type="hidden" id="pattachmentJsonParamter" value=""/>

        <div class="form-group has-success">
            <label class="col-sm-3 control-label">审批意见：</label>
            <div class="col-sm-8">
                <select name="examineStatus" id="examineStatus" class="form-control m-b" th:with="type=${@dict.getType('examine_status')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>


        <div class="form-group has-success">
            <label class="col-sm-3 control-label" >审批备注：</label>
            <div class="col-sm-8">
                <textarea name="examineRemark" class="form-control" id="examineRemark"></textarea>
            </div>
        </div>

    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = ctx + "fmis/quotation";
    $("#form-quotation-edit").validate({
        focusCleanup: true
    });


    function selectCustomer() {
        var widthNum = this.innerWidth - 50;
        var heigthNum = this.innerHeight - 50;
        var url = prefix + "/selectCustomer";
        $.modal.open("关联客户", url,widthNum,heigthNum);
    }
    function isEmpty(v) {
        return $.common.isEmpty(v);
    }

    function setCoefficientAll (type) {
        //type 1=产品 2=执行器 3=法兰 4=螺栓
        var productArray = new Array();
        var productCoefficientAll = $("#productCoefficientAll").val();
        var actuatorCoefficientAll = $("#actuatorCoefficientAll").val();
        var productRef1CoefficientAll = $("#productRef1CoefficientAll").val();
        var productRef2CoefficientAll = $("#productRef2CoefficientAll").val();

        var data = $.btTable.bootstrapTable('getData');
        var productArray = new Array();
        if (data == null || data.length == 0) {
            return;
        }
        for (var i = 0; i < data.length; i++) {
            var rowData = data[i];
            var productObj = new Object();
            var productId =  rowData["productId"];
            if (type == 1 && !isEmpty(productCoefficientAll)) {
                var updateObj = {
                    index : rowData.rowId,
                    field : "productCoefficient",
                    value : productCoefficientAll
                };
                $.btTable.bootstrapTable("updateCell",updateObj);
            } else if (type == 2 && !isEmpty(actuatorCoefficientAll)) {
                var updateObj = {
                    index : rowData.rowId,
                    field : "actuatorCoefficient",
                    value : actuatorCoefficientAll
                };
                $.btTable.bootstrapTable("updateCell",updateObj);
            } else if (type == 3 && !isEmpty(productRef1CoefficientAll)) {
                var updateObj = {
                    index : rowData.rowId,
                    field : "productRef1Coefficient",
                    value : productRef1CoefficientAll
                };
                $.btTable.bootstrapTable("updateCell",updateObj);
            } else if (type == 4 && !isEmpty(productRef2CoefficientAll)) {
                var updateObj = {
                    index : rowData.rowId,
                    field : "productRef2Coefficient",
                    value : productRef2CoefficientAll
                };
                $.btTable.bootstrapTable("updateCell",updateObj);
            }
        }
        calculateTotalPrice();

    }

    function FloatAdd(arg1,arg2){
        var r1,r2,m;
        try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0}
        try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0}
        m=Math.pow(10,Math.max(r1,r2));
        return (arg1*m+arg2*m)/m;
    }

    $(function() {
        var options = {
            showSearch: false,
            showRefresh: false,
            pagination: false,
            showColumns: false,
            showToggle: false,
            useRowAttrFunc: true,
            async: true,
            url: prefix + "/listProductNoPage",
            uniqueId: "productId",
            //onEditableSave: onEditableSave,
            //onClickCell: onClickCell,
            //onReorderRow: onReorderRow,
            onLoadSuccess: loadSuccess,
            columns: [{
                checkbox: true
            },
                {field : 'rowId',title : '序号',visible: true,formatter:function(value,row,index){row.rowId = index;return index+1;}},
                {field : 'productId',title : '产品ID',visible: false},
                {field : 'productName',title : '名称',editable: false},
                {field : 'model',title : '型号',editable: false},
                {field : 'specifications',title : '规格',editable: false},
                {field : 'nominalPressure',title : '压力',editable: false},
                {field : 'valvebodyMaterial',title : '阀体',editable: false},
                {field : 'valveElement',title : '阀芯',editable: false},
                {field : 'sealingMaterial',title : '密封材质',editable: false},
                {field : 'driveForm',title : '驱动形式',editable: false},
                {field : 'connectionType',title : '连接方式',editable: false},
                {field : 'productNum',title : '数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'productPrice',title : '单价',editable: false},
                {field : 'productCostPrice',title : '产品成本价',editable: false,visible: false},

                {field : 'productCoefficient',title : '系数',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'totalPrice',title : '金额',editable: false},
                {field : 'totalPriceOnly',title : '总价',editable: false},

                {field : 'actuatorId',title : 'actuatorId',visible: false},
                {field : 'actuatorName',title : '执行器名称',editable: true},
                {field : 'actuatorPrice',title : '执行器价格',editable: false},

                {field : 'actuatorCostPrice',title : '执行器成本价',editable: false,visible: false},

                {field : 'actuatorNum',title : '执行器数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'actuatorCoefficient',title : '执行器系数',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},

                {field : 'productRef1Id',title : 'ref1Id',visible: false},
                {field : 'ref1Name',title : '法兰名称',editable: false},

                {field : 'ref1Price',title : '法兰价格',editable: false},

                {field : 'ref1CostPrice',title : '法兰成本价',editable: false,visible: false},

                {field : 'productRef1Num',title : '法兰数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'productRef1Coefficient',title : '法兰系数',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},

                {field : 'productRef2Id',title : 'ref2Id',visible: false},
                {field : 'ref2Name',title : '螺栓名称',editable: true},
                {field : 'ref2Price',title : '螺栓价格',editable: false},

                {field : 'ref2CostPrice',title : '螺栓成本价',editable: false,visible: false},

                {field : 'productRef2Num',title : '螺栓数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'productRef2Coefficient',title : '螺栓系数',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},


                //定位器，电磁阀，回信器数，气源三连件，可离合减速器
                {field : 'pattachmentId',title : 'pattachmentId',visible: false},
                {field : 'pattachmentName',title : '定位器',editable: true},
                {field : 'pattachmentPrice',title : '定位器价格',editable: false},

                {field : 'pattachmentCostPrice',title : '定位器成本价',editable: false,visible: false},

                {field : 'pattachmentCount',title : '定位器数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'pattachmentCoefficient',title : '定位器系数',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},

                {field : 'pattachment1Id',title : 'pattachment1Id',visible: false},
                {field : 'pattachment1Name',title : '电磁阀',editable: true},
                {field : 'pattachment1Price',title : '电磁阀价格',editable: false},

                {field : 'pattachment1CostPrice',title : '定位器成本价',editable: false,visible: false},

                {field : 'pattachment1Count',title : '电磁阀数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'pattachment1Coefficient',title : '电磁阀系数',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},

                {field : 'pattachment2Id',title : 'pattachment2Id',visible: false},
                {field : 'pattachment2Name',title : '回信器数',editable: true},
                {field : 'pattachment2Price',title : '回信器数价格',editable: false},

                {field : 'pattachment2CostPrice',title : '定位器成本价',editable: false,visible: false},

                {field : 'pattachment2Count',title : '回信器数数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'pattachment2Coefficient',title : '回信器数系数',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},

                {field : 'pattachment3Id',title : 'pattachment3Id',visible: false},
                {field : 'pattachment3Name',title : '气源三连件',editable: true},
                {field : 'pattachment3Price',title : '气源三连件价格',editable: false},

                {field : 'pattachment3CostPrice',title : '定位器成本价',editable: false,visible: false},

                {field : 'pattachment3Count',title : '气源三连件数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'pattachment3Coefficient',title : '气源三连件系数',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},

                {field : 'pattachment4Id',title : 'pattachment4Id',visible: false},
                {field : 'pattachment4Name',title : '可离合减速器',editable: true},
                {field : 'pattachment4Price',title : '可离合减速器价格',editable: false},

                {field : 'pattachment4CostPrice',title : '定位器成本价',editable: false,visible: false},

                {field : 'pattachment4Count',title : '可离合减速器数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'pattachment4Coefficient',title : '可离合减速器系数',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},

                {field : 'productRemark',title : '备注',editable: false}]
        };
        $.table.init(options);
    });
    var totalCostPriceMap = new Map();
    function removeProduct(uid) {
        $.btTable.bootstrapTable('removeByUniqueId', uid);
    }
    function onEditableSave (field, row, oldValue, $el) {
        //alert("字段名：" + field + "，当前值：" + row[field]  + "，旧值：" + oldValue);
        if (field == "productNum" || field == "productCoefficient" || field == "productRef1Num"|| field == "productRef1Coefficient"
            || field == "productRef2Num"|| field == "productRef2Coefficient" || field == "actuatorNum" || field == "actuatorCoefficient") {
            calculateTotalPrice();
        }
    }

    function calculatePrice (row) {
        var productNum = row["productNum"];
        productNum = isEmpty(productNum) == true ? 0 : parseFloat(productNum);

        var productCoefficient = row["productCoefficient"];
        productCoefficient = isEmpty(productCoefficient) == true ? 0 : parseFloat(productCoefficient);

        var productPrice = row["productPrice"];
        productPrice = isEmpty(productPrice) == true ? 0 : parseFloat(productPrice);

        //法兰
        var productRef1Num = row["productRef1Num"];
        productRef1Num = isEmpty(productRef1Num) == true ? 0 : parseFloat(productRef1Num);
        var productRef1Coefficient = row["productRef1Coefficient"];
        productRef1Coefficient = isEmpty(productRef1Coefficient) == true ? 0 : parseFloat(productRef1Coefficient);
        var productRef1Price = row["ref1Price"];
        productRef1Price = isEmpty(productRef1Price) == true ? 0 : parseFloat(productRef1Price);

        //螺栓
        var productRef2Num = row["productRef2Num"];
        productRef2Num = isEmpty(productRef2Num) == true ? 0 : productRef2Num;
        var productRef2Coefficient = row["productRef2Coefficient"];
        productRef2Coefficient = isEmpty(productRef2Coefficient) == true ? 0 : parseFloat(productRef2Coefficient);
        var productRef2Price = row["ref2Price"];
        productRef2Price = isEmpty(productRef2Price) == true ? 0 : parseFloat(productRef2Price);
        //执行器
        var actuatorNum = row["actuatorNum"];
        actuatorNum = isEmpty(actuatorNum) == true ? 0 : actuatorNum;
        var actuatorCoefficient = row["actuatorCoefficient"];
        actuatorCoefficient = isEmpty(actuatorCoefficient) == true ? 0 : parseFloat(actuatorCoefficient);
        var actuatorPrice = row["actuatorPrice"];
        actuatorPrice = isEmpty(actuatorPrice) == true ? 0 : parseFloat(actuatorPrice);

        //附件
        var pattachmentCount = row["pattachmentCount"];
        pattachmentCount = isEmpty(pattachmentCount) == true ? 0 : pattachmentCount;
        var pattachmentCoefficient = row["pattachmentCoefficient"];
        pattachmentCoefficient = isEmpty(pattachmentCoefficient) == true ? 0 : parseFloat(pattachmentCoefficient);
        var pattachmentPrice = row["pattachmentPrice"];
        pattachmentPrice = isEmpty(pattachmentPrice) == true ? 0 : parseFloat(pattachmentPrice);
        var pattachmentSum = parseFloat(pattachmentCount * pattachmentPrice * pattachmentCoefficient).toFixed(4);
        var pattachmentSumOnly = parseFloat(pattachmentPrice * pattachmentCoefficient).toFixed(4);


        //附件1
        var pattachment1Count = row["pattachment1Count"];
        pattachment1Count = isEmpty(pattachment1Count) == true ? 0 : pattachment1Count;
        var pattachment1Coefficient = row["pattachment1Coefficient"];
        pattachment1Coefficient = isEmpty(pattachment1Coefficient) == true ? 0 : parseFloat(pattachment1Coefficient);
        var pattachment1Price = row["pattachment1Price"];
        pattachment1Price = isEmpty(pattachment1Price) == true ? 0 : parseFloat(pattachment1Price);
        var pattachment1Sum = parseFloat(pattachment1Count * pattachment1Price * pattachment1Coefficient).toFixed(4);
        var pattachment1SumOnly = parseFloat(pattachment1Price * pattachment1Coefficient).toFixed(4);

        //附件2
        var pattachment2Count = row["pattachment2Count"];
        pattachment2Count = isEmpty(pattachment2Count) == true ? 0 : pattachment2Count;
        var pattachment2Coefficient = row["pattachment2Coefficient"];
        pattachment2Coefficient = isEmpty(pattachment2Coefficient) == true ? 0 : parseFloat(pattachment2Coefficient);
        var pattachment2Price = row["pattachment2Price"];
        pattachment2Price = isEmpty(pattachment2Price) == true ? 0 : parseFloat(pattachment2Price);
        var pattachment2Sum = parseFloat(pattachment2Count * pattachment2Price * pattachment2Coefficient).toFixed(4);
        var pattachment2SumOnly = parseFloat(pattachment2Price * pattachment2Coefficient).toFixed(4);

        //附件3
        var pattachment3Count = row["pattachment3Count"];
        pattachment3Count = isEmpty(pattachment3Count) == true ? 0 : pattachment3Count;
        var pattachment3Coefficient = row["pattachment3Coefficient"];
        pattachment3Coefficient = isEmpty(pattachment3Coefficient) == true ? 0 : parseFloat(pattachment3Coefficient);
        var pattachment3Price = row["pattachment3Price"];
        pattachment3Price = isEmpty(pattachment3Price) == true ? 0 : parseFloat(pattachment3Price);
        var pattachment3Sum = parseFloat(pattachment3Count * pattachment3Price * pattachment3Coefficient).toFixed(4);
        var pattachment3SumOnly = parseFloat(pattachment3Price * pattachment3Coefficient).toFixed(4);

        //附件4
        var pattachment4Count = row["pattachment4Count"];
        pattachment4Count = isEmpty(pattachment4Count) == true ? 0 : pattachment4Count;
        var pattachment4Coefficient = row["pattachment4Coefficient"];
        pattachment4Coefficient = isEmpty(pattachment4Coefficient) == true ? 0 : parseFloat(pattachment4Coefficient);
        var pattachment4Price = row["pattachment4Price"];
        pattachment4Price = isEmpty(pattachment4Price) == true ? 0 : parseFloat(pattachment4Price);
        var pattachment4Sum = parseFloat(pattachment4Count * pattachment4Price * pattachment4Coefficient).toFixed(4);
        var pattachment4SumOnly = parseFloat(pattachment4Price * pattachment4Coefficient).toFixed(4);

        var productSum = parseFloat(productNum * productPrice * productCoefficient).toFixed(4);
        var productSumOnly = parseFloat(productPrice * productCoefficient).toFixed(4);
        var productRef1Sum = parseFloat(productRef1Num * productRef1Price * productRef1Coefficient).toFixed(4);
        var productRef1SumOnly = parseFloat(productRef1Price * productRef1Coefficient).toFixed(4);
        var productRef2Sum = parseFloat(productRef2Num * productRef2Price * productRef2Coefficient).toFixed(4);
        var productRef2SumOnly = parseFloat(productRef2Price * productRef2Coefficient).toFixed(4);
        var actuatorSum = parseFloat(actuatorNum * actuatorCoefficient * actuatorPrice).toFixed(4);
        var actuatorSumOnly = parseFloat(actuatorCoefficient * actuatorPrice).toFixed(4);

        var totalSum = parseFloat(parseFloat(productSum) + parseFloat(productRef1Sum) + parseFloat(productRef2Sum) + parseFloat(actuatorSum)
            + parseFloat(pattachmentSum)+ parseFloat(pattachment1Sum)+ parseFloat(pattachment2Sum)+ parseFloat(pattachment3Sum)+ parseFloat(pattachment4Sum)).toFixed(4);


        var totalPriceOnly = parseFloat(parseFloat(productSumOnly) + parseFloat(productRef1SumOnly) + parseFloat(productRef2SumOnly) + parseFloat(actuatorSumOnly)
            + parseFloat(pattachmentSumOnly)+ parseFloat(pattachment1SumOnly)+ parseFloat(pattachment2SumOnly)+ parseFloat(pattachment3SumOnly)+ parseFloat(pattachment4SumOnly)).toFixed(4);

        var productCostPrice = parsePrice(row["productCostPrice"]);
        var totalPriceCost = parseFloat(productNum * productCostPrice).toFixed(4);

        var actuatorCostPrice = parsePrice(row["actuatorCostPrice"]);
        var totalActuatorCost = parseFloat(actuatorNum * actuatorCostPrice).toFixed(4);

        var ref1CostPrice = parsePrice(row["ref1CostPrice"]);
        var totalRef1Cost = parseFloat(productRef1Num * ref1CostPrice).toFixed(4);
        var ref2CostPrice = parsePrice(row["ref2CostPrice"]);
        var totalRef2Cost = parseFloat(productRef2Num * ref2CostPrice).toFixed(4);

        var pattachmentCostPrice = parsePrice(row["pattachmentCostPrice"]);
        var totalPattachmentCost = parseFloat(pattachmentCount * pattachmentCostPrice).toFixed(4);
        var pattachment1CostPrice = parsePrice(row["pattachment1CostPrice"]);
        var totalPattachment1Cost = parseFloat(pattachment1Count * pattachment1CostPrice).toFixed(4);
        var pattachment2CostPrice = parsePrice(row["pattachment2CostPrice"]);
        var totalPattachment2Cost = parseFloat(pattachment2Count * pattachment2CostPrice).toFixed(4);
        var pattachment3CostPrice = parsePrice(row["pattachment3CostPrice"]);
        var totalPattachment3Cost = parseFloat(pattachment3Count * pattachment3CostPrice).toFixed(4);
        var pattachment4CostPrice = parsePrice(row["pattachment4CostPrice"]);
        var totalPattachment4Cost = parseFloat(pattachment4Count * pattachment4CostPrice).toFixed(4);

        var totalCostPrice = parseFloat(parseFloat(totalPriceCost) + parseFloat(totalActuatorCost) + parseFloat(totalRef1Cost) + parseFloat(totalRef2Cost) + parseFloat(totalPattachmentCost)
            + parseFloat(totalPattachment1Cost) + parseFloat(totalPattachment2Cost) + parseFloat(totalPattachment3Cost) + parseFloat(totalPattachment4Cost)).toFixed(4);
        totalCostPriceMap.set("totalCostPrice",totalCostPrice);

        var updateObjOnly = {
            index : row.rowId,
            field : "totalPriceOnly",
            value : totalPriceOnly
        };
        $.btTable.bootstrapTable("updateCell",updateObjOnly);

        var updateObj = {
            index : row.rowId,
            field : "totalPrice",
            value : totalSum
        };
        $.btTable.bootstrapTable("updateCell",updateObj);

        return totalSum;
    }
    function parsePrice (p) {
        return isEmpty(p) == true ? 0 : parseFloat(p);
    }
    function calculateTotalPrice () {
        var data = $.btTable.bootstrapTable('getData');
        var productTotalPrice = 0;
        var allTotalCost = 0;
        for (var i = 0; i < data.length; i++) {
            var rowData = data[i];
            var price = calculatePrice(rowData);
            productTotalPrice = FloatAdd(productTotalPrice,price).toFixed(4);
            var totalCostPrice = totalCostPriceMap.get("totalCostPrice");
            allTotalCost =  FloatAdd(totalCostPrice,allTotalCost).toFixed(4);
        }
        var specialExpenses = $("#specialExpenses").val();
        if (isEmpty(specialExpenses)) {
            specialExpenses = 0;
        }
        $("#productTotalPrice").val(parseFloat(productTotalPrice).toFixed(4));
        // var totalPrice = parseFloat(productTotalPrice) + parseFloat(specialExpenses);
        var totalPrice = parseFloat(productTotalPrice);
        $("#totalPrice").val(parseFloat(totalPrice).toFixed(4));

        //productTotalPrice 毛利 产品金额-成本价格-特殊费用
        var grossPrice = (parseFloat(productTotalPrice) - parseFloat(allTotalCost) - parseFloat(specialExpenses)).toFixed(2);
        $("#grossPrice").val(grossPrice);
    }

    function numberValidate(value) {
        if (isNaN(value)) {
            return "必须是数字！";
        }
    }


    function onReorderRow(data) {
        for (var i = 0; i < data.length; i++) {
            //$("#columns_sort_" + data[i].columnId).val(i+1);
        }
    }
    /* 查询表格所有数据值 */
    function getData(){
        var data = $.btTable.bootstrapTable('getData');
        alert(JSON.stringify(data))
    }
    function onClickCell(field, value, row, $element){
        var idx = $element.parent().data('index');
        console.log("row.index=" + idx + "--" + row.productId);
        var productId = row.productId;
        return;
        if (field == "ref1Name") {
            //选择法兰
            var widthNum = $("#form-quotation-edit").width() - 50;
            var heigthNum = $("#form-quotation-edit").height() + 250;
            var url = prefix + "/selectProductRef1?productId=" + productId;
            console.log("widthNum=" + widthNum + "---" + this.innerWidth);
            $.modal.open("关联产品配件法兰", url,widthNum, heigthNum,function (index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.submitHandler(index, layero);
                //ref1JsonParamter
                var ref1JsonParamter = $("#ref1JsonParamter").val();
                setTableValueById(ref1JsonParamter,productId,idx);
            });
        } else if (field == "ref2Name") {
            //选择法兰
            var widthNum = $("#form-quotation-edit").width() - 50;
            var heigthNum = $("#form-quotation-edit").height() + 250;
            var url = prefix + "/selectProductRef2?productId=" + productId;
            console.log("widthNum=" + widthNum + "---" + this.innerWidth);
            $.modal.open("关联产品配件螺栓", url,widthNum, heigthNum,function (index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.submitHandler(index, layero);
                var ref2JsonParamter = $("#ref2JsonParamter").val();
                setTableValueById(ref2JsonParamter,productId,idx);
            });
        } else if (field == "actuatorName") {
            var widthNum = $("#form-quotation-edit").width() - 50;
            var heigthNum = $("#form-quotation-edit").height() + 250;
            var url = prefix + "/selectActuator?productId=" + productId;
            console.log("widthNum=" + widthNum + "---" + this.innerWidth);
            $.modal.open("关联执行器", url,widthNum, heigthNum,function (index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.submitHandler(index, layero);
                var actuatorJsonParamter = $("#actuatorJsonParamter").val();
                setTableValueById(actuatorJsonParamter,productId,idx);
            });
        }
    }

    //根据表ID修改某一列的值
    function setTableValueById (jsonValue,id,idx) {
        var jsonObj = JSON.parse(jsonValue);
        for (key in jsonObj) {
            var updateObj = {
                index : idx,
                field : key,
                value : jsonObj[key]
            };
            $.btTable.bootstrapTable("updateCell",updateObj);
        }
    }



    /* 新增表格行 */
    function insertRow(){
        var url = prefix + "/selectProduct";
        var widthNum = this.innerWidth - 50;
        var heigthNum = this.innerHeight - 50;

        $.modal.open("关联产品", url,widthNum, heigthNum,function (index, layero) {
            var iframeWin = layero.find('iframe')[0];
            iframeWin.contentWindow.submitHandler(index, layero);
            appendTable();

        });
    }
    /* 查询表格选择行数据值 */
    function getSelections(){
        var data = $.btTable.bootstrapTable('getSelections');
    }

    function appendTable () {
        var productsJsonParamter = $("#productsJsonParamter").val();
        console.log("productsJsonParamter=" + productsJsonParamter);
        var productsJsonArray = JSON.parse(productsJsonParamter);
        var tableData = $.btTable.bootstrapTable('getData');
        var tableMap = new Map();
        if (tableData != null) {
            for (var i = 0; i < tableData.length; i++) {
                var rowData = tableData[i];
                tableMap.set(rowData["productId"],rowData["productId"]);
            }
        }
        for (var i = 0; i < productsJsonArray.length; i++) {
            var productJson = productsJsonArray[i];
            if (!tableMap.has(productJson["productId"])) {
                $.btTable.bootstrapTable('append', productJson);
            }
        }
    }
    function loadSuccess() {
        calculateTotalPrice();
    }

    function submitHandler() {
        if ($.validate.form()) {

            var dataObj = $('#form-quotation-edit').serializeArray();

            //var examineStatus = $("#examineStatus option:selected").val();
            //var examineRemark = $("#examineRemark").val();
            //console.log("examineStatus-----" + examineStatus + "--" + examineRemark);
            //dataObj.push({"name": "examineStatus","value":examineStatus});
            //dataObj.push({"name": "examineRemark","value":examineRemark});


            $.operate.save(prefix + "/doExamine", dataObj);
        }
    }

</script>
</body>
</html>