<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('报价单列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>状态：</p>
                                <select name="string6" class="form-control m-b" >
                                    <option value="0">全部</option>
                                    <option value="1">待办</option>
                                    <option value="2">已办</option>
                                </select>
                            </li>

                            <li>
                                <p>报价单号：</p>
                                <input type="text" name="string1" id="string1"/>
                            </li>

                            <li>
                                <p>客户名称：</p>
                                <input type="text" name="customerName" id="customerName"/>
                            </li>

                            <li >
                                <p>申请人：</p>
                                <input type="text" name="createBy" id="createBy"/>
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="add()" shiro:hasPermission="fmis:quotation:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="edit()" shiro:hasPermission="fmis:quotation:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="remove()" shiro:hasPermission="fmis:quotation:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>

                <a class="btn btn-warning" onclick="exportPdf()" shiro:hasPermission="fmis:quotation:export">
                    <i class="fa fa-download"></i> 生成报价单
                 </a>
                <a class="btn btn-warning" onclick="exportEx()" shiro:hasPermission="fmis:quotation:export">
                    <i class="fa fa-download"></i> 保存报价单
                </a>

                <a class="btn btn-success" onclick="viewPdf()">
                    <i class="fa fa-street-view"></i> 预览报价单
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('fmis:quotation:edit')}]];
        var removeFlag = [[${@permission.hasPermi('fmis:quotation:remove')}]];
        var prefix = ctx + "fmis/quotation";
        var paymentMethodData = [[${@dict.getType('payment_method')}]];

        var roleType = /*[[${roleType}]]*/;
        var loginId = /*[[${loginId}]]*/;


        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                exportEXUrl: prefix + "/exportEx",
                modalName: "报价单",
                uniqueId: "quotationId",
                rowStyle:function (row, index) {
                    if(row.flowStatus != null && row.flowStatus.indexOf("-") > -1) {
                        return {css:{"background-color":"rgb(171,170,58)"}};
                    }
                    return {css:{"background-color":"rgba(248,245,245)"}}
                },
                columns: [{
                    checkbox: true
                },
                {
                    field : 'quotationId', 
                    title : 'ID',
                    visible: false
                },
                {
                    field : 'string1',
                    title : '报价单号'
                },
                {
                    field : 'customerName',
                    title : '客户名称'
                },
                {
                    field : 'specialExpenses', 
                    title : '特殊费用'
                },
                {
                    field : 'paymentMethod', 
                    title : '付款方式',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(paymentMethodData, value);
                    }
                },
                {
                    field : 'freight', 
                    title : '运费价格'
                },
                {
                    field : 'leadTime', 
                    title : '供货周期'
                },
                {
                    field : 'reportProject', 
                    title : '报备项目 默认非项目'
                },
                {
                    field : 'createBy',
                    title : '申请人'
                },
                {
                    field : 'string9',
                    title : '报价总金额'
                },
                    {
                        field : 'string20',
                        title : '毛利'
                    },
                {
                    field : 'remark', 
                    title : '备注'
                },
                {
                    field : 'flowStatus',
                    title : '状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = '';
                        var flowStatus = row.flowStatus;
                        var normalFlag = row.normalFlag;
                        var createBy = row.createById;

                        if (flowStatus == "0") {
                            actions = '未上报';
                        } else if (flowStatus == "1") {
                            actions = '<font color=#00bfff>销售员已上报</font>';
                        } else if (flowStatus == "2") {
                            actions = '<font color=green>销售经理同意</font>';
                            if (flowStatus == normalFlag) {
                                actions = '<font color=green>销售经理同意 已完成</font>';
                            }
                        } else if (flowStatus == "-2") {
                            actions = '<font color=red>销售经理不同意</font>';
                        } else if (flowStatus == "3") {
                            actions = '<font color=green>区域经理同意</font>';
                            if (flowStatus == normalFlag) {
                                actions = '<font color=green>区域经理同意 已完成</font>';
                            }
                        } else if (flowStatus == "-3") {
                            actions = '<font color=red>区域经理不同意</font>';
                        } else if (flowStatus == "4") {
                            actions = '<font color=green>副总同意</font>';
                            if (flowStatus == normalFlag) {
                                actions = '<font color=green>副总同意 已完成</font>';
                            }
                        } else if (flowStatus == "-4") {
                            actions = '<font color=red>副总不同意</font>';
                        } else if (flowStatus == "5") {
                            actions = '<font color=green>总经理同意</font>';
                            if (flowStatus == normalFlag) {
                                actions = '<font color=green>总经理同意 已完成</font>';
                            }
                        } else if (flowStatus == "-5") {
                            actions = '<font color=red>总经理不同意</font>';
                        }

                        if (flowStatus == normalFlag && loginId == createBy && flowStatus > 1) {
                            actions = '<font color=green>已通过</font>';
                        }

                        console.log(actions + "---------" + createBy + "--" + loginId);
                        return actions;
                    }
                },
                {
                    field : 'createTime',
                    title : '创建时间'
                },{
                    field : 'updateTime',
                    title : '修改时间'
                },
                {
                    title: '操作',
                    align: 'left',
                    formatter: function(value, row, index) {
                        var actions = [];
                        var flowStatus = row.flowStatus;
                        var normalFlag = row.normalFlag;
                        var createBy = row.createById;
                        if ((flowStatus < 1 || flowStatus > 10) && createBy === loginId.toString()) {
                             actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="edit(\'' + row.quotationId + '\')"><i class="fa fa-edit"></i> 编辑</a>');
                             actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="remove(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 删除</a>');
                             actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="subReport(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 上报</a>');
                        }
                        // if (flowStatus == normalFlag && loginId == createBy && flowStatus > 1) {
                        //     actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="edit(\'' + row.quotationId + '\')"><i class="fa fa-edit"></i> 编辑</a>');
                        //     actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="remove(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 删除</a>');
                        //     actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="viewExamine(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 审批记录 </a>');
                        //     actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="viewExamineDetail(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 详情 </a>');
                        //
                        //     return actions.join('');
                        // }

                        if (flowStatus < 1 && roleType == "1") {

                            // if (flowStatus != "0" && flowStatus == normalFlag) {
                            //     //已完成
                            // } else {
                            //     actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="edit(\'' + row.quotationId + '\')"><i class="fa fa-edit"></i> 编辑</a>');
                            //     actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="remove(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 删除</a>');
                            //     actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="subReport(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 上报</a>');
                            // }

                        } else if (roleType == "2" && flowStatus == "1" && normalFlag != flowStatus) {
                            //角色=销售经理  状态=销售员上报
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="subExamine(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 审批</a>');
                            /*if (flowStatus != "0" && flowStatus == normalFlag) {
                                //已完成
                            } else if (loginId == createBy) {
                                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="edit(\'' + row.quotationId + '\')"><i class="fa fa-edit"></i> 编辑</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="remove(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 删除</a>');
                                actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="subReport(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 上报</a>');
                            }*/
                        }  else if (roleType == "3" && flowStatus == "2"  && normalFlag != flowStatus) {
                            //角色=区域经理  状态=销售经理同意
                            console.log("-2");
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="subExamine(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 审批</a>');
                            /*if (flowStatus != "0" && flowStatus == normalFlag) {
                                //已完成
                            } else if (loginId == createBy){
                                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="edit(\'' + row.quotationId + '\')"><i class="fa fa-edit"></i> 编辑</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="remove(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 删除</a>');
                                actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="subReport(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 上报</a>');
                            }*/
                        }  else if (roleType == "4" && flowStatus == "3"  && normalFlag != flowStatus) {
                            //角色=副总  状态=区域经理同意
                            console.log("-3");
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="subExamine(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 审批</a>');
                           /* if (flowStatus != "0" && flowStatus == normalFlag) {
                                //已完成
                            } else if (loginId == createBy){
                                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="edit(\'' + row.quotationId + '\')"><i class="fa fa-edit"></i> 编辑</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="remove(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 删除</a>');
                                actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="subReport(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 上报</a>');
                            }*/
                        } else if (roleType == "5" && flowStatus == "4" && normalFlag != flowStatus) {
                            //角色=老总  状态=区域经理同意
                            console.log("-4");
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="subExamine(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 审批</a>');
                            /*if (flowStatus != "0" && flowStatus == normalFlag) {
                                //已完成
                            } else if (loginId == createBy){
                                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="edit(\'' + row.quotationId + '\')"><i class="fa fa-edit"></i> 编辑</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="remove(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 删除</a>');
                                actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="subReport(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 上报</a>');
                            }*/
                        }
                        //查看审批历史 待做
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="viewExamine(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 审批记录 </a>');
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="viewExamineDetail(\'' + row.quotationId + '\')"><i class="fa fa-remove"></i> 详情 </a>');

                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function add() {
            var url = prefix + "/add";
            $.modal.openFull("增加", url);
        }

        function openPDF(){
            var url="/getPdf";
            //引入的pdf.js文件夹的路径下的web/viewer.html 参数：后台流文件URL+teacherName=?
            //注意路径问题 %3D是“=”号的转义，
            window.open("./pdfjs/web/viewer.html?file="+ url + "?teacherName%3D陈大大");
        }
        /**
         * 预览报价单
         * @param formId
         */
        function viewPdf(formId) {

            var row = $('#bootstrap-table').bootstrapTable('getSelections')[0];
            var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
            if ($.common.isEmpty(row) || rows.length != 1) {
                $.modal.alertWarning("请选择一条记录");
                return;
            }


            var currentId = $.common.isEmpty(formId) ? $('form').attr('id') : formId;
            console.log("currentId=" + currentId);
            $.modal.loading("正在导出数据，请稍后...");
            var paramsJson = $("#" + currentId).serializeArray();
            paramsJson.push({"name": "quotationId", "value": row.quotationId});
            paramsJson.push({"name": "status", "value": "1"});
            var viewUrl = prefix + "/viewPdf";
            window.open("../pdfjs/web/viewer.html?file="+ viewUrl + "?id%3D" + row.quotationId);
            $.modal.closeLoading();
            /*
            $.post($.table._option.exportUrl, paramsJson, function(result) {
                if (result.code == web_status.SUCCESS) {
                    var url = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + false;
                    //window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + false;
                    window.open("../pdfjs/web/viewer.html?file="+ url + "?teacherName%3D陈大大");
                } else if (result.code == web_status.WARNING) {
                    $.modal.alertWarning(result.msg)
                } else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
            });*/
        }

        function exportPdf(formId) {

            var row = $('#bootstrap-table').bootstrapTable('getSelections')[0];
            var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
            if ($.common.isEmpty(row) || rows.length != 1) {
                $.modal.alertWarning("请选择一条记录");
                return;
            }


            var flowStatus = row.flowStatus;
            var normalFlag = row.normalFlag;
            if (flowStatus == "0" || flowStatus != normalFlag) {
                $.modal.alertWarning("请等待审批结束后生成报价单！");
                return;
            }

            $.modal.confirm("确定生成报价单吗？", function() {
                var currentId = $.common.isEmpty(formId) ? $('form').attr('id') : formId;
                console.log("currentId=" + currentId);
                $.modal.loading("正在导出数据，请稍后...");
                var paramsJson = $("#" + currentId).serializeArray();
                paramsJson.push({"name": "quotationId", "value": row.quotationId});
                $.post($.table._option.exportUrl, paramsJson, function(result) {
                    if (result.code == web_status.SUCCESS) {
                        window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
                    } else if (result.code == web_status.WARNING) {
                        $.modal.alertWarning(result.msg)
                    } else {
                        $.modal.alertError(result.msg);
                    }
                    $.modal.closeLoading();
                });
            });
        }
        function exportEx(formId) {

            var row = $('#bootstrap-table').bootstrapTable('getSelections')[0];
            var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
            if ($.common.isEmpty(row) || rows.length != 1) {
                $.modal.alertWarning("请选择一条记录");
                return;
            }


            $.modal.confirm("确定生成报价单吗？", function() {
                var currentId = $.common.isEmpty(formId) ? $('form').attr('id') : formId;
                console.log("currentId=" + currentId);
                $.modal.loading("正在导出数据，请稍后...");
                var paramsJson = $("#" + currentId).serializeArray();
                paramsJson.push({"name": "quotationId", "value": row.quotationId});
                $.post($.table._option.exportEXUrl, paramsJson, function(result) {
                    if (result.code == web_status.SUCCESS) {
                        window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
                    } else if (result.code == web_status.WARNING) {
                        $.modal.alertWarning(result.msg)
                    } else {
                        $.modal.alertError(result.msg);
                    }
                    $.modal.closeLoading();
                });
            });
        }
        function remove(id) {
            if($.common.isEmpty(id)) {
                var row = $('#bootstrap-table').bootstrapTable('getSelections')[0];
                if ($.common.isEmpty(row)) {
                    $.modal.alertWarning("请至少选择一条记录");
                    return;
                }

                var rowss = $('#bootstrap-table').bootstrapTable('getSelections');
                for (var i = 0; i < rowss.length; i++) {
                    row = rowss[i];
                    var flowStatus = row.flowStatus;
                    if (flowStatus > 0&& flowStatus<10) {
                        $.modal.alertWarning("已上报数据不能删除");
                        return;
                    }
                }
                var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
                $.modal.confirm("确认要删除选中的" + rows.length + "条数据吗?", function() {
                    var url = $.table._option.removeUrl;
                    var data = { "ids": rows.join() };
                    $.operate.submit(url, "post", "json", data);
                });
            } else {
                var row = $('#bootstrap-table').bootstrapTable("getRowByUniqueId",id);
                if (row == null) {
                    row = $('#bootstrap-table').bootstrapTable('getSelections')[0];
                }
                if (row != null) {
                    var flowStatus = row.flowStatus;
                    if (flowStatus > 0 && flowStatus<10) {
                        $.modal.alertWarning("已上报数据不能删除");
                        return;
                    }
                }
                $.modal.confirm("确定删除该条" + $.table._option.modalName + "信息吗？", function() {
                    var url = $.common.isEmpty(id) ? $.table._option.removeUrl : $.table._option.removeUrl.replace("{id}", id);
                    if($.table._option.type == table_type.bootstrapTreeTable) {
                        $.operate.get(url);
                    } else {
                        var data = { "ids": id };
                        $.operate.submit(url, "post", "json", data);
                    }
                });
            }
        }


        function edit(id) {
            if($.common.isEmpty(id) && $.table._option.type == table_type.bootstrapTreeTable) {
                var row = $.bttTable.bootstrapTreeTable('getSelections')[0];
                if ($.common.isEmpty(row)) {
                    $.modal.alertWarning("请至少选择一条记录");
                    return;
                }
                var flowStatus = row.flowStatus;
                if (flowStatus > 0 && flowStatus<10) {
                    $.modal.alertWarning("已上报数据不能修改");
                    return;
                }

                var url = $.table._option.updateUrl.replace("{id}", row[$.table._option.uniqueId]);
                $.modal.openFull("修改" + $.table._option.modalName, url);
            } else {
                var row = $('#bootstrap-table').bootstrapTable("getRowByUniqueId",id);
                if (row == null) {
                    row = $('#bootstrap-table').bootstrapTable('getSelections')[0];
                }
                if (row != null) {
                    var flowStatus = row.flowStatus;
                    if (flowStatus > 0 && flowStatus<10) {
                        $.modal.alertWarning("已上报数据不能修改");
                        return;
                    }
                }
                $.modal.openFull("修改" + $.table._option.modalName, $.operate.editUrl(id));
            }
        }

        function subReport(quotationId) {
            $.modal.confirm("确定上报该条信息吗？", function() {
                console.log(quotationId + "--quotationId");
                var url = prefix + "/report?quotationId=" + quotationId;
                $.operate.saveModal(url,'',function(){
                    $.table.refresh();
                });
            });
        }
        function subExamine(quotationId) {
            var url = prefix + "/examineEdit?quotationId=" + quotationId;
            $.modal.openFull("审批", url);
        }

        function viewExamine(quotationId) {
            var url = prefix + "/viewExamine?quotationId=" + quotationId;
            $.modal.openNoEnter("审批记录", url,'','',function(){
                $.modal.closeAll();
            });
        }

        function viewExamineDetail(quotationId) {
            var url = prefix + "/viewDetail?quotationId=" + quotationId;

            $.modal.openNoEnter("详情", url,$(window).width(),$(window).height(),function(){
                $.modal.closeAll();
            });
        }


        $(document).ready(function(){
            //&& roleType != "2" && roleType != "3" && roleType != "4" && roleType != "5"
            if (roleType != "1" ) {
                // $("#toolbar").html("");
            }
        });
    </script>
</body>
</html>