<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('可离合减速器列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <input type="hidden" name="type" id="type" th:value="${type}"/>
                        <input type="hidden" name="productId" id="productId" th:value="${productId}"/>
                        <ul>
                            <li>
                                <p>商品编号：</p>
                                <input type="text" name="bh"/>
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>


            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('fmis:pattachment:edit')}]];
        var removeFlag = [[${@permission.hasPermi('fmis:pattachment:remove')}]];

        var busType = $("#type").val();

        var prefix = ctx + "fmis/pattachment";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'attachmentId', 
                    title : 'ID',
                    visible: false
                },
                {
                    field : 'bh', 
                    title : '商品编号'
                },
                {
                    field : 'chineseName', 
                    title : '中文品名'
                },
                {
                    field : 'chineseSpecifications', 
                    title : '中文规格'
                },
                {
                    field : 'englishName', 
                    title : '英文品名'
                },
                {
                    field : 'englishSpecifications', 
                    title : '英文规格'
                },
                {
                    field : 'chinesePackaging', 
                    title : '中文包装'
                },
                {
                    field : 'englishPackaging', 
                    title : '英文包装'
                },
                {
                    field : 'chineseUnit', 
                    title : '中文单位'
                },
                {
                    field : 'englishUnit', 
                    title : '英文单位'
                },
                {
                    field : 'pressure', 
                    title : '压力'
                },
                {
                    field : 'material', 
                    title : '材质'
                },
                {
                    field : 'barCode', 
                    title : '条形码'
                },
                {
                    field : 'customsBh', 
                    title : '海关编码'
                },
                {
                    field : 'handlingFee', 
                    title : '操作费'
                },
                {
                    field : 'color', 
                    title : '颜色'
                },
                {
                    field : 'costPrice', 
                    title : '成本价'
                },
                {
                    field : 'settlementPrice', 
                    title : '结算价'
                },
                {
                    field : 'basePrice', 
                    title : '销售底价'
                }/*,
                {
                    field : 'price', 
                    title : '销售价'
                }*/,
                {
                    field : 'remark', 
                    title : '备注'
                }]
            };
            $.table.init(options);
        });

        function submitHandler() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请选择一条记录");
                return;
            }
            if (rows.length > 1) {
                $.modal.alertWarning("请只选择一条记录");
                return;
            }
            var attachmentId = $.table.selectColumns("attachmentId");

            var rowData = {
                pattachmentId : attachmentId[0],
                pattachmentName:$.table.selectColumns("bh"),
                pattachmentPrice:$.table.selectColumns("price")[0],

                pattachmentCostPrice:$.table.selectColumns("costPrice")[0],

                pattachmentCount:"0",
                pattachmentCoefficient:"0",
            };

            if (busType == "2") {
                rowData = {
                    pattachment1Id : attachmentId[0],
                    pattachment1Name:$.table.selectColumns("bh"),
                    pattachment1Price:$.table.selectColumns("price")[0],

                    pattachment1CostPrice:$.table.selectColumns("costPrice")[0],

                    pattachment1Count:"0",
                    pattachment1Coefficient:"0",
                };
            } else if (busType == "3") {
                rowData = {
                    pattachment2Id : attachmentId[0],
                    pattachment2Name:$.table.selectColumns("bh"),
                    pattachment2Price:$.table.selectColumns("price")[0],
                    pattachment2CostPrice:$.table.selectColumns("costPrice")[0],
                    pattachment2Count:"0",
                    pattachment2Coefficient:"0",
                };
            } else if (busType == "4") {
                rowData = {
                    pattachment3Id : attachmentId[0],
                    pattachment3Name:$.table.selectColumns("bh"),
                    pattachment3Price:$.table.selectColumns("price")[0],
                    pattachment3CostPrice:$.table.selectColumns("costPrice")[0],
                    pattachment3Count:"0",
                    pattachment3Coefficient:"0",
                };
            } else if (busType == "5") {
                rowData = {
                    pattachment4Id : attachmentId[0],
                    pattachment4Name:$.table.selectColumns("bh"),
                    pattachment4Price:$.table.selectColumns("price")[0],
                    pattachment4CostPrice:$.table.selectColumns("costPrice")[0],
                    pattachment4Count:"0",
                    pattachment4Coefficient:"0",
                };
            }

            parent.$('#form-quotation-add input[id=pattachmentJsonParamter]').val(JSON.stringify(rowData));
            parent.$('#form-quotation-edit input[id=pattachmentJsonParamter]').val(JSON.stringify(rowData));
            $.modal.close();
        }

    </script>
</body>
</html>