<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('执行器列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>产品名称：</p>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('fmis:actuator:edit')}]];
        var removeFlag = [[${@permission.hasPermi('fmis:actuator:remove')}]];
        var prefix = ctx + "fmis/actuator";
        var setupTypeData = [[${@dict.getType('actuator_setup_type')}]];
        var productId = parent.$('#form-quotation-add input[name=productId]').val();
        if (productId == null || productId == "") {
            productId = parent.$('#form-quotation-edit input[name=productId]').val();
        }
        $(function() {
            var options = {
                url: prefix + "/listForProductId?productId=" + productId,
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "执行器",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'actuatorId', 
                    title : 'ID',
                    visible: false
                },
                {
                    field : 'name', 
                    title : '产品名称'
                },
                {
                    field : 'brand', 
                    title : '执行器品牌'
                },
                {
                    field : 'manufacturer', 
                    title : '生产厂家'
                },
                {
                    field : 'setupType',
                    title : '安装形式',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(setupTypeData, value);
                    }
                },
                {
                    field : 'outputTorque', 
                    title : '输出力距'
                },
                {
                    field : 'actionType', 
                    title : '开启时间'
                },
                {
                    field : 'controlCircuit', 
                    title : '控制电路'
                },
                {
                    field : 'adaptableVoltage', 
                    title : '适用电压'
                },
                {
                    field : 'protectionLevel', 
                    title : '防护等级'
                },
                {
                    field : 'qualityLevel', 
                    title : '品质等级'
                },
                {
                    field : 'explosionLevel', 
                    title : '防爆等级'
                },
                {
                    field : 'price', 
                    title : '价格'
                },
                {
                    field : 'remark', 
                    title : '备注'
                },
                {
                    field : 'createTime',
                    title : '创建时间'
                },{
                    field : 'updateTime',
                    title : '修改时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.actuatorId + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.actuatorId + '\')"><i class="fa fa-remove"></i> 删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        /* 添加用户-选择用户-提交 */
        function submitHandler() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请选择一条记录");
                return;
            }
            if (rows.length > 1) {
                $.modal.alertWarning("请只选择一条记录");
                return;
            }
            $.modal.confirm('确定要关联该执行器吗？',
                function() {
                    parent.$('#form-quotation-add input[name=actuatorId]').val($.table.selectColumns("actuatorId"));
                    parent.$('#form-quotation-add input[name=actuatorName]').val($.table.selectColumns("name"));
                    parent.$('#form-quotation-edit input[name=actuatorId]').val($.table.selectColumns("actuatorId"));
                    parent.$('#form-quotation-edit input[name=actuatorName]').val($.table.selectColumns("name"));
                    $.modal.close();
                }
            );
        }
    </script>
</body>
</html>