<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增费用报销')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-data-add">
        <input type="hidden" name="bizId" value="payment"/>
        <input type="hidden" name="string1" value="2"/>

        <div class="form-group">
            <label class="col-sm-3 control-label">报销日期：</label>
            <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input name="datetime1" class="form-control" placeholder="yyyy-MM-dd" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">收款账户：</label>
            <div class="col-sm-8">
                <input name="string3" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">收款账号：</label>
            <div class="col-sm-8">
                <input name="string4" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">开户行：</label>
            <div class="col-sm-8">
                <input name="string5" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">部门：</label>
            <div class="col-sm-8">
                <input name="string6" id="string6" class="form-control" type="hidden">
                <div class="input-group">
                    <input name="deptName" onclick="selectDeptTree()" id="treeName" type="text" placeholder="请选择归属部门"
                           class="form-control" required>
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input name="remark" class="form-control" type="text">
            </div>
        </div>
    </form>

    <div class="btn-group-sm" id="toolbar" role="group">
        <a class="btn btn-success" onclick="add()">
            <i class="fa fa-plus"></i> 增加
        </a>
    </div>
    <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table" class="text-nowrap"></table>
    </div>

</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: bootstrap-editable-css"/>
<th:block th:include="include :: bootstrap-table-editable-js"/>
<script th:inline="javascript">
    var prefix = ctx + "fmis/payment"
    $("#form-data-add").validate({
        focusCleanup: true
    });

    function selectDeptTree() {
        var treeId = $("#string6").val();
        var deptId = $.common.isEmpty(treeId) ? "100" : $("#string6").val();
        var url = ctx + "system/dept/selectDeptTree/" + deptId;
        console.log(url)
        var options = {
            title: '选择部门',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        var body = layer.getChildFrame('body', index);
        $("#string6").val(body.find('#treeId').val());
        $("#treeName").val(body.find('#treeName').val());
        layer.close(index);
        // deptBudget(body.find('#treeId').val());
    }

    // 设置费用科目的选择框
    var subjectList = $("#subjects").val();
    console.log(subjectList)
    console.log($("#string6").val())

    function deptBudget() {
        var deptId = $("#string6").val();
        var url = ctx + "fmis/budget/selectByDeptId/" + deptId;
        $.get(url, function (data) {
            subjectList = [];
            for (var bud in data) {
                subjectList.push({value: data[bud].subjectsId, text: data[bud].name});
            }
        });
    }
    console.log(subjectList)


    function add() {
        var rowData = {
            childId: 0,
            datetime1: "",
            string1: "",
            remark: "",
            price1: "",
            string2: ""
        };
        $("#bootstrap-table").bootstrapTable('append', rowData);
    }

    $(function () {
        var options = {
            //url: prefix + "/list",
            modalName: "费用报销",
            uniqueId: "childId",
            detailView: false,
            cache: true,
            async: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showHeader: false,
            showFooter: false,
            showColumns: false,
            pageSize: 10000,
            id: "bootstrap-table",
            pagination: false,
            rowStyle: function (row, index) {
                return {classes: 'success'};
            },
            expandFirst: true,
            columns: [
                {
                    field: 'rowId', title: '序号', width: 50, visible: true, formatter: function (value, row, index) {
                        row.rowId = index;
                        return index + 1;
                    }
                },
                {field: 'childId', title: 'childId', visible: false},
                {
                    field: 'datetime1',
                    title: '日期',
                    editable: {type: "date", title: "日期", placement: "center", datepicker: {language: "zh-CN"}},
                    width: 100
                },
                {field: 'string1', title: '票据张数', editable: true, width: 100},
                {field: 'price1', title: '金额', visible: true, editable: true, width: 100},
                {
                    field: 'string2',
                    title: '费用科目',
                    visible: true,
                    // editable: true,
                    editable: {type: 'select', title: '费用科目',source:subjectList, width: 200}
                },
                {field: 'remark', title: '摘要', editable: true, width: 200},
                {
                    field: 'operation', title: '操作', visible: true, formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="removeRow(' + index + ')"><i class="fa fa-remove"></i> 删除</a>');
                        return actions.join('');
                    }
                },
            ]
        };
        $.table.init(options);
    });


    function removeRow(index) {
        console.log("index=" + index);
        $("#bootstrap-table").bootstrapTable('remove', {
            field: "rowId",
            values: [index]
        });
    }


    function submitHandler() {
        var vali = $.validate.form();
        console.log("vali=" + vali);
        if (vali) {
            var dataObj = $('#form-data-add').serializeArray();

            var productArray = new Array();
            var data = $.btTable.bootstrapTable('getData');

            for (var i = 0; i < data.length; i++) {
                var rowData = data[i];
                var productObj = new Object();
                //productObj["string1"] = rowData["quotationId"];
                var price1 = rowData["price1"];
                if (price1 > 0) {
                    productArray.push(rowData);
                }
            }
            dataObj.push({"name": "productParmters", "value": JSON.stringify(productArray)});
            $.operate.save(prefix + "/add1", dataObj);
        }
    }

    $("input[name='datetime1']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='datetime2']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

</script>
</body>
</html>