<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改费用报销')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-data-edit" th:object="${bizProcessData}">
        <input name="dataId" th:field="*{dataId}" type="hidden">
        <input type="hidden" name="bizId" value="payment"/>
        <input type="hidden" name="string1" value="2"/>


        <div class="form-group">
            <label class="col-sm-3 control-label">报销日期：</label>
            <div class="col-sm-2">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="datetime1" class="form-control" placeholder="yyyy-MM-dd"
                           th:value="${#dates.format(bizProcessData.datetime1,'yyyy-MM-dd')}" type="text">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">收款账户：</label>
            <div class="col-sm-8">
                <input name="string3" class="form-control" th:field="*{string3}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">收款账号：</label>
            <div class="col-sm-8">
                <input name="string4" class="form-control" th:field="*{string4}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">开户行：</label>
            <div class="col-sm-8">
                <input name="string5" class="form-control" th:field="*{string5}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">部门：</label>
            <div class="col-sm-8">
                <input name="string6" id="string6" th:field="*{string6}" class="form-control" type="hidden">
                <div class="input-group">
                    <input class="form-control" type="text" name="deptName" onclick="selectDeptTree()" id="treeName"
                           th:field="*{deptName}" required>
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">报销方式：</label>
            <div class="form-check col-sm-1">
                <input class="form-check-input" type="radio" name="paymentType" id="flexRadioDefault1" checked
                       value="0" th:field="*{paymentType}">
                <label class="form-check-label" for="flexRadioDefault1">
                    普通报销
                </label>
            </div>
            <div class="form-check col-sm-1">
                <input class="form-check-input" type="radio" name="paymentType" id="flexRadioDefault2" value="1"
                       th:field="*{paymentType}">
                <label class="form-check-label" for="flexRadioDefault2">
                    借款冲抵
                </label>
            </div>
            <div class="col-sm-6" hidden id="borrowingList">
                <label class="col-sm-2 control-label">借款单：</label>
                <select name="balanceBorrowNo" class="form-control m-b col-sm-1" style="width: auto;" required
                        th:with="type=${borrowingNoList}"
                        onchange="changeAmount(this)">
                    <option value="">请选择</option>
                    <option th:each="value : ${type}" th:text="${value}" th:value="${value}"
                            th:field="*{balanceBorrowNo}"></option>
                </select>
                <label class="col-sm-2 control-label">金额：</label>
                <input class="form-control col-sm-1" type="text" style="width: auto;" required id="applyAmount"
                       value="0" name="balanceAmount" th:field="*{balanceAmount}">

            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input name="remark" class="form-control" th:field="*{remark}" type="text">
            </div>
        </div>


    </form>

    <div class="btn-group-sm" id="toolbar" role="group">
        <a class="btn btn-success" onclick="add()">
            <i class="fa fa-plus"></i> 增加
        </a>
    </div>
    <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table" class="text-nowrap"></table>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: bootstrap-editable-css"/>
<th:block th:include="include :: bootstrap-table-editable-js"/>
<script th:inline="javascript">
    var prefix = ctx + "fmis/payment";
    $("#form-data-edit").validate({
        focusCleanup: true
    });

    var borrowNoList = [[${borrowingNoList}]]
    var borrowMap = [[${borrowingMap}]]

    var paymentType = [[${bizProcessData.paymentType}]]

    function add() {
        var rowData = {
            childId: 0,
            datetime1: "",
            string1: "",
            remark: "",
            price1: "",
            string2: ""
        };
        $("#bootstrap-table").bootstrapTable('append', rowData);
    }


    $(function () {
        var options = {
            url: prefix + "/listChild",
            modalName: "费用报销",
            uniqueId: "childId",
            detailView: false,
            cache: true,
            async: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showHeader: false,
            showFooter: false,
            showColumns: false,
            pageSize: 10000,
            id: "bootstrap-table",
            pagination: false,
            rowStyle: function (row, index) {
                return {classes: 'success'};
            },
            expandFirst: true,
            columns: [
                {
                    field: 'rowId', title: '序号', width: 50, visible: true, formatter: function (value, row, index) {
                        row.rowId = index;
                        return index + 1;
                    }
                },
                {field: 'childId', title: 'childId', visible: false},
                {
                    field: 'datetime1',
                    title: '日期',
                    editable: {type: "date", title: "日期", placement: "center", datepicker: {language: "zh-CN"}},
                    width: 100,
                    formatter: function (value, row, index) {
                        if ($.common.isEmpty(value)) {
                            return "";
                        }
                        var date = value.substr(0, 10);
                        return date;
                    }
                }, {field: 'string1', title: '票据张数', editable: true, width: 100},
                {field: 'price1', title: '金额', visible: true, editable: true, width: 100},
                {
                    field: 'string2',
                    title: '费用科目',
                    visible: true,
                    // editable: true,
                    editable: { type: 'select', title: '费用科目', source: function () {
                            return deptBudget();
                        }, width: 200},
                    width: 200
                },
                {field: 'remark', title: '摘要', editable: true, width: 200},
                {
                    field: 'operation', title: '操作', visible: true, formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="removeRow(' + index + ')"><i class="fa fa-remove"></i> 删除</a>');
                        return actions.join('');
                    }
                },
            ]
        };
        $.table.init(options);
    });
    // 设置费用科目的选择框
    function deptBudget() {
        var deptId = $("#string6").val();
        if ($.common.isEmpty(deptId)) {
            return  $.modal.msgError("请先选择部门！");
        }
        var url = ctx + "fmis/budget/selectByDeptId/" + deptId;
        var subjectList = [];
        $.ajaxSettings.async = false
        $.get(url, function (data) {
            for (var bud in data) {
                var dictValue = data[bud].subjectsId;
                var dictLabel = data[bud].name;
                subjectList.push({value: dictValue, text: dictLabel});
            }
        });
        return subjectList;
    }

    function changeAmount(node) {
        var val = $(node).val();
        console.log('...', val)
        if (val == '') {
            $("#applyAmount").val(0)
        } else {
            $("#applyAmount").val(borrowMap[val]);
        }
    }

    function hideOrShow(value) {
        if (value == '0') {
            $("#borrowingList").hide()
        } else {
            $("#borrowingList").show()

        }
    }

    $('input[type=radio][name=paymentType]').change(function () {
        hideOrShow(this.value);
    });

    function removeRow(index) {
        console.log("index=" + index);
        $("#bootstrap-table").bootstrapTable('remove', {
            field: "rowId",
            values: [index]
        });
    }

    function selectDeptTree() {
        var treeId = $("#string6").val();
        var deptId = $.common.isEmpty(treeId) ? "100" : $("#string6").val();
        var url = ctx + "system/dept/selectDeptTree/" + deptId;
        var options = {
            title: '选择部门',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        var body = layer.getChildFrame('body', index);
        $("#string6").val(body.find('#treeId').val());
        $("#treeName").val(body.find('#treeName').val());
        layer.close(index);
    }


    function submitHandler() {
        if ($.validate.form()) {
            var dataObj = $('#form-data-edit').serializeArray();

            var productArray = new Array();
            var data = $.btTable.bootstrapTable('getData');

            for (var i = 0; i < data.length; i++) {
                var rowData = data[i];
                var productObj = new Object();
                //productObj["string1"] = rowData["quotationId"];
                var price1 = rowData["price1"];
                if (price1 > 0) {
                    productArray.push(rowData);
                }
            }
            dataObj.push({"name": "productParmters", "value": JSON.stringify(productArray)});
            $.operate.save(prefix + "/edit1", dataObj);
        }
    }

    $("input[name='datetime1']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='datetime2']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

</script>
</body>
</html>