<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('费用报销审核')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-data-edit" th:object="${bizProcessData}">
        <input name="dataId" th:field="*{dataId}" type="hidden">
        <input type="hidden" name="bizId" value="payment"/>
        <input type="hidden" name="string1" value="2"/>


        <div class="form-group">
            <label class="col-sm-3 control-label">报销日期：</label>
            <div class="col-sm-2">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="datetime1" class="form-control" readonly placeholder="yyyy-MM-dd"
                           th:value="${#dates.format(bizProcessData.datetime1,'yyyy-MM-dd')}" type="text">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">收款账户：</label>
            <div class="col-sm-8">
                <input name="string3" class="form-control" readonly th:field="*{string3}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">收款账号：</label>
            <div class="col-sm-8">
                <input name="string4" class="form-control" readonly th:field="*{string4}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">开户行：</label>
            <div class="col-sm-8">
                <input name="string5" class="form-control" readonly th:field="*{string5}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">部门：</label>
            <div class="col-sm-8">
                <input name="string6" id="string6" th:field="*{string6}" readonly class="form-control" type="hidden">
                <div class="input-group">
                    <input class="form-control" type="text" name="deptName" onclick="selectDeptTree()" id="treeName" th:field="*{deptName}" readonly required>
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">报销方式：</label>
            <div class="form-check col-sm-1">
                <input class="form-check-input" type="radio" name="paymentType" id="flexRadioDefault1" checked disabled
                       value="0" th:field="*{paymentType}">
                <label class="form-check-label" for="flexRadioDefault1">
                    普通报销
                </label>
            </div>
            <div class="form-check col-sm-1">
                <input class="form-check-input" type="radio" name="paymentType" id="flexRadioDefault2" value="1"
                       th:field="*{paymentType}" disabled>
                <label class="form-check-label" for="flexRadioDefault2">
                    借款冲抵
                </label>
            </div>
            <div class="col-sm-6" hidden id="borrowingList">
                <label class="col-sm-2 control-label">借款单：</label>
                <select name="balanceBorrowNo" class="form-control m-b col-sm-1" style="width: auto;" required disabled
                        th:with="type=${borrowingNoList}"
                        onchange="changeAmount(this)">
                    <option value="">请选择</option>
                    <option th:each="value : ${type}" th:text="${value}" th:value="${value}"
                            th:field="*{balanceBorrowNo}"></option>
                </select>
                <label class="col-sm-2 control-label">金额：</label>
                <input class="form-control col-sm-1" type="text" style="width: auto;" required id="applyAmount" disabled
                       value="0" name="balanceAmount" th:field="*{balanceAmount}">

            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input name="remark" class="form-control" readonly th:field="*{remark}" type="text">
            </div>
        </div>
        <div class="form-group has-success">
            <label class="col-sm-3 control-label">审批意见：</label>
            <div class="col-sm-8">
                <select name="examineStatus" id="examineStatus" class="form-control m-b" th:with="type=${@dict.getType('examine_status')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>

        <div class="form-group has-success">
            <label class="col-sm-3 control-label" >审批备注：</label>
            <div class="col-sm-8">
                <textarea name="examineRemark" class="form-control" id="examineRemark"></textarea>
            </div>
        </div>

    </form>

    <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table" class="text-nowrap"></table>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: bootstrap-editable-css"/>
<th:block th:include="include :: bootstrap-table-editable-js"/>
<script th:inline="javascript">
    var prefix = ctx + "fmis/payment";
    $("#form-data-edit").validate({
        focusCleanup: true
    });

    var borrowNoList = [[${borrowingNoList}]]
    var borrowMap = [[${borrowingMap}]]

    var paymentType = [[${bizProcessData.paymentType}]]



    $(function () {
        var options = {
            url: prefix + "/listChild",
            modalName: "费用报销",
            uniqueId: "childId",
            detailView: false,
            cache: true,
            async: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showHeader: false,
            showFooter: false,
            showColumns: false,
            pageSize: 10000,
            id: "bootstrap-table",
            pagination: false,
            rowStyle: function (row, index) {
                return {classes: 'success'};
            },
            expandFirst: true,
            columns: [
                {
                    field: 'rowId', title: '序号', width: 50, visible: true, formatter: function (value, row, index) {
                        row.rowId = index;
                        return index + 1;
                    }
                },
                {field: 'childId', title: 'childId', visible: false},
                {
                    field: 'datetime1',
                    title: '日期',
                    editable: {type: "date", title: "日期", placement: "center", datepicker: {language: "zh-CN"}},
                    width: 100,
                    formatter: function (value, row, index) {
                        if ($.common.isEmpty(value)) {
                            return "";
                        }
                        var date = value.substr(0, 10);
                        return date;
                    }
                }, {field: 'string1', title: '票据张数', editable: true, width: 100},
                {field: 'price1', title: '金额', visible: true, editable: true, width: 100},
                {
                    field: 'string2',
                    title: '费用科目',
                    visible: true,
                    editable: { type: 'select', title: '费用科目', source: function () {
                            return deptBudget();
                        }, width: 200},
                    width: 200
                },
                {field: 'remark', title: '摘要', editable: true, width: 200},
            ]
        };
        $.table.init(options);
        hideOrShow(paymentType)
    });

    // 设置费用科目的选择框
    function deptBudget() {
        var deptId = $("#string6").val();
        if ($.common.isEmpty(deptId)) {
            return  $.modal.msgError("请先选择部门！");
        }
        var url = ctx + "fmis/budget/selectByDeptId/" + deptId;
        var subjectList = [];
        $.ajaxSettings.async = false
        $.get(url, function (data) {
            for (var bud in data) {
                var dictValue = data[bud].subjectsId;
                var dictLabel = data[bud].name;
                subjectList.push({value: dictValue, text: dictLabel});
            }
        });
        return subjectList;
    }
    
    function selectDeptTree() {
        var treeId = $("#string6").val();
        var deptId = $.common.isEmpty(treeId) ? "100" : $("#string6").val();
        var url = ctx + "system/dept/selectDeptTree/" + deptId;
        var options = {
            title: '选择部门',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        var body = layer.getChildFrame('body', index);
        $("#string6").val(body.find('#treeId').val());
        $("#treeName").val(body.find('#treeName').val());
        layer.close(index);
    }


    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/doExamine", $('#form-data-edit').serialize());
        }
    }

    $("input[name='datetime1']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='datetime2']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

</script>
</body>
</html>