<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('附件列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <!--                        <ul>-->
                    <!--                            <li>-->
                    <!--                                <p>颜色名称：</p>-->
                    <!--                                <input type="text" name="dictLabel"/>-->
                    <!--                                <input type="text" hidden value="color" name="dictType">-->
                    <!--                                <input type="text" id="colorEdit" hidden th:value="${edit}" name="edit" th:hidden="true">-->
                    <!--                            </li>-->
                    <!--                            <li>-->
                    <!--                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>-->
                    <!--                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </div>-->
            </form>
        </div>


        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">

    var fileType = [[${fileType}]]
    var bizId = [[${bizId}]]

    $(function () {
        var options = {
            pagination: false,
            url: ctx + "fmis/file/list",
            queryParams:{"fileType":fileType,"bizId":bizId},
            modalName: "附件列表",
            columns: [
                //     {
                //     checkbox: true
                // },
                {
                    field: 'fileName',
                    title: '文件名称'
                },
                {
                    field: 'createBy',
                    title: '上传人'
                },
                {
                    title : '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="viewFile(\'' + row.fileName + '\')"><i class="fa fa-edit"></i> 查看</a> ');
                        actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="deleteFile(\'' + row.id + '\')"><i class="fa fa-edit"></i>删除</a> ');
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
    });

    function deleteFile(id) {
        $.ajax(
            {
                url:ctx + 'fmis/file/delete/'+id,
                type:'POST',
                success:function (data) {
                    if(data.code == 0) {
                        layer.msg("删除成功",1);
                        $.table.refresh();
                    } else {
                        layer.msg("删除失败:"+data.msg)
                    }
                }
            }
        )
    }
    
    
    function viewFile(fileName) {
        window.parent.parent.open(ctx +'fmis/file/preview?fileName='+encodeURI(fileName));
    }
    
</script>
</body>
</html>