<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('发货列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <input type="hidden" name="bizId" id="bizId" value="newdelivery"/>
                    <div class="select-list">
                        <ul>

                            <li>
                                <p>销售合同号：</p>
                                <input type="text" name="string1"/>
                            </li>
                            <li>
                                <p>发货通知单号：</p>
                                <input type="text" name="string2"/>
                            </li>
                            <li>
                                <p>发起人：</p>
                                <input type="text" name="createByName"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">

            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('fmis:newdelivery:edit')}]];
        var removeFlag = [[${@permission.hasPermi('fmis:newdelivery:remove')}]];
        var sysYesNo = [[${@dict.getType('sys_yes_no')}]];
        var prefix = ctx + "fmis/newdelivery";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "发货列表",
                rowStyle:function (row, index) {
                    if(row.flowStatus != null && row.flowStatus < 0) {
                        return {css:{"background-color":"rgb(171,170,58)"}};
                    }
                    return {css:{"background-color":"rgba(248,245,245)"}}
                },
                columns: [{
                    checkbox: true
                },
                {
                    field : 'dataId', 
                    title : 'ID',
                    visible: false
                },
                {
                    field : 'string1',
                    title : '销售合同号'
                },
                {
                    field : 'string2',
                    title : '发货通知单号'
                },
                {
                    field : 'createByName',
                    title : '发起人'
                },
                {
                    field : 'createTime',
                    title : '发起时间'
                },
                {
                    field : 'flowStatus',
                    title : '状态',
                    align: 'center',formatter: function(value, row, index) {
                        var actions = [];
                        if (value < 1) {
                            actions.push('未申请');
                        } else{
                            actions.push('已申请');
                        }
                        return actions.join('');
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        var flowStatus = row.flowStatus;
                        console.log(flowStatus)
                        var normalFlag = row.normalFlag;
                        var operationExamineStatus = row.operationExamineStatus;
                        var createBy = row.createBy;
                        var loginUserId = row.loginUserId;
                        console.log("loginUserId=" + loginUserId + " createBy=" + createBy + " flowStatus=" + flowStatus);
                        console.log("operationExamineStatus=" + operationExamineStatus);
                        if (flowStatus < 1 && createBy == loginUserId) {
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="subReport(\'' + row.dataId + '\')"><i class="fa fa-remove"></i> 上报 </a>');
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="update(\'' + row.dataId + '\')"><i class="fa fa-remove"></i> 编辑 </a>');
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="deleteDelivery(\'' + row.dataId + '\')"><i class="fa fa-remove"></i> 删除 </a>');
                            //已上报
                        } else if (flowStatus == normalFlag) {
                            //已完成
                        } else if (operationExamineStatus == true || operationExamineStatus == "true") {
                            //审批
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="subExamine(\'' + row.dataId + '\')"><i class="fa fa-remove"></i> 审批</a>');
                        }
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="viewExamineHistory(\'' + row.dataId + '\')"><i class="fa fa-remove"></i> 审批记录 </a>');
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="viewExamineDetail(\'' + row.dataId + '\')"><i class="fa fa-remove"></i> 详情 </a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function deleteDelivery(dataId) {
            $.operate.remove(dataId);
        }

        function viewExamineHistory(dataId) {
            var bizId = $("#bizId").val();
            var url = prefix + "/viewExamineHistory?dataId=" + dataId + "&&bizId=" + bizId;
            $.modal.openNoEnter("审批记录", url,'','',function(){
                $.modal.closeAll();
            });
        }
        function viewExamineDetail(dataId) {
            var bizId = $("#bizId").val();
            var url = prefix + "/viewDetail?dataId=" + dataId + "&&bizId=" + bizId;
            $.modal.openNoEnter("详情", url,$(window).width(),$(window).height(),function(){
                $.modal.closeAll();
            });
        }
        function updateFh(dataId) {
            var bizId = $("#bizId").val();
            var url = prefix + "/updateFh?dataId=" + dataId + "&&bizId=" + bizId;
            $.modal.openNoEnter("详情", url,$(window).width(),$(window).height(),function(){
                $.modal.closeAll();
            });
        }
        function subExamine(dataId) {
            var url = prefix + "/examineEdit?dataId=" + dataId;
            $.modal.openFull("审批", url);
        }

        function subReport(dataId) {
            $.modal.confirm("确定上报该条信息吗？", function() {
                console.log(dataId + "--dataId");
                var bizId = $("#bizId").val();
                var url = prefix + "/reportFh?dataId=" + dataId+ "&&bizId=" + bizId;
                $.operate.saveModal(url,'',function(){
                    $.table.refresh();
                });
            });
        }
        function update(dataId) {
            var bizId = $("#bizId").val();
            var url = prefix + "/updateViewDetail?dataId=" + dataId + "&&bizId=" + bizId;
            /*$.modal.openNoEnter("详情", url,$(window).width(),$(window).height(),function(){
                $.modal.closeAll();
            });*/

            // var url = prefix + "/viewDeliver?dataId=" + dataId;
            console.log(url)
            $.modal.openFullBtnName("详情", url,$(window).width(),$(window).height(),'申请发货');
        }
    </script>
</body>
</html>