<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('查看库存')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-data-edit" th:object="${bizProcessData}">
            <input name="dataId" id="dataId" th:field="*{dataId}" type="hidden">
            <input type="hidden" name="bizId" value="contract"/>

            <input id="string1" name="string1" class="form-control" th:field="*{string1}" type="hidden">

            <div class="form-group " >
                <label class="col-sm-1 control-label">编号：</label>
                <div class="col-sm-2">
                    <input name="string26" class="form-control" th:field="*{string26}"  type="text">
                </div>
                <label class="col-sm-1 control-label">合同单号：</label>
                <div class="col-sm-2">
                    <input name="string27" class="form-control" th:field="*{string27}"  type="text">
                </div>

                <label class="col-sm-1 control-label">客户代号：</label>
                <div class="col-sm-2">
                    <input name="string4" class="form-control"  th:field="*{string4}"  type="text">
                </div>


            </div>

            <div class="form-group " >


                <label class="col-sm-1 control-label">发货日期：</label>
                <div class="col-sm-2">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="datetime1" id="datetime1" class="form-control" th:value="${#dates.format(bizProcessData.datetime1,'yyyy-MM-dd')}"   placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>

                <label class="col-sm-1 control-label">发货地：</label>
                <div class="col-sm-2">
                    <input name="string7" class="form-control" th:field="*{string7}"  type="text">
                </div>

                <label class="col-sm-1 control-label">收货人：</label>
                <div class="col-sm-2">
                    <input name="string8" class="form-control" th:field="*{string8}"   type="text">
                </div>
            </div>

            <div class="form-group " >

                <label class="col-sm-1 control-label">电话：</label>
                <div class="col-sm-2">
                    <input name="string9" class="form-control" th:field="*{string9}"  type="text">
                </div>

                <label class="col-sm-1 control-label">手机：</label>
                <div class="col-sm-2">
                    <input name="string10" class="form-control" th:field="*{string10}"  type="text">
                </div>

                <label class="col-sm-1 control-label">运费付费方式：</label>
                <div class="col-sm-2">
                    <select name="string12" id="string12" class="form-control"  required disabled readonly="true">
                        <option  th:text="供方"  th:value="供方" th:field="*{string12}"></option>
                        <option  th:text="需方"  th:value="需方" th:field="*{string12}"></option>
                    </select>
                </div>
            </div>



            <div class="form-group " >
                <label class="col-sm-1 control-label">运输方式：</label>
                <div class="col-sm-2">
<!--                    <input name="string14" class="form-control" th:field="*{string14}"  type="text">-->
                    <select name="string14" id="string14" class="form-control m-b" th:with="type=${@dict.getType('transport_type')}" readonly="true" disabled>
                        <option value="0">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:field="*{string14}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
                <label class="col-sm-1 control-label">件数：</label>
                <div class="col-sm-2">
                    <input name="string15" class="form-control" th:field="*{string15}"  type="text">
                </div>

                <label class="col-sm-1 control-label">毛重：</label>
                <div class="col-sm-2">
                    <input name="string16" class="form-control" th:field="*{string16}"  type="text">
                </div>
            </div>

            <div class="form-group " >
                <label class="col-sm-1 control-label">净重：</label>
                <div class="col-sm-2">
                    <input name="string17" class="form-control" th:field="*{string17}"  type="text">
                </div>
                <label class="col-sm-1 control-label">承运单位：</label>
                <div class="col-sm-2">
                    <input name="string18" class="form-control" th:field="*{string18}"  type="text">
                </div>

                <label class="col-sm-1 control-label">收费标准：</label>
                <div class="col-sm-2">
                    <input name="string19" class="form-control" th:field="*{string19}"  type="text">
                </div>
            </div>

            <div class="form-group " >
                <label class="col-sm-1 control-label">其他费用：</label>
                <div class="col-sm-2">
                    <input name="string20" class="form-control" th:field="*{string20}"  type="text">
                </div>
                <label class="col-sm-1 control-label">计划费用：</label>
                <div class="col-sm-2">
                    <input name="string21" class="form-control" th:field="*{string21}"  type="text">
                </div>

                <label class="col-sm-1 control-label">运单号：</label>
                <div class="col-sm-2">
                    <input name="string22" class="form-control" th:field="*{string22}"  type="text">
                </div>
            </div>

            <div class="form-group " >
                <label class="col-sm-1 control-label">实际运费：</label>
                <div class="col-sm-2">
                    <input name="string23" class="form-control" th:field="*{string23}"  type="text">
                </div>
                <label class="col-sm-1 control-label">查货电话：</label>
                <div class="col-sm-2">
                    <input name="string24" class="form-control" th:field="*{string24}"  type="text">
                </div>

                <label class="col-sm-1 control-label">备注：</label>
                <div class="col-sm-2">
                    <input name="string25" class="form-control" th:field="*{string25}"  type="text">
                </div>
            </div>

            <div class="form-group " >
                <label class="col-sm-1 control-label">特殊要求：</label>
                <div class="col-sm-2">
                    <input name="string11" class="form-control" th:field="*{string11}"  type="text">
                </div>


                <label class="col-sm-1 control-label">是否送货：</label>
                <div class="col-sm-2">
                    <input name="string13" class="form-control" th:field="*{string13}"  type="text">
                </div>
            </div>

        </form>
        <div class="form-horizontal" id="productDiv">
            <div class="row">
                <div class="col-sm-12 select-table table-striped">
                    <table id="bootstrap-table" data-use-row-attr-func="true"
                           data-reorderable-rows="true"></table>
                </div>
            </div>
        </div>

    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-editable-css" />
    <th:block th:include="include :: bootstrap-table-reorder-js" />
    <th:block th:include="include :: bootstrap-table-editable-js" />
    <script type="text/javascript">
        var prefix = ctx + "fmis/child";
        $("#form-data-edit").validate({
            focusCleanup: true
        });
        $(function() {
            var options = {
                showSearch: false,
                showRefresh: false,
                pagination: false,
                showColumns: false,
                showToggle: false,
                useRowAttrFunc: true,
                uniqueId: "childId",
                async: true,
                url: prefix + "/selectBizProcessChildInventoryList",
                //onEditableSave: onEditableSave,
                //rowStyle: tableRowStyle,
                queryParams : {
                    "dataId": $("#dataId").val()
                },
                columns: [{
                    checkbox: true,
                    value:1,
                    formatter: function(value, row, index) {
                        return {
                            checked: true
                        }
                    }
                },
                    {field : 'rowId',title : '序号',visible: true,formatter:function(value,row,index){row.rowId = index;return index+1;}},

                    {field : 'childId',title : 'childId',visible: false},
                   /* {field : 'string3',title : '报检单号',editable: false},
                    {field : 'string4',title : '销售合同号'},
                    {field : 'string5',title : '采购合同号',editable: false},*/
                    {field : 'string2',title : '类型',formatter: function(value, row, index) {
                            var actions = [];
                            if (value == 1) {
                                actions.push('产品');
                            } else if (value == 2) {
                                actions.push('执行器');
                            } else if (value == 3) {
                                actions.push('法兰');
                            } else if (value == 4) {
                                actions.push('螺栓');
                            } else if (value == 5) {
                                actions.push('气动辅件');
                            } else if (value == 6) {
                                actions.push('电磁阀');
                            } else if (value == 7) {
                                actions.push('回信器数');
                            } else if (value == 8) {
                                actions.push('气源三连件');
                            } else if (value == 9) {
                                actions.push('可离合减速器');
                            }
                            return actions.join('');
                        }},
                    {field : 'string6',title : '名称',editable: false},
                    {field : 'string7',title : '型号',editable: false},
                    {field : 'string8',title : '规格',editable: false},
                  /*  {field : 'string9',title : '等级',editable: false},
                    {field : 'string10',title : '价格',editable: false},
                    {field : 'string11',title : '数量',editable: false},*/
                    {field : 'string13',title : '发货数量',editable: false},
                    {field : 'createTime',title : '时间',editable: false}
                    ]
            };
            $.table.init(options);

        });

        function numberValidate(value) {
            if (isNaN(value)) {
                return "必须是数字！";
            }
        }
        function submitHandler() {
            if ($.validate.form()) {
                var dataObj = $('#form-data-edit').serializeArray();
                // var data = $.btTable.selectColumns('getData');
                var data = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
                /*if (data.length == 0) {
                    $.modal.alertWarning("请至少选择一条记录");
                    return;
                }*/
                console.log("data=" + data);


                let string12 = $("#string12").val();
                let string14 = $("#string14").val();
                dataObj.push({"name": "string12", "value": string12});
                dataObj.push({"name": "string14", "value": string14});
                // console.log("productArray=" + JSON.stringify(productArray));
                dataObj.push({"name": "productParmters", "value": data});
                $.operate.save(ctx + "fmis/data/saveInventoryFH", dataObj);
            }
        }
        $("input[name='datetime1']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });


    </script>
</body>
</html>