<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('固定资产列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>设备名称：</p>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <p>设备编号：</p>
                                <input type="text" name="bh"/>
                            </li>
                            <li>
                                <p>类别：</p>
                                <select name="type" th:with="type=${@dict.getType('assets_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>规格型号：</p>
                                <input type="text" name="specifications"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="fmis:assets:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="fmis:assets:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="fmis:assets:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('fmis:assets:edit')}]];
        var removeFlag = [[${@permission.hasPermi('fmis:assets:remove')}]];
        var typeDatas = [[${@dict.getType('assets_type')}]];
        var addTypeDatas = [[${@dict.getType('assets_add_type')}]];
        var depreciationMethodDatas = [[${@dict.getType('depreciation_method')}]];
        var prefix = ctx + "fmis/assets";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "固定资产",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'assetsId', 
                    title : 'ID',
                    visible: false
                },
                {
                    field : 'name', 
                    title : '设备名称'
                },
                {
                    field : 'bh', 
                    title : '设备编号'
                },
                {
                    field : 'type', 
                    title : '类别',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(typeDatas, value);
                    }
                },
                {
                    field : 'specifications', 
                    title : '规格型号'
                },
                {
                    field : 'num', 
                    title : '设备数量'
                },
                {
                    field : 'deptName',
                    title : '部门'
                },
                {
                    field : 'userName', 
                    title : '领用人'
                },
                {
                    field : 'addType', 
                    title : '增加方式',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(addTypeDatas, value);
                    }
                },
                {
                    field : 'location', 
                    title : '存放地点'
                },
                {
                    field : 'equipmentState', 
                    title : '设备状态'
                },
                {
                    field : 'manufacturer', 
                    title : '生产厂家'
                },
                {
                    field : 'purchasingTime', 
                    title : '采购时间'
                },
                {
                    field : 'price', 
                    title : '采购金额'
                },
                {
                    field : 'useYear', 
                    title : '使用年限'
                },
                {
                    field : 'depreciationMethod', 
                    title : '折旧方法',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(depreciationMethodDatas, value);
                    }
                },
                {
                    field : 'startTime', 
                    title : '开始使用日期'
                },
                {
                    field : 'accruedMonth', 
                    title : '已计提月份'
                },
                {
                    field : 'outputRate', 
                    title : '净残值率'
                },
                {
                    field : 'salvageValue', 
                    title : '净残值'
                },
                {
                    field : 'accumulatedDepreciation', 
                    title : '累计折旧'
                },
                {
                    field : 'monthRate', 
                    title : '月折旧率'
                },
                {
                    field : 'monthDepreciation', 
                    title : '月折旧额'
                },
                {
                    field : 'netWorth', 
                    title : '净值'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.assetsId + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.assetsId + '\')"><i class="fa fa-remove"></i> 删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>