<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('选项卡 & 面板')" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeIn">

        <div class="row">
            <div class="col-sm-6">
                <div class="tabs-container">
                    <ul class="nav nav-tabs full-width">
                        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 产品</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">执行器</a>
                        </li>

                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">法兰</a>
                        </li>

                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">螺栓</a>
                        </li>

                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">定位器1</a>
                        </li>

                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">定位器2</a>
                        </li>

                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">定位器3</a>
                        </li>

                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">定位器4</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <table id="bootstrap-table1" data-use-row-attr-func="true"
                                   data-reorderable-rows="true"></table>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <table id="bootstrap-table2" data-use-row-attr-func="true"
                                   data-reorderable-rows="true"></table>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <table id="bootstrap-table3" data-use-row-attr-func="true"
                                   data-reorderable-rows="true"></table>
                        </div>
                        <div id="tab-4" class="tab-pane">
                            <table id="bootstrap-table4" data-use-row-attr-func="true"
                                   data-reorderable-rows="true"></table>
                        </div>
                        <div id="tab-5" class="tab-pane">
                            <table id="bootstrap-table5" data-use-row-attr-func="true"
                                   data-reorderable-rows="true"></table>
                        </div>
                        <div id="tab-6" class="tab-pane">
                            <table id="bootstrap-table6" data-use-row-attr-func="true"
                                   data-reorderable-rows="true"></table>
                        </div>
                        <div id="tab-7" class="tab-pane">
                            <table id="bootstrap-table7" data-use-row-attr-func="true"
                                   data-reorderable-rows="true"></table>
                        </div>
                        <div id="tab-8" class="tab-pane">
                            <table id="bootstrap-table8" data-use-row-attr-func="true"
                                   data-reorderable-rows="true"></table>
                        </div>
                    </div>


                </div>
            </div>

    </div>
    <th:block th:include="include :: footer" />
</body>
</html>
