<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增合同')" />
    <th:block th:include="include :: datetimepicker-css" />
    <style>

    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-data-add">
        <input type="hidden" name="bizId" value="contract"/>

        <div class="form-group">
            <label class="col-sm-1 control-label">合同编号：</label>
            <div class="col-sm-2" >
                <input name="string1" class="form-control" type="text">
            </div>

            <label class="col-sm-1 control-label">客户：</label>
            <div class="col-sm-2">
                <input name="string2" id="string2" class="form-control" type="hidden">
                <input name="customerName" id="customerName" class="form-control" type="text" readonly onclick="selectCustomer()" required>
            </div>

            <label class="col-sm-1 control-label">签订日期：</label>
            <div class="col-sm-2">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="datetime1" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>

            <label class="col-sm-1 control-label">供方：</label>
            <div class="col-sm-2">
                <select name="string3" id="string3" class="form-control m-b" th:with="type=${@dict.getType('supplier_type')}">
                    <option value="0">请选择</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
                <!--
                <input name="suppliersName" id="suppliersName" class="form-control" type="text" readonly onclick="selectSuppliers()" required>-->
            </div>

        </div>

        <div class="form-group" >
            <label class="col-sm-1 control-label">签订地点：</label>
            <div class="col-sm-2">
                <input name="string4" class="form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">含发票：</label>
            <div class="col-sm-2">
                <input name="string5" class="form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">发货时间：</label>
            <div class="col-sm-2">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="string6" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>

            <label class="col-sm-1 control-label">运输方式：</label>
            <div class="col-sm-2">
                <select name="string7" id="string7" class="form-control m-b" th:with="type=${@dict.getType('transport_type')}">
                    <option value="0">请选择</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>

            </div>
        </div>

        <div class="form-group">

            <label class="col-sm-1 control-label">收货电话：</label>
            <div class="col-sm-2">
                <input name="string12" class="form-control" type="text">
            </div>

            <label class="col-sm-1 control-label">交货地点：</label>
            <div class="col-sm-2">
                <input name="string9" class="form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">运费承担：</label>
            <div class="col-sm-2">
                <input name="string10" class="form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">收货人：</label>
            <div class="col-sm-2">
                <input name="string11" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">

            <label class="col-sm-1 control-label">付款方式：</label>
            <div class="col-sm-2">
                <select name="string18" id="string18" class="form-control m-b" th:with="type=${@dict.getType('payment_type')}">
                    <option value="0">请选择</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>

            <div id="divString8" style="display: none">
                <label class="col-sm-1 control-label">预付：</label>
                <div class="col-sm-2">
                    <select name="string8" id="string8" class="form-control m-b" th:with="type=${@dict.getType('payment_method')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div id="divString15" class="form-inline"  style="display: none">
                <label class="col-sm-1 control-label">账期：</label>
                <div class="col-sm-2">
                    <select name="string15" id="string15" class="form-control m-b" th:with="type=${@dict.getType('payment_days')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
                <input name="string17" id="string17" onkeyup="AmountKeyUp(this)" class="form-control" style="width: 45px">天
            </div>
            <div id="divString16" style="display: none">
                <!--
                <label class="col-sm-1 control-label">协议付款：</label> -->
                <div class="col-sm-8 form-inline">

                    预付<input name="price5" id="price5" onkeyup="AmountKeyUp(this)" class="form-control" style="width: 45px">%，
                    发货前付款 <input name="price6" id="price6" onkeyup="AmountKeyUp(this)" class="form-control" style="width: 45px">%，
                    货到<input name="price7" id="price7" onkeyup="AmountKeyUp(this)" class="form-control" style="width: 45px">天付
                    <input name="price8" id="price8" onkeyup="AmountKeyUp(this)" class="form-control" style="width: 45px">%，
                    安装调试<input name="price9" id="price9" onkeyup="AmountKeyUp(this)" class="form-control" style="width: 45px">天
                    付<input name="price10" id="price10" onkeyup="AmountKeyUp(this)" class="form-control" style="width: 45px">%，质保金
                    <input name="price11" id="price11" onkeyup="AmountKeyUp(this)" class="form-control" style="width: 45px">%

                    <!--
                    <select name="string16" id="string16" class="form-control m-b" th:with="type=${@dict.getType('payment_agreement')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select> -->
                </div>
            </div>


        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label">产品标识：</label>
            <div class="col-sm-2">
                <select name="string19" id="string19" class="form-control m-b" th:with="type=${@dict.getType('product_logo')}">
                    <option value="0">请选择</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
            <label class="col-sm-1 control-label">送货方式：</label>
            <div class="col-sm-2">
                <select name="string21" id="string21" class="form-control m-b" th:with="type=${@dict.getType('shipping_method')}">
                    <option value="0">请选择</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
            <label class="col-sm-1 control-label">特殊费用：</label>
            <div class="col-sm-2">
                <input name="string14" id="string14"  onblur="calculateTotalPrice()" onkeyup="AmountKeyUp(this)" class="form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">总价：</label>
            <div class="col-sm-2">
                <input name="price1" id="price1" class="form-control" type="text" readonly>
            </div>
        </div>
        <!--
                <div class="form-group">
                    <label class="col-sm-1 control-label">报价产品：</label>
                    <div class="col-sm-6">
                        <input name="quotationIds" id="quotationIds" class="form-control" type="hidden" >
                        <input name="quotationNames" id="quotationNames" class="form-control" type="text" readonly onclick="selectQuotation(0)" required>
                    </div>

                    <div class="col-sm-3">
                        <a class="btn btn-success btn-sm" onclick="selectQuotation(1)" >
                            <i class="fa fa"></i> 追加

                        </a>
                    </div>
                </div>


                <div class="hr-line-dashed"></div>
                <div class="form-horizontal" id="productDiv1">

                </div>
                <div class="hr-line-dashed"></div>

        -->
        <input type="hidden" id="productOperationType" name="productOperationType" value="0">
        <!-- 选择产品传参 -->
        <input type="hidden" name="productsJsonParamter" id="productsJsonParamter" value=""/>
        <!-- 选择法兰传参 -->
        <input type="hidden" id="ref1JsonParamter" value=""/>
        <!-- 选择螺栓传参 -->
        <input type="hidden" id="ref2JsonParamter" value=""/>
        <!-- 选择执行器传参 -->
        <input type="hidden" id="actuatorJsonParamter" value=""/>
        <input type="hidden" id="pattachmentJsonParamter" value=""/>
    </form>

    <div class="form-horizontal m form-group">
        <div class='col-sm-3 form-inline'>
            <a class="btn btn-success btn-sm" onclick="insertRowQ()">
                <i class="fa fa-plus"></i> 报价单新增
            </a>
            <a class="btn btn-success btn-sm" onclick="insertRowP()">
                <i class="fa fa-plus"></i> 产品新增
            </a>
        </div>

    </div>

    <div class="form-horizontal" id="productDiv">
        <div class="row">
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-use-row-attr-func="true"
                       data-reorderable-rows="true"></table>
            </div>
        </div>
    </div>

</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<th:block th:include="include :: bootstrap-editable-css" />
<th:block th:include="include :: bootstrap-table-reorder-js" />
<th:block th:include="include :: bootstrap-table-editable-js" />
<script type="text/javascript">
    var prefix = ctx + "fmis/data"
    $("#form-data-add").validate({
        focusCleanup: true
    });

    $("#string18").change(function (){
        var payType = $("#string18").val();
        $("#divString8").css({'display': 'none'});
        $("#divString15").css({'display': 'none'});
        $("#divString16").css({'display': 'none'});
        if (payType == 1 || payType == "1") {
            $("#divString8").css({'display': 'block'});
        } else if (payType == 2 || payType == "2") {
            $("#divString15").css({'display': 'block'});
        } else if (payType == 3 || payType == "3") {
            $("#divString16").css({'display': 'block'});
        }
    });


    function submitHandler() {
        var vali = $.validate.form();
        console.log("vali=" + vali);
        if (vali) {
            var dataObj = $('#form-data-add').serializeArray();
            //计算是否正常
            //特殊费用
            //var productIds = $("#quotationIds").val();
            var productArray = new Array();
            //var productIdsStrs = productIds.split(",");

            var data = $.btTable.bootstrapTable('getData');

            for (var i = 0; i < data.length; i++) {
                var rowData = data[i];
                var productObj = new Object();
                //var productId = productIdsStrs[i];
                productObj["string1"] = rowData["quotationId"];
                productObj["string2"] = rowData["productId"];

                productObj["string3"] = rowData["productNum"];
                productObj["price1"] = rowData["productPrice"];
                productObj["string4"] = rowData["productCoefficient"];


                //法兰
                productObj["string5"] = rowData["productRef1Id"];
                productObj["string6"] = rowData["productRef1Num"];
                productObj["price2"] = rowData["ref1Price"];
                productObj["string7"] = rowData["productRef1Coefficient"];
                //螺栓
                productObj["string8"] = rowData["productRef2Id"];
                productObj["string9"] = rowData["productRef2Num"];
                productObj["price3"] = rowData["ref2Price"];
                productObj["string10"] = rowData["productRef2Coefficient"];
                //执行器
                productObj["string11"] = rowData["actuatorId"];
                productObj["string12"] = rowData["actuatorNum"];
                productObj["price4"] = rowData["actuatorPrice"];
                productObj["string13"] = rowData["actuatorCoefficient"];



                productObj["pattachmentId"] = rowData["pattachmentId"];
                productObj["pattachmentPrice"] = rowData["pattachmentPrice"];
                productObj["pattachmentCount"] = rowData["pattachmentCount"];
                productObj["pattachmentCoefficient"] = rowData["pattachmentCoefficient"];

                productObj["pattachment1Id"] = rowData["pattachment1Id"];
                productObj["pattachment1Price"] = rowData["pattachment1Price"];
                productObj["pattachment1Count"] = rowData["pattachment1Count"];
                productObj["pattachment1Coefficient"] = rowData["pattachment1Coefficient"];

                productObj["pattachment2Id"] = rowData["pattachment2Id"];


                productObj["pattachment2Price"] = rowData["pattachment2Price"];
                productObj["pattachment2Count"] = rowData["pattachment2Count"];
                productObj["pattachment2Coefficient"] = rowData["pattachment2Coefficient"];

                productObj["pattachment3Id"] = rowData["pattachment3Id"];
                productObj["pattachment3Price"] = rowData["pattachment3Price"];
                productObj["pattachment3Count"] = rowData["pattachment3Count"];
                productObj["pattachment3Coefficient"] = rowData["pattachmentCoefficient"];

                productObj["pattachment4Id"] = rowData["pattachment4Id"];
                productObj["pattachment4Price"] = rowData["pattachment4Price"];
                productObj["pattachment4Count"] = rowData["pattachment4Count"];
                productObj["pattachment4Coefficient"] = rowData["pattachment4Coefficient"];

                productObj["string14"] = rowData["string14"];
                productObj["string15"] = rowData["string15"];

                //productObj["remark"] = $("#productRemark_" + productId).val();
                productArray.push(productObj);
            }
            dataObj.push({"name": "productParmters", "value": JSON.stringify(productArray)});
            $.operate.save(prefix + "/add", dataObj);
        }
    }

    function selectProduct(type) {
        var url = prefix + "/selectProduct";
        $("#productOperationType").val(type);
        var widthNum = this.innerWidth - 50;
        var heigthNum = this.innerHeight - 50;

        $.modal.open("关联产品", url,widthNum, heigthNum);
    }

    function selectQuotation(type) {
        var url = prefix + "/selectQuotation";
        $("#productOperationType").val(type);
        var widthNum = this.innerWidth - 50;
        var heigthNum = this.innerHeight - 50;

        $.modal.open("选择报价单", url,widthNum, heigthNum,function (index, layero){
            var iframeWin = layero.find('iframe')[0];
            iframeWin.contentWindow.submitHandler(index, layero);
            totalSumPrice();
        });
    }

    function selectCustomer() {
        var widthNum = this.innerWidth - 50;
        var heigthNum = this.innerHeight - 50;
        var url = prefix + "/selectCustomer";
        $.modal.open("关联客户", url,widthNum, heigthNum);
    }

    //suppliersName
    function selectSuppliers() {
        var widthNum = this.innerWidth - 50;
        var heigthNum = this.innerHeight - 50;
        var url = prefix + "/selectSuppliers";
        $.modal.open("关联供应商", url,widthNum, heigthNum);
    }

    $("input[name='datetime1']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='string6']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    function removeProject (productId) {
        $.modal.confirm("确定要删除该数据吗？", function() {
            console.log("removeId=" + productId);
            $("#productDiv_" + productId).remove();

            var productIds = $("#quotationIds").val();
            var productNames = $("#quotationNames").val();
            var productIdsS = productIds.split(",");
            var productNamesS = productNames.split(",");
            for (var i = 0; i < productIdsS.length; i++) {
                if (productId == productIdsS[i]) {
                    var productName = productNamesS[i];
                    productNamesS.splice(i,1);
                    productIdsS.splice(i,1);
                } else {
                    calculateTotalPrice();
                }
            }
        });
    }
    function isEmpty(v) {
        return $.common.isEmpty(v);
    }
    /**
     * 计算总额
     */
    function sumPrice (productId) {
        getProductSum(productId);
        totalSumPrice();
    }

    function FloatAdd(arg1,arg2){
        var r1,r2,m;
        console.log("arg1=" + arg1 + ",arg2=" + arg2);
        try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0}
        try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0}
        m=Math.pow(10,Math.max(r1,r2));
        return (arg1*m+arg2*m)/m;
    }

    $(function() {
        var options = {
            showSearch: false,
            showRefresh: false,
            pagination: false,
            showColumns: false,
            showToggle: false,
            useRowAttrFunc: true,
            uniqueId: "productId",
            onEditableSave: onEditableSave,
            onClickCell: onClickCell,
            onReorderRow: onReorderRow,
            rowStyle: tableRowStyle,
            columns: [{
                checkbox: true
            },
                {field : 'rowId',title : '序号',visible: true,formatter:function(value,row,index){row.rowId = index;return index+1;}},

                {field : 'quotationId',title : 'quotationId',visible: false},
                {field : 'quotationName',title : '报价单号',editable: false},
                {field : 'productId',title : '产品ID',visible: false},
                {field : 'productName',title : '产品名称',editable: false},
                {field : 'model',title : '型号',editable: false},
                {field : 'specifications',title : '规格',editable: false},
                {field : 'nominalPressure',title : '压力',editable: false},
                {field : 'valvebodyMaterial',title : '阀体',editable: false},
                {field : 'valveElement',title : '阀芯',editable: false},
                {field : 'sealingMaterial',title : '密封材质',editable: false},
                {field : 'driveForm',title : '驱动形式',editable: false},
                {field : 'connectionType',title : '连接方式',editable: false},
                {field : 'productNum',title : '数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'productPrice',title : '单价',editable: false},
                {field : 'productCoefficient',title : '系数',editable: false},
                {field : 'totalPrice',title : '总价',editable: false},
                {field : 'string14',title : '优惠',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},



                {field : 'actuatorId',title : 'actuatorId',visible: false},
                {field : 'actuatorName',title : '执行器名称',editable: false},
                {field : 'actuatorPrice',title : '执行器价格',editable: false},
                {field : 'actuatorNum',title : '执行器数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'actuatorCoefficient',title : '执行器系数',editable: false},

                {field : 'productRef1Id',title : 'ref1Id',visible: false},
                {field : 'ref1Name',title : '法兰名称',editable: false},

                {field : 'ref1Price',title : '法兰价格',editable: false},
                {field : 'productRef1Num',title : '法兰数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'productRef1Coefficient',title : '法兰系数',editable: false},

                {field : 'productRef2Id',title : 'ref2Id',visible: false},
                {field : 'ref2Name',title : '螺栓名称',editable: {type: 'text',emptytext: '空',disabled: true}},
                {field : 'ref2Price',title : '螺栓价格',editable: false},
                {field : 'productRef2Num',title : '螺栓数量',editable: {type: 'text',emptytext: '0',validate: function(v){ return numberValidate(v)}}},
                {field : 'productRef2Coefficient',title : '螺栓系数',editable: false},

                //定位器，电磁阀，回信器数，气源三连件，可离合减速器
                {field : 'pattachmentId',title : 'pattachmentId',visible: false},
                {field : 'pattachmentName',title : '定位器',editable: true},
                {field : 'pattachmentPrice',title : '定位器价格',editable: false},
                {field : 'pattachmentCount',title : '定位器数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'pattachmentCoefficient',title : '定位器系数',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},

                {field : 'pattachment1Id',title : 'pattachment1Id',visible: false},
                {field : 'pattachment1Name',title : '电磁阀',editable: true},
                {field : 'pattachment1Price',title : '电磁阀价格',editable: false},
                {field : 'pattachment1Count',title : '电磁阀数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'pattachment1Coefficient',title : '电磁阀系数',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},

                {field : 'pattachment2Id',title : 'pattachment2Id',visible: false},
                {field : 'pattachment2Name',title : '回信器数',editable: true},
                {field : 'pattachment2Price',title : '回信器数价格',editable: false},
                {field : 'pattachment2Count',title : '回信器数数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'pattachment2Coefficient',title : '回信器数系数',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},

                {field : 'pattachment3Id',title : 'pattachment3Id',visible: false},
                {field : 'pattachment3Name',title : '气源三连件',editable: true},
                {field : 'pattachment3Price',title : '气源三连件价格',editable: false},
                {field : 'pattachment3Count',title : '气源三连件数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'pattachment3Coefficient',title : '气源三连件系数',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},

                {field : 'pattachment4Id',title : 'pattachment4Id',visible: false},
                {field : 'pattachment4Name',title : '可离合减速器',editable: true},
                {field : 'pattachment4Price',title : '可离合减速器价格',editable: false},
                {field : 'pattachment4Count',title : '可离合减速器数量',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'pattachment4Coefficient',title : '可离合减速器系数',editable: {type: 'text',validate: function(v){ return numberValidate(v)}}},
                {field : 'string15',title : '颜色',editable: {type: 'text',emptytext: 'RAL5010高光'}},
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        var productId = row["productId"]
                        actions.push('<a class="btn btn-danger btn-xs" href="#" onclick="removeProduct(' + productId + ')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);

    });




    function numberValidate(value) {
        if (isNaN(value)) {
            return "必须是数字！";
        }
    }
    function removeProduct(uid) {
        $.btTable.bootstrapTable('removeByUniqueId', uid);
        calculateTotalPrice();
    }
    function onEditableSave (field, row, oldValue, $el) {
        //alert("字段名：" + field + "，当前值：" + row[field]  + "，旧值：" + oldValue);
        if (field == "productNum"  || field == "productRef1Num"
            || field == "productRef2Num" || field == "actuatorNum" || field == "pattachmentPrice" || field == "pattachment1Price" || field == "pattachment2Price" || field == "pattachment3Price" || field == "pattachment4Price"
            || field == "pattachmentCount" || field == "pattachment1Count" || field == "pattachment2Count" || field == "pattachment3Count" || field == "pattachment4Count"
            || field == "pattachmentCoefficient" || field == "pattachment1Coefficient" || field == "pattachment2Coefficient" || field == "pattachment3Coefficient"
            || field == "pattachment4Coefficient" || field == "string14") {
            calculateTotalPrice();
        }
    }
    function onReorderRow(data) {
        for (var i = 0; i < data.length; i++) {
            //$("#columns_sort_" + data[i].columnId).val(i+1);
        }
    }

    function onClickCell(field, value, row, $element) {
        var idx = $element.parent().data('index');
        console.log("row.index=" + idx + "--" + row.productId);
        var productId = row.productId;
        if (field == "pattachmentName" || field == "pattachment1Name" || field == "pattachment2Name"
            || field == "pattachment3Name" || field == "pattachment4Name") {
            var widthNum = $("#form-data-add").width() - 50;
            var heigthNum = $("#form-data-add").height() + 250;

            var busName = "定位器";
            var busType = "1";
            if (field == "pattachment1Name") {
                busName = "电磁阀";
                busType = "2";
            } else if (field == "pattachment2Name") {
                busName = "回信器数";
                busType = "3";
            } else if (field == "pattachment3Name") {
                busName = "气源三连件";
                busType = "4";
            } else if (field == "pattachment4Name") {
                busName = "可离合减速器";
                busType = "5";
            }
            var url = prefix + "/selectPattachment?productId=" + productId + "&type=" + busType;
            $.modal.open("关联" + busName, url, widthNum, heigthNum, function (index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.submitHandler(index, layero);
                var pattachmentJsonParamter = $("#pattachmentJsonParamter").val();
                setTableValueById(pattachmentJsonParamter, productId, idx);
            });
        }
    }

        function setTableValueById(jsonValue, id, idx) {
            var jsonObj = JSON.parse(jsonValue);
            for (key in jsonObj) {
                var updateObj = {
                    index: idx,
                    field: key,
                    value: jsonObj[key]
                };
                $.btTable.bootstrapTable("updateCell", updateObj);
            }
        }

        function insertRow() {

            var customerId = $("#string2").val();
            if ($.common.isEmpty(customerId)) {
                $.modal.alertWarning("请选择客户！");
                return;
            }


            var url = prefix + "/selectQuotation?customerId=" + customerId;
            var widthNum = this.innerWidth - 50;
            var heigthNum = this.innerHeight - 50;

            $.modal.open("选择报价单", url, widthNum, heigthNum, function (index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.submitHandler(index, layero);
                appendTable();
            });
        }

        function insertRowP() {

            var customerId = $("#string2").val();
            if ($.common.isEmpty(customerId)) {
                $.modal.alertWarning("请选择客户！");
                return;
            }
            var url = prefix + "/selectNewProduct?customerId=" + customerId;
            var widthNum = this.innerWidth - 50;
            var heigthNum = this.innerHeight - 50;

            $.modal.open("选择产品", url, widthNum, heigthNum, function (index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.submitHandler(index, layero);
                appendTable();
            });
        }

        function insertRowQ() {

            var customerId = $("#string2").val();
            if ($.common.isEmpty(customerId)) {
                $.modal.alertWarning("请选择客户！");
                return;
            }
            var url = prefix + "/selectNewQuotation?customerId=" + customerId;
            var widthNum = this.innerWidth - 50;
            var heigthNum = this.innerHeight - 50;

            $.modal.open("选择报价单", url, widthNum, heigthNum, function (index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.submitHandler(index, layero);
                appendTable();
            });
        }

        function appendTable() {
            var productsJsonParamter = $("#productsJsonParamter").val();
            console.log("productsJsonParamter=" + productsJsonParamter.length);
            var productsJsonArray = JSON.parse(productsJsonParamter);
            var tableData = $.btTable.bootstrapTable('getData');
            var tableMap = new Map();
            if (tableData != null) {
                for (var i = 0; i < tableData.length; i++) {
                    var rowData = tableData[i];
                    tableMap.set(rowData["productId"], rowData["productId"]);
                }
            }
            for (var i = 0; i < productsJsonArray.length; i++) {
                var productJson = productsJsonArray[i];
                //console.log("productJson=" + JSON.stringify(productJson))
                if (!tableMap.has(productJson["productId"])) {
                    $.btTable.bootstrapTable('append', productJson);
                }
            }
            calculateTotalPrice();
        }

        function calculateTotalPrice() {
            var data = $.btTable.bootstrapTable('getData');
            var productTotalPrice = 0;
            for (var i = 0; i < data.length; i++) {
                var rowData = data[i];
                var price = calculatePrice(rowData);
                productTotalPrice = FloatAdd(productTotalPrice, price).toFixed(0);
            }
            var specialExpenses = $("#string14").val();
            if (isEmpty(specialExpenses)) {
                specialExpenses = 0;
            }
            $("#productTotalPrice").val(parseFloat(productTotalPrice).toFixed(0));
            var totalPrice = parseFloat(productTotalPrice) + parseFloat(specialExpenses);
            $("#price1").val(parseFloat(totalPrice).toFixed(0));
        }

        function calculatePrice(row) {
            var productNum = row["productNum"];
            productNum = isEmpty(productNum) == true ? 0 : parseFloat(productNum);

            var productCoefficient = row["productCoefficient"];
            productCoefficient = isEmpty(productCoefficient) == true ? 0 : parseFloat(productCoefficient);

            var productPrice = row["productPrice"];
            productPrice = isEmpty(productPrice) == true ? 0 : parseFloat(productPrice);

            //法兰
            var productRef1Num = row["productRef1Num"];
            productRef1Num = isEmpty(productRef1Num) == true ? 0 : parseFloat(productRef1Num);
            var productRef1Coefficient = row["productRef1Coefficient"];
            productRef1Coefficient = isEmpty(productRef1Coefficient) == true ? 0 : parseFloat(productRef1Coefficient);
            var productRef1Price = row["ref1Price"];
            productRef1Price = isEmpty(productRef1Price) == true ? 0 : parseFloat(productRef1Price);

            //螺栓
            var productRef2Num = row["productRef2Num"];
            productRef2Num = isEmpty(productRef2Num) == true ? 0 : productRef2Num;
            var productRef2Coefficient = row["productRef2Coefficient"];
            productRef2Coefficient = isEmpty(productRef2Coefficient) == true ? 0 : parseFloat(productRef2Coefficient);
            var productRef2Price = row["ref2Price"];
            productRef2Price = isEmpty(productRef2Price) == true ? 0 : parseFloat(productRef2Price);
            //执行器
            var actuatorNum = row["actuatorNum"];
            actuatorNum = isEmpty(actuatorNum) == true ? 0 : actuatorNum;
            var actuatorCoefficient = row["actuatorCoefficient"];
            actuatorCoefficient = isEmpty(actuatorCoefficient) == true ? 0 : parseFloat(actuatorCoefficient);
            var actuatorPrice = row["actuatorPrice"];
            actuatorPrice = isEmpty(actuatorPrice) == true ? 0 : parseFloat(actuatorPrice);


            //附件
            var pattachmentCount = row["pattachmentCount"];
            pattachmentCount = isEmpty(pattachmentCount) == true ? 0 : pattachmentCount;
            var pattachmentCoefficient = row["pattachmentCoefficient"];
            pattachmentCoefficient = isEmpty(pattachmentCoefficient) == true ? 0 : parseFloat(pattachmentCoefficient);
            var pattachmentPrice = row["pattachmentPrice"];
            pattachmentPrice = isEmpty(pattachmentPrice) == true ? 0 : parseFloat(pattachmentPrice);
            var pattachmentSum = parseFloat(pattachmentCount * pattachmentPrice * pattachmentCoefficient).toFixed(4);

            //附件1
            var pattachment1Count = row["pattachment1Count"];
            pattachment1Count = isEmpty(pattachment1Count) == true ? 0 : pattachment1Count;
            var pattachment1Coefficient = row["pattachment1Coefficient"];
            pattachment1Coefficient = isEmpty(pattachment1Coefficient) == true ? 0 : parseFloat(pattachment1Coefficient);
            var pattachment1Price = row["pattachment1Price"];
            pattachment1Price = isEmpty(pattachment1Price) == true ? 0 : parseFloat(pattachment1Price);
            var pattachment1Sum = parseFloat(pattachment1Count * pattachment1Price * pattachment1Coefficient).toFixed(4);

            //附件2
            var pattachment2Count = row["pattachment2Count"];
            pattachment2Count = isEmpty(pattachment2Count) == true ? 0 : pattachment2Count;
            var pattachment2Coefficient = row["pattachment2Coefficient"];
            pattachment2Coefficient = isEmpty(pattachment2Coefficient) == true ? 0 : parseFloat(pattachment2Coefficient);
            var pattachment2Price = row["pattachment2Price"];
            pattachment2Price = isEmpty(pattachment2Price) == true ? 0 : parseFloat(pattachment2Price);
            var pattachment2Sum = parseFloat(pattachment2Count * pattachment2Price * pattachment2Coefficient).toFixed(4);

            //附件3
            var pattachment3Count = row["pattachment3Count"];
            pattachment3Count = isEmpty(pattachment3Count) == true ? 0 : pattachment3Count;
            var pattachment3Coefficient = row["pattachment3Coefficient"];
            pattachment3Coefficient = isEmpty(pattachment3Coefficient) == true ? 0 : parseFloat(pattachment3Coefficient);
            var pattachment3Price = row["pattachment3Price"];
            pattachment3Price = isEmpty(pattachment3Price) == true ? 0 : parseFloat(pattachment3Price);
            var pattachment3Sum = parseFloat(pattachment3Count * pattachment3Price * pattachment3Coefficient).toFixed(4);

            //附件4
            var pattachment4Count = row["pattachment4Count"];
            pattachment4Count = isEmpty(pattachment4Count) == true ? 0 : pattachment4Count;
            var pattachment4Coefficient = row["pattachment4Coefficient"];
            pattachment4Coefficient = isEmpty(pattachment4Coefficient) == true ? 0 : parseFloat(pattachment4Coefficient);
            var pattachment4Price = row["pattachment4Price"];
            pattachment4Price = isEmpty(pattachment4Price) == true ? 0 : parseFloat(pattachment4Price);
            var pattachment4Sum = parseFloat(pattachment4Count * pattachment4Price * pattachment4Coefficient).toFixed(4);

            var productSum = parseFloat(productNum * productPrice * productCoefficient).toFixed(4);
            var productRef1Sum = parseFloat(productRef1Num * productRef1Price * productRef1Coefficient).toFixed(4);
            var productRef2Sum = parseFloat(productRef2Num * productRef2Price * productRef2Coefficient).toFixed(4);
            var actuatorSum = parseFloat(actuatorNum * actuatorCoefficient * actuatorPrice).toFixed(4);

            var string14 = row["string14"];

            var totalSum = parseFloat(parseFloat(productSum) + parseFloat(productRef1Sum) + parseFloat(productRef2Sum) + parseFloat(actuatorSum)
                + parseFloat(pattachmentSum) + parseFloat(pattachment1Sum) + parseFloat(pattachment2Sum) + parseFloat(pattachment3Sum) + parseFloat(pattachment4Sum)
                - parseFloat(string14)).toFixed(0);

            var costProce = parseFloat(productNum * productPrice).toFixed(4) +
                parseFloat(productRef1Num * productRef1Price).toFixed(4) +
                parseFloat(productRef2Num * productRef2Price).toFixed(4) +
                parseFloat(actuatorNum * actuatorPrice).toFixed(4) +
                parseFloat(pattachmentCount * pattachmentPrice).toFixed(4) +
                parseFloat(pattachment1Count * pattachment1Price).toFixed(4) +
                parseFloat(pattachment2Count * pattachment2Price).toFixed(4) +
                parseFloat(pattachment3Count * pattachment2Price).toFixed(4) +
                parseFloat(pattachment4Count * pattachment2Price).toFixed(4);
            costProce = parseFloat(costProce).toFixed(0);

            console.log("totalSum=" + totalSum + " costProce=" + costProce);

            //判断低于销售底价
            if (totalSum < costProce) {
                row.error = "1";
            } else {
                row.error = "";
            }

            var updateObj = {
                index: row.rowId,
                field: "totalPrice",
                value: totalSum
            };
            $.btTable.bootstrapTable("updateCell", updateObj);
            //$("#totalSum_" + productId).val(totalSum);
            return totalSum;
        }
        // 设置 BootStrap Table 行样式
        function tableRowStyle(row, index) {
            if (!isEmpty(row.error)){
                //style={css:{'color':'#ed5565'}};
                return {classes:'danger'};
            }
            return {css:{}};
        }

</script>
</body>
</html>