<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增付款申请')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-data-add">
            <input type="hidden" name="bizId" value="cpayment"/>

            <div class="form-group">
                <label class="col-sm-3 control-label">日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="datetime1" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">收款单位：</label>
                <div class="col-sm-8">
                    <input name="string1" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户名称：</label>
                <div class="col-sm-8">
                    <input name="customerName" id="customerName" class="form-control" type="text" readonly onclick="selectCustomer()" required>
                    <input name="string2" id="string2" class="form-control" type="hidden">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">选择合同：</label>
                <div class="col-sm-6">
                    <input name="contractIds" id="contractIds" class="form-control" type="hidden" >
                    <input name="contractNames" id="contractNames" class="form-control" type="text" readonly onclick="selectContract(0)" required>
                </div>

                <div class="col-sm-3">
                    <a class="btn btn-success btn-sm" onclick="selectContract(1)" >
                        <i class="fa fa"></i> 追加
                        <input type="hidden" id="productOperationType" name="productOperationType" value="0">
                    </a>
                </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-horizontal" id="productDiv">



            </div>
            <div class="hr-line-dashed"></div>


            <div class="form-group">
                <label class="col-sm-3 control-label">总计：</label>
                <div class="col-sm-8">
                    <input name="price1" id="price1" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">付款金额：</label>
                <div class="col-sm-8">
                    <input name="price2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">合同约定付款方式：</label>
                <div class="col-sm-8">
                    <input name="string4" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">采购单号：</label>
                <div class="col-sm-8">
                    <input name="string5" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">付款公司：</label>
                <div class="col-sm-8">
                    <input name="string6" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remark" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "fmis/cpayment"
        $("#form-data-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var vali = $.validate.form();
                console.log("vali=" + vali);
                if (vali) {
                    var dataObj = $('#form-data-add').serializeArray();
                    //计算是否正常
                    //特殊费用
                    var productIds = $("#contractIds").val();
                    var productArray = new Array();
                    var productIdsStrs = productIds.split(",");
                    for (var i = 0; i < productIdsStrs.length; i++) {
                        var productObj = new Object();
                        var productId = productIdsStrs[i];
                        productObj["string1"] = productId;
                        productObj["price1"] = $("#productNum_" + productId).val();
                        productObj["price2"] = $("#productPrice_" + productId).val();
                        productObj["remark"] = $("#productRemark_" + productId).val();
                        productArray.push(productObj);
                    }
                    dataObj.push({"name": "productParmters", "value": JSON.stringify(productArray)});
                    $.operate.save(prefix + "/add", dataObj);
                }
            }
        }

        $("input[name='datetime1']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='datetime2']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        function selectCustomer() {
            var widthNum = this.innerWidth - 50;
            var heigthNum = this.innerHeight - 50;
            var url = prefix + "/selectCustomer";
            $.modal.open("关联客户", url,widthNum, heigthNum);
        }

        function selectContract(type) {
            var url = prefix + "/selectContract";
            $("#productOperationType").val(type);
            var widthNum = this.innerWidth - 50;
            var heigthNum = this.innerHeight - 50;

            $.modal.open("关联合同", url,widthNum, heigthNum);
        }

        /**
         * 计算总额
         */
        function sumPrice (productId) {
            //getProductSum(productId);
            totalSumPrice();
        }

        function getProductSum (productId) {
            //产品数量 产品系数 价格
            var productNum = $("#productNum_" + productId).val();
            productNum = isEmpty(productNum) == true ? 0 : parseFloat(productNum);

            var productPrice = $("#productPrice_" + productId).val();

            productPrice = isEmpty(productPrice) == true ? 0 : parseFloat(productPrice);

            //合计总额 totalSum
            var productPrice = parseFloat(productPrice).toFixed(4);
            var productNum = parseFloat(productNum).toFixed(4);
            return productPrice + "#" + productNum;
        }

        function FloatAdd(arg1,arg2){
            var r1,r2,m;
            try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0}
            try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0}
            m=Math.pow(10,Math.max(r1,r2));
            return (arg1*m+arg2*m)/m;
        }

        function totalSumPrice () {
            //产品合计金额
            var productIds = $("#contractIds").val();
            var productIdsS = productIds.split(",");
            var productTotalPrice = 0;
            var totalPrice = 0;
            for (var i = 0; i < productIdsS.length; i++) {
                var productId = productIdsS[i];
                if (isEmpty(productId)) {
                    continue;
                }
                var totalSumStr = getProductSum(productId);
                console.log("totalSumStr:" + totalSumStr);
                var productPrice = totalSumStr.split("#")[0];
                productTotalPrice = FloatAdd(productTotalPrice,productPrice).toFixed(4);
            }
            console.log("delivery:productTotalPrice:" + productTotalPrice);
            totalPrice = parseFloat(productTotalPrice);
            $("#price1").val(parseFloat(totalPrice).toFixed(4));
        }

        function isEmpty(v) {
            return $.common.isEmpty(v);
        }

        function removeProject (productId) {

            $.modal.confirm("确定要删除该产品吗？", function() {
                $("#productDiv_" + productId).remove();
                var productIds = $("#productIds").val();
                var productNames = $("#productNames").val();
                var productIdsS = productIds.split(",");
                var productNamesS = productNames.split(",");
                for (var i = 0; i < productIdsS.length; i++) {
                    if (productId == productIdsS[i]) {
                        var productName = productNamesS[i];
                        productNamesS.splice(i,1);
                        productIdsS.splice(i,1);
                    } else {
                        sumPrice(productId);
                    }
                }
                $("#productIds").val(productIdsS.toString());
                $("#productNames").val(productNamesS.toString());
            });


        }

    </script>
</body>
</html>